<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">РЕЗЕРВ</div>
    <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
	  <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left;margin-top: 20px;margin-right: 10px;" ng-click="openBalance()">Баланс</button>
	    <dropdownsearch class="ng-isolate-scope" info="'Склад'" drop="infoData.StorageList"
                            data="infoData.StorageId" style="float:left;width: 175px;margin-right: 6px;" field-change="refreshTable('type')"></dropdownsearch>
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 500px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>