<form name="documents_item_form" name="documentsItemForm" ng-submit="submitForm()" class="logus-form">
    <div class="row">
        <div class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2"
             style="padding-top: 15px;padding-left: 15px;width: 60%;">Приходная накладная
        </div>
    </div>
    <div>
        <div class="row" style="padding-top: 0px; padding-left:15px; width: 100%;">
            <div class="row row-margin-top" style=" padding-left:0px; ">
                <div align="left" class="oneLiner"
                     style="float:left; width: 15%;margin-left: 17px; margin-right: 10px;">
                    <textinputnotcomma class="oneline-text-input"  info="'№ накладной'" data="formData.Number" field-change="checkNumbers('type')"></textinputnotcomma>
                </div>
                <div align="left" class="oneLiner " style="width: 15%; margin-right: 10px;">
                    <datepick class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="padding-top: 20px;" data="formData.Date" mask="'99.99.9999'" regex-name="'date'" ></datepick>
                </div>
                <div class="row" style="margin-left: 15px;margin-right:0px;">
                    <div class="bloks-header" style="padding-top: 5px;">Общая информация</div>
                </div>

                <div class="row" style="padding-top: 15px; padding-left:30px; ">
				
				 <div  align="left" class="oneLiner" style="float:left; width: 20%;margin-right: 10px">
                        <dropdownsearch class="row-margin-top" info="'Отделение'" drop="OrganzationsList"
                                        data="OrgId" field-change="changeOrg()" required></dropdownsearch>
                    </div>
				
                    <div align="left" class="oneLiner" style="float:left; width: 20%;margin-right: 10px">
                        <dropdownsearch class="row-margin-top" info="'Поставщик'" drop="infoData.ContractorsList"
                                        data="formData.ContractorsId" required></dropdownsearch>
                    </div>
                    <div align="left" class="oneLiner" style="float:left; width: 20%;margin-right: 10px">
                        <dropdownsearch class="row-margin-top" info="'Ответственный'" drop="infoData.StorageList"
                                        data="formData.StorageId" required></dropdownsearch>
                    </div>
                    <div align="left" class="oneLiner" style="float:left; width: 8%;margin-right: 0px;margin-top: 25px">
                     <input type="checkbox" ng-change="checkTorg12()" ng-model="formData.Torg12">ТОРГ-12
                    </div>
                </div>

                <div class="row" style="margin-left: 15px;">
                    <div class="bloks-header" style=" padding-top: 5px; width: 48%; margin-top: 10px;">ТМЦ
                    </div>
                    <div class="float-right row" style=" margin-right:15px; margin-top: -17px">
				        <button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px" ng-click="createAct()">Создать</button>	
                        <button type="button" class="logus-btn btn" style="margin-left: 5px; width: 120px;" ng-click="copyTaskRow()">Скопировать</button>
                        <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px" ng-click="saveAct()">Сохранить</button>
						<button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px" ng-click="deleteWork()">Удалить</button>
                        <!--button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px" ng-click="printBtn()">Печать</button-->
                    </div>
                </div>
                <div class="lists-grid-style-payments works-employees" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)" 
				style=" margin-left:15px;margin-top: 10px"></div>
            </div>
        </div>
    </div>
	<div class="float-right row footer-btns-background" style="text-align: left;padding-right: 25px;margin-top: 15px;">
    <div id="cost1"> </div>  
	<div id="cost2"> </div> 
	<div id="cost3"> </div> 
	 </div>
    <div class="float-right row footer-btns-background" style="text-align: right;padding-right: 25px;margin-top: 15px;">
        <button type="button" class="logus-btn btn" style="width: 99px;margin-right: 10px" ng-click="cancelClick()">Назад</button>
    </div>
</form>

<div class="hiddenDiv">
    <div id="actForm">

            <style>
                @media print{@page {size: landscape}}


                .hiddenDiv {
                    display: none;
                }
                .wrapAct{
                    width:297mm;

                    font-size: 12px;
                    font-family: "Times New Roman";
                    height:210mm;
                    margin:0;

                    position: relative;
                    font-size: 12px;
                }
                .line{
                    border-bottom: 1px solid black;
                    display: inline-block;
                }


                .header_left {
                    position: absolute;
                    left: 3mm;
                    top: 5mm;
                    text-align: center;
                }
                .header_right {
                    position: absolute;
                    right: 3mm;
                    top: 5mm;
                    text-align: center;
                }
                .main_header {
                    text-align: center;
                    font-size: 16px;
                    padding-top: 10mm;
                    font-weight: bold;
                }
                .wrapAct .header {
                    height: 28mm;
                }
                .header_number {
                    position: absolute;
                    right: 0;
                    top: 19mm;
                }

                .codes {}
                .codes_row, .any_row {
                    height: 4mm;
                    box-sizing: border-box;
                    line-height: 4mm;
                    border: 0.5mm solid transparent;
                }
                .clearfix:after {
                    content: ' ';
                    display: block;
                    clear: both;
                }

                .main_table {
                    border-collapse: collapse;
                    border: 1px solid black;
                    width: 100%;
                }
                .main_table td {
                    border: 1px solid black;
                    padding: 0 0.5mm;
                    font-size: 12px;
                }

                .rotate, .rotate_3, .rotate_s, .rotate_s3, .rotate_m, .rotate_m1 {
                    display: block;
                    transform: translate(0mm, 10mm) rotate(270deg);
                    white-space: nowrap;
                    width: 10mm;
                }
                .rotate_3 {
                    transform: translate(0mm, 9mm) rotate(270deg);
                    width: 13mm;
                }
                .rotate_m {
                    transform: translate(0mm, 7mm) rotate(270deg);
                }
				.rotate_m1 {
                    transform: translate(0mm, 15mm) rotate(270deg);
                }
                .rotate_s {
                    transform: translate(0mm, 4mm) rotate(270deg);
                }
                .rotate_s3 {
                    transform: translate(0mm, 2.5mm) rotate(270deg);
                    width: 13mm;
                }
                .flip-all {
                    -moz-transform: scale(-1, -1);
                    -webkit-transform: scale(-1, -1);
                    -o-transform: scale(-1, -1);
                    transform: scale(-1, -1);
                    filter: FlipA;
                    -ms-filter: "FlipA";
                }
            </style>

        <div class="wrapAct">
            <div class="header">
                <div class="header_left">
                    Согласовано <br>
                    Письмом Госкомстата России<br>
                    от 10.04.2003 № КЛ-01-21/1381
                </div>

                <div class="header_right">
                    Утверждено<br>
                    Приказом Минсельхоза России<br>
                    от 16.05.2003 № 750
                </div>

                <div class="main_header">
                    АКТ № <span class="line" style="width: 12mm;">{{data.Number}}</span><br/>
                    об использовании минеральных, органических <br/>
                    и бактериальных удобрений
                </div>

                <div class="header_number">
                    Форма № 420-АПК
                </div>
            </div>

            <div class="codes" style="width: 165mm; position: absolute; top: 30mm; left: 0;">
                <div style="float: left; width: 123mm;">
                    <div class="codes_row"></div>
                    <div style="border: 0.5mm solid transparent">
                        <div class="codes_row" style="text-align: right">Форма по ОКУД</div>
                        <div class="codes_row" style="text-align: right">Дата (число, месяц, год)</div>
                        <div class="codes_row">
                            Организация <span class="line" style="width: 89mm;">{{data.Organization}}</span><div style="float: right; height: 100%;">по ОКПО</div>
                        </div>
                        <div class="codes_row">
                            Структурное подразделение
                            <span class="line" style="width: 82mm; float: right;"></span>
                        </div>
                    </div>
                </div>
                <div style="float: right; width: 40mm; box-sizing: border-box;">
                    <div class="codes_row" style="border: 0.5mm solid black; border-bottom: 0; text-align: center">Коды</div>
                    <div style="border: 0.5mm solid black; width: 40.25mm; margin-left: -0.5mm;">
                        <div class="codes_row" style="border: 0.5mm solid black; border-bottom: 0; text-align: center"></div>
                        <div class="codes_row" style="border: 0.5mm solid black; border-bottom: 0;">
                            <div style="box-sizing: border-box; float: left; width: 33.33%; height: 100%; border-right: 0.5mm solid black; text-align: center">{{data.DateD}}</div>
                            <div style="box-sizing: border-box; float: left; width: 33.33%; height: 100%; border-right: 0.5mm solid black; text-align: center">{{data.DateM}}</div>
                            <div style="box-sizing: border-box; float: left; width: 33.33%; height: 100%; text-align: center">{{data.DateY}}</div>
                        </div>
                        <div class="codes_row" style="border: 0.5mm solid black; border-bottom: 0; text-align: center"></div>
                        <div class="codes_row" style="border: 0.5mm solid black; text-align: center"></div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; right: 0; top: 29mm; width: 70mm;">
                <div style="text-align: center;">Утверждаю</div>
                <div>Руководитель</div>
                <div class="clearfix" style="margin-bottom: 2mm;">
                    <div style="width: 26mm; float: left">
                        <span class="line" style="width: 100%">&nbsp;</span>
                        <div style="text-align: center; font-size: 10px; line-height: 12px;">(личная подпись)</div>
                    </div>

                    <div style="width: 41mm; float: right">
                        <span class="line" style="width: 100%">{{data.ResponsibleName}}</span>
                        <div style="text-align: center; font-size: 10px; line-height: 12px;">(расшифровка подписи)</div>
                    </div>
                </div>
                <div style="text-align: center">
                    &quot;<span class="line" style="width: 8mm; text-align: center"></span>&quot; <span class="line" style="width: 25mm; text-align: center; margin: 0 1mm"></span>
                    201<span class="line" style="padding: 0 0.5mm;"></span> г.
                </div>

                <div style="margin-top: 5mm;">
                    <div style="float: left; width: 32mm;">
                        <div class="any_row" style="text-align: right;">Дата</div>
                        <div class="any_row" style="text-align: right;">Отделение (участок)</div>
                        <div class="any_row" style="text-align: right;">Бригада</div>
                        <div class="any_row" style="text-align: right;">Звено</div>
                    </div>

                    <div style="float: right; width: 35mm;">
                        <div class="any_row" style="text-align: center; border: 0.5mm solid black; border-bottom: 0"></div>
                        <div class="any_row" style="text-align: center; border: 0.5mm solid black; border-bottom: 0"></div>
                        <div class="any_row" style="text-align: center; border: 0.5mm solid black; border-bottom: 0"></div>
                        <div class="any_row" style="text-align: center; border: 0.5mm solid black;"></div>
                    </div>
                </div>

            </div>

            <div style="position: absolute; top: 57mm; left: 0; width: 205mm;">
                <div style="margin-bottom: 5mm;">
                    Дата утверждения <span class="line" style="width: 35mm; text-align: center"></span>
                    Внесено на землях
        <span class="line" style="width: 110mm; text-align: center; position: relative;">
            {{data.SoilTypeName}}
            <span style="font-size: 10px; line-height: 12px; position: absolute; left: 0; right: 0; top: 16px;">(орошаемых, неорошаемых, осушенных)</span>
        </span>
                </div>

                <div style="width: 180mm;">
                    <div style="margin-bottom: 1mm;">
                        Назначение и способ применения удобрений (ядохимикатов, гербицидов)
                        <span class="line" style="width: 75mm; float: right; text-align: center"></span>
                    </div>
                    <div>
                        <div style="float: left;">
                            Удобрения внесены под урожай <span class="line" style="width: 30mm; text-align: center"></span> г.
                        </div>
                        <div style="float: right;">
                            Получатель
                            <span class="line" style="width: 50mm; text-align: center">{{data.RecipientName}}</span>
                        </div>
                    </div>

                </div>
            </div>

            <div style="height: 53mm;"></div>

            <table cellpadding="0" cellspacing="0" class="main_table">
                <tr>
                    <td rowspan="3" style="text-align: center">Название удобрений, ядохимикатов, гербицитов</td>
                    <td rowspan="3"><span class="rotate_3">Процент <br/> действующего<br/> вещества</span></td>
                    <td rowspan="2" style="text-align: center">Коррес- <br/>понденция<br/> счетов</td>
                    <td rowspan="3" style="height: 32mm;"><span class="rotate">Единица измерений <br/> по ОКЕИ</span></td>
                    <td rowspan="3"><span class="rotate">Цена в рублях</span></td>
                    <td colspan="16" style="text-align: center; height: 7mm;">Номер поля, название культуры и шифр синтетического и аналитического учета (дебет)</td>
                </tr>
                <tr>
                    <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[0]}}</td>
                    <!-- <td rowspan="2"><span class="rotate_m">Сумма в рублях</span></td> -->
                    <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[1]}}</td>
                    <!-- <td rowspan="2"><span class="rotate_m">Сумма в рублях</span></td> -->
                    <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[2]}}</td>
                    <!-- <td rowspan="2"><span class="rotate_m">Сумма в рублях</span></td> -->
                    <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[3]}}</td>
                    <!-- <td rowspan="2"><span class="rotate_m">Сумма в рублях</span></td> -->
                </tr>
                <tr>
                    <td style="text-align: center">кредит</td>
                    <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                    <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                    <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
					<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                    <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                    <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                    <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
					<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                    <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                    <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                    <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
					<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                    <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                    <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                    <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
					<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                </tr>
                <tr>
                    <td>{{data.Materials[0].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[0].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[0].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[0].PlantsValue[0].Summ}}</td>
 
                    <td>{{data.Materials[0].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[0].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[0].PlantsValue[1].Summ}}</td>
                  
                    <td>{{data.Materials[0].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[0].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[0].PlantsValue[2].Summ}}</td>
                 
                    <td>{{data.Materials[0].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[0].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[0].PlantsValue[3].Summ}}</td>
                
                </tr>
                <tr>
                    <td>{{data.Materials[1].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[1].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[1].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[1].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[1].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[1].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[1].PlantsValue[1].Summ}}</td>
                
                    <td>{{data.Materials[1].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[1].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[1].PlantsValue[2].Summ}}</td>
                  
                    <td>{{data.Materials[1].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[1].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[1].PlantsValue[3].Summ}}</td>
                </tr>
               <tr>
                    <td>{{data.Materials[2].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[2].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[2].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[2].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[2].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[2].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[2].PlantsValue[1].Summ}}</td>
                
                    <td>{{data.Materials[2].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[2].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[2].PlantsValue[2].Summ}}</td>
                  
                    <td>{{data.Materials[2].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[2].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[2].PlantsValue[3].Summ}}</td>
                </tr>
                 <tr>
                    <td>{{data.Materials[3].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[3].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[3].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[3].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[3].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[3].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[3].PlantsValue[1].Summ}}</td>
                
                    <td>{{data.Materials[3].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[3].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[3].PlantsValue[2].Summ}}</td>
                  
                    <td>{{data.Materials[3].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[3].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[3].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[4].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[4].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[4].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[4].PlantsValue[0].Summ}}</td>
                   
                    <td>{{data.Materials[4].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[4].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[4].PlantsValue[1].Summ}}</td>
                  
                    <td>{{data.Materials[4].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[4].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[4].PlantsValue[2].Summ}}</td>
                  
                    <td>{{data.Materials[4].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[4].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[4].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[5].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[5].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[5].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[5].PlantsValue[0].Summ}}</td>
                   
                    <td>{{data.Materials[5].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[5].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[5].PlantsValue[1].Summ}}</td>
                 
                    <td>{{data.Materials[5].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[5].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[5].PlantsValue[2].Summ}}</td>
                   
                    <td>{{data.Materials[5].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[5].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[5].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[6].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[6].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[6].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[6].PlantsValue[0].Summ}}</td>
                
                    <td>{{data.Materials[6].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[6].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[6].PlantsValue[1].Summ}}</td>
                
                    <td>{{data.Materials[6].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[6].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[6].PlantsValue[2].Summ}}</td>
                   
                    <td>{{data.Materials[6].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[6].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[6].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[7].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[7].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[7].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[7].PlantsValue[0].Summ}}</td>
                
                    <td>{{data.Materials[7].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[7].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[7].PlantsValue[1].Summ}}</td>
                 
                    <td>{{data.Materials[7].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[7].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[7].PlantsValue[2].Summ}}</td>
           
                    <td>{{data.Materials[7].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[7].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[7].PlantsValue[3].Summ}}</td>
                
                </tr>
                  <tr>
                    <td>{{data.Materials[8].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[8].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[8].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[8].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[8].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[8].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[8].PlantsValue[1].Summ}}</td>
                
                    <td>{{data.Materials[8].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[8].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[8].PlantsValue[2].Summ}}</td>
                  
                    <td>{{data.Materials[8].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[8].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[8].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[9].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[9].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[9].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[9].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[9].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[9].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[9].PlantsValue[1].Summ}}</td>
                 
                    <td>{{data.Materials[9].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[9].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[9].PlantsValue[2].Summ}}</td>
                    
                    <td>{{data.Materials[9].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[9].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[9].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[10].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[10].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[10].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[10].PlantsValue[0].Summ}}</td>
               
                    <td>{{data.Materials[10].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[10].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[10].PlantsValue[1].Summ}}</td>
                 
                    <td>{{data.Materials[10].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[10].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[10].PlantsValue[2].Summ}}</td>
                 
                    <td>{{data.Materials[10].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[10].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[10].PlantsValue[3].Summ}}</td>
                </tr>
                <tr>
                    <td>{{data.Materials[11].Name}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>{{data.Materials[11].PlantsValue[0].Area}}</td>
                    <td>{{data.Materials[11].PlantsValue[0].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[11].PlantsValue[0].Summ}}</td>
                 
                    <td>{{data.Materials[11].PlantsValue[1].Area}}</td>
                    <td>{{data.Materials[11].PlantsValue[1].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[11].PlantsValue[1].Summ}}</td>
                 
                    <td>{{data.Materials[11].PlantsValue[2].Area}}</td>
                    <td>{{data.Materials[11].PlantsValue[2].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[11].PlantsValue[2].Summ}}</td>
                 
                    <td>{{data.Materials[11].PlantsValue[3].Area}}</td>
                    <td>{{data.Materials[11].PlantsValue[3].Count}}</td>
					 <td>&nbsp;</td>
                    <td>{{data.Materials[11].PlantsValue[3].Summ}}</td>
                </tr>


            </table>

        </div>

        <div style="height: 5mm;"></div>


        <!------------------------------------------------------- Page break ---------------------------------------------------------------->
        <div style="page-break-after: always;"></div>

        <div style="position:absolute; top:190mm;" class="flip-all">
            <div class="wrapAct">
                <div style="text-align: right; margin-bottom: 3mm;">Оборотная сторона формы № 420-АПК</div>
                <table cellpadding="0" cellspacing="0" class="main_table">
                    <tr>
                        <td rowspan="3" style="text-align: center">Название удобрений, ядохимикатов, гербицитов</td>
                        <td rowspan="3"><span class="rotate_3">Процент <br/> действующего<br/> вещества</span></td>
                        <td rowspan="2" style="text-align: center">Коррес- <br/>понденция<br/> счетов</td>
                        <td rowspan="3" style="height: 32mm;"><span class="rotate_m1">Единица измерений <br/> по ОКЕИ</span></td>
                        <td rowspan="3"><span class="rotate_m1">Цена в рублях</span></td>
                        <td colspan="16" style="text-align: center; height: 7mm;">Номер поля, название культуры и шифр синтетического и аналитического учета (дебет)</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[4]}}</td>
                        <!-- <td rowspan="2"> <span class="rotate_m1">Сумма в рублях</span></td> -->
                        <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[5]}}</td>
                       <!--  <td rowspan="2"><span class="rotate_m1">Сумма в рублях</span></td> -->
                        <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[6]}}</td>
                        <!-- <td rowspan="2"><span class="rotate_m1">Сумма в рублях</span></td> -->
                        <td colspan="4" style="white-space: nowrap;">{{data.PlantAndFields[7]}}</td>
                        <!-- <td rowspan="2"><span class="rotate_m1">Сумма в рублях</span></td> -->
                    </tr>
                    <tr>
                        <td style="text-align: center">кредит</td>
                        <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                        <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                        <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
						<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                        <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                        <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                        <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
						<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                        <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                        <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                        <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
						<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                        <td><span class="rotate_s">Внесено на <br/> площадь, га</span></td>
                        <td><span class="rotate_s">Количество <br/> (физических)</span></td>
                        <td style="height: 22mm;"><span class="rotate_s3">В переводе на <br/> действующее <br/> вещество</span></td>
						<td> <span class="rotate_s">Сумма в <br/> рублях</span></td>
                    </tr>
                    <tr>
                        <td>{{data.Materials2[0].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[0].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[0].PlantsValue[0].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[0].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[0].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[0].PlantsValue[1].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[0].PlantsValue[1].Summ}}</td>
                   
                        <td>{{data.Materials2[0].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[0].PlantsValue[2].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[0].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[0].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[0].PlantsValue[3].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[0].PlantsValue[3].Summ}}</td>
                    </tr>
                    <tr>
                        <td>{{data.Materials2[1].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[1].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[1].PlantsValue[0].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[1].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[1].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[1].PlantsValue[1].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[1].PlantsValue[1].Summ}}</td>
                     
                        <td>{{data.Materials2[1].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[1].PlantsValue[2].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[1].PlantsValue[2].Summ}}</td>
                       
                        <td>{{data.Materials2[1].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[1].PlantsValue[3].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[1].PlantsValue[3].Summ}}</td> 
                    </tr>
                     <tr>
                        <td>{{data.Materials2[2].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[2].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[2].PlantsValue[0].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[2].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[2].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[2].PlantsValue[1].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[2].PlantsValue[1].Summ}}</td>
                       
                        <td>{{data.Materials2[2].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[2].PlantsValue[2].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[2].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[2].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[2].PlantsValue[3].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[2].PlantsValue[3].Summ}}</td> 
                    </tr>
                     <tr>
                        <td>{{data.Materials2[3].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[3].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[3].PlantsValue[0].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[3].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[3].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[3].PlantsValue[1].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[3].PlantsValue[1].Summ}}</td>
                      
                        <td>{{data.Materials2[3].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[3].PlantsValue[2].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[3].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[3].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[3].PlantsValue[3].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[3].PlantsValue[3].Summ}}</td> 
                    </tr>
                      <tr>
                        <td>{{data.Materials2[4].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[4].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[4].PlantsValue[0].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[4].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[4].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[4].PlantsValue[1].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[4].PlantsValue[1].Summ}}</td>
                      
                        <td>{{data.Materials2[4].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[4].PlantsValue[2].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[4].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[4].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[4].PlantsValue[3].Count}}</td>
						 <td>&nbsp;</td>
                        <td>{{data.Materials2[4].PlantsValue[3].Summ}}</td> 
                    </tr>
                     <tr>
                        <td>{{data.Materials2[5].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[5].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[5].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[5].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[5].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[5].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[5].PlantsValue[1].Summ}}</td>
                     
                        <td>{{data.Materials2[5].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[5].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[5].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[5].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[5].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[5].PlantsValue[3].Summ}}</td> 
                    </tr>
                    <tr>
                        <td>{{data.Materials2[6].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[6].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[6].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[6].PlantsValue[0].Summ}}</td>
                     
                        <td>{{data.Materials2[6].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[6].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[6].PlantsValue[1].Summ}}</td>
                   
                        <td>{{data.Materials2[6].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[6].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[6].PlantsValue[2].Summ}}</td>
                       
                        <td>{{data.Materials2[6].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[6].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[6].PlantsValue[3].Summ}}</td>
                    </tr>
                      <tr>
                        <td>{{data.Materials2[7].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[7].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[7].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[7].PlantsValue[0].Summ}}</td>
                      
                        <td>{{data.Materials2[7].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[7].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[7].PlantsValue[1].Summ}}</td>
                      
                        <td>{{data.Materials2[7].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[7].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[7].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[7].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[7].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[7].PlantsValue[3].Summ}}</td> 
                    </tr>
                      <tr>
                        <td>{{data.Materials2[8].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[8].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[8].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[8].PlantsValue[0].Summ}}</td>
                     
                        <td>{{data.Materials2[8].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[8].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[8].PlantsValue[1].Summ}}</td>
                     
                        <td>{{data.Materials2[8].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[8].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[8].PlantsValue[2].Summ}}</td>
                    
                        <td>{{data.Materials2[8].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[8].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[8].PlantsValue[3].Summ}}</td>
                    </tr>
                     <tr>
                        <td>{{data.Materials2[9].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[9].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[9].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[9].PlantsValue[0].Summ}}</td>
                   
                        <td>{{data.Materials2[9].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[9].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[9].PlantsValue[1].Summ}}</td>
                    
                        <td>{{data.Materials2[9].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[9].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[9].PlantsValue[2].Summ}}</td>
                     
                        <td>{{data.Materials2[9].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[9].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[9].PlantsValue[3].Summ}}</td>
                    </tr>
                    <tr>
                        <td>{{data.Materials2[10].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[10].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[10].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[10].PlantsValue[0].Summ}}</td>
                  
                        <td>{{data.Materials2[10].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[10].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[10].PlantsValue[1].Summ}}</td>
                     
                        <td>{{data.Materials2[10].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[10].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[10].PlantsValue[2].Summ}}</td>
                     
                        <td>{{data.Materials2[10].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[10].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[10].PlantsValue[3].Summ}}</td>
                    </tr>
                    <tr>
                        <td>{{data.Materials2[11].Name}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{data.Materials2[11].PlantsValue[0].Area}}</td>
                        <td>{{data.Materials2[11].PlantsValue[0].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[11].PlantsValue[0].Summ}}</td>
                       
                        <td>{{data.Materials2[11].PlantsValue[1].Area}}</td>
                        <td>{{data.Materials2[11].PlantsValue[1].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[11].PlantsValue[1].Summ}}</td>
                       
                        <td>{{data.Materials2[11].PlantsValue[2].Area}}</td>
                        <td>{{data.Materials2[11].PlantsValue[2].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[11].PlantsValue[2].Summ}}</td>
                      
                        <td>{{data.Materials2[11].PlantsValue[3].Area}}</td>
                        <td>{{data.Materials2[11].PlantsValue[3].Count}}</td> <td>&nbsp;</td>
                        <td>{{data.Materials2[11].PlantsValue[3].Summ}}</td>
                    </tr>


                </table>

                <div style="margin-top: 10mm;">
                    <div style="margin-bottom: 5mm;">
                        Удобренная физическая площадь минеральными удобрениями под урожай <span class="line" style="width: 30mm; text-align: center;"></span> 20<span class="line" style="padding: 0 1mm; text-align: center;"></span> г. в первый раз <span class="line" style="width: 30mm; text-align: center;"></span> га.
                        Приложение <span class="line" style="width: 30mm; text-align: center;"></span> расходных документов.
                    </div>
                    <div style="margin-bottom: 10mm;">
                        <strong>Агроном</strong>
            <span class="line" style="width: 40mm; margin-right: 10mm; position: relative; text-align: center">
                &nbsp;
                <span style="font-size: 10px; line-height: 12px; position: absolute; left: 0; right: 0; top: 16px;">(личная подпись)</span>
            </span>
            <span class="line" style="width: 70mm; margin-right: 10mm; position: relative; text-align: center">
                &nbsp;
                <span style="font-size: 10px; line-height: 12px; position: absolute; left: 0; right: 0; top: 16px;">(расшифровка подписи)</span>
            </span>
                    </div>
                    <div style="margin-bottom: 5mm;">
                        В бухгалтерских документах движение ценностей отражено
                        <span class="line" style="width: 160mm;">&nbsp;</span>
                    </div>
                    <div style="margin-bottom: 0mm;">
                        <strong>Главный бухгалтер</strong>
            <span class="line" style="width: 40mm; margin-right: 10mm; position: relative; text-align: center">
                &nbsp;
                <span style="font-size: 10px; line-height: 12px; position: absolute; left: 0; right: 0; top: 16px;">(личная подпись)</span>
            </span>
            <span class="line" style="width: 70mm; margin-right: 10mm; position: relative; text-align: center">
                &nbsp;
                <span style="font-size: 10px; line-height: 12px; position: absolute; left: 0; right: 0; top: 16px;">(расшифровка подписи)</span>
            </span>
                    </div>
                </div>
            </div>
        </div></div>


    </div>
</div>