<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
   <div class="logus-headers" style="padding-top: 15px">НАРЯДЫ НА РЕМОНТ
        <div class="float-right" style="float: right; margin-left: 15px;">
			 <button type="button" class="logus-btn btn float-right" style="margin-right: 310px;"
                        ng-click="closeBtnClick()">Закрыть
              </button>
				 <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="printBtnClick()">Печать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="deleteAct()">Удалить
                </button>
                <button id="edit"  type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="editBtnClick()">Редактировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="createIncomingAct()">Coздать
                </button>
            </div>
   </div>
       <div style="height: 60px;margin-top:20px;">
			<div id="openRepair" align="left" class="oneLiner" style="float:left; width: 8%;margin-top: 20px">
                     <input  type="checkbox" ng-change="openRepair()" ng-model="formData.OpenRepair">Открытые 
            </div>
			<doubledatepick id="datepick" style="width: 265px;float: left;margin-right: 0px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.repairStartDate"
                                    datasecond="formData.repairEndDate" start-Date-change="dateChangeSpareParts(formData.repairStartDate)" 
									End-Date-change="dateChangeSpareParts(formData.repairEndDate)"></doubledatepick>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 25%;margin-right: -5px;">					
			<div class="logus-text ng-binding">Гос.№/TC/Оборудование</div>
			<input ng-model="filterText" placeholder="" style="width: 240px;margin-right: 6px;" class="logus-input" ng-change="search()"/>
			</div>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 20%;margin-right: 10px;">
			<div class="logus-text ng-binding">№ НР</div>
			<input ng-model="filterText2" placeholder="" style="width: 120px;margin-right: 6px;" class="logus-input" ng-change="search2()"/>
			</div>
         
        </div>
    <div class="tc-block">
        <div style="width: 100%; height: 550px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
	    <div class="hiddenDiv">
		<div id="SpareParts" class="wrapDriverWayBill">
			<style type="text/css">
                @media print {
                    @page {
                        size: portrait
                    }
                }

                .hiddenDiv {
                    display: none;
                }

                body {
                    /*  font-size: 12px;
                      height: 210mm;
                      margin: 0;*/
                }

                .wrapDriverWayBill {
                    width: 297mm;

                    position: relative;
                    font-size: 12px;
                }

                .tpl_small_header {
                    border-width: thin;
                    border-style: solid;
                    border-color: black;
                    height: 4mm;
                    vertical-align: middle;
                    text-align: center;
                }

                .tpl_row_no_border {
                    height: 4mm;
                    vertical-align: middle;
                    padding-top: 0.5mm;
                    font-size: 12px;
                }

                .tpl_small2 {
                    border-width: thin;
                    border-style: solid;
                    border-color: black;
                    height: 6mm;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 12px;
                }

                .line {
                    border-bottom: 1px solid black;
                    display: inline-block;
                    font-size: 12px;
                }

                .text_align_td td {
                    text-align: left;
                    font-size: 12px;
                }

                .flip-all table td {
                    height: 4mm;
                    font-size: 12px;
                }

                .flip-vertical {
                    -moz-transform: scale(1, -1);
                    -webkit-transform: scale(1, -1);
                    -o-transform: scale(1, -1);
                    transform: scale(1, -1);
                    filter: FlipV;
                    -ms-filter: "FlipV";
                }

                .flip-horizontal {
                    -moz-transform: scale(-1, 1);
                    -webkit-transform: scale(-1, 1);
                    -o-transform: scale(-1, 1);
                    transform: scale(-1, 1);
                    filter: FlipH;
                    -ms-filter: "FlipH";
                }

                .flip-all {
                    -moz-transform: scale(-1, -1);
                    -webkit-transform: scale(-1, -1);
                    -o-transform: scale(-1, -1);
                    transform: scale(-1, -1);
                    filter: FlipA;
                    -ms-filter: "FlipA";
                }
            </style>

            <div class="header">
                <div style="width: 100%; margin: 0 auto; text-align:center;">
                    <span>Наряд-заказ на ремонт техники №{{data.query1[0].NumberAct}}</span><br>
				</div>
			</div>
			<div style="margin-top: 6mm;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="20%">Марка ТС/СХМ</td>
							<td style="text-align:left;"> {{data.query1[0].CarsName}} - {{data.query1[0].EqName}}</td>
                        </tr>
                        <tr>
					</table>
			</div>
 
 			<div style="margin-top: 4mm;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="20%">Гос. номер</td>
							<td style="text-align:left;"> {{data.query1[0].ReqNum}}</td>
                        </tr>
                        <tr>
				</table>
			</div>
 
 			<div style="margin-top: 4mm;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="20%">Пробег</td>
							<td width="30%">{{data.query1[0].Mileage}}</td>
							<td width="20%">Моточасы</td>
							<td>{{data.query1[0].MotoHours}}</td>
                        </tr>
                        <tr>
					</table>
			</div>
 
  			<div style="margin-top: 4mm;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="20%">Открывающий наряд (Ответственный)</td>
							<td width="15%">ФИО</td>
							<td style="text-align:left;"> {{data.query1[0].Employee}}</td>
                        </tr>
                        <tr>
					</table>
			</div>
 
   			<div style="margin-top: 4mm;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr style="height:10mm">
                            <td width="20%">Заказчик</td>
							<td width="15%">ФИО</td>
							<td></td>
                        </tr>
                        <tr>
					</table>
					<div style="margin-left:38.7mm">
						<table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="102mm">Тел.</td>
							<td></td>
							 </tr>
                       
						</table>
					</div>
			</div>

				<div style="margin-top: 4mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;">Вид ремонта (отметить):</div>
				<div class="cell"
                     style="margin-top: 3mm;width: 5mm;height:5mm; border: 1px solid black;float:left;font-size: 16px;text-align:center">{{data.query1[0].RepairsTypeMark[0]}}</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 3px;font-size: 14px;">Плановый</div>
				<div class="cell"
                     style="margin-top: 3mm;width: 5mm;height:5mm; border: 1px solid black;float:left;font-size: 16px;text-align:center">{{data.query1[0].RepairsTypeMark[1]}}</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 3px;font-size: 14px;">Внеплановый</div>	
				<div class="cell"
                     style="margin-top: 3mm;width: 5mm;height:5mm; border: 1px solid black;float:left;font-size: 16px;text-align:center">{{data.query1[0].RepairsTypeMark[2]}}</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 3px;font-size: 14px;">Внеплановый экстренный</div>	
								<div class="cell"
                     style="margin-top: 3mm;width: 5mm;height:5mm; border: 1px solid black;float:left;font-size: 16px;text-align:center">{{data.query1[0].RepairsTypeMark[3]}}</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 3px;font-size: 14px;">Плановое ТО</div>	
				
				<div style="width:100%;margin-top: 4mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;text-align:left;">Причина обращения:</div>				

				<div style="width:100%;float:left;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="10%">№ п/п</td>
							<td>Предполагаемая неисправность</td>
                        </tr>
						<tr style="height:5mm">
							<td>{{data.query2[0].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[0].DefectName}}</td>
						</tr>
						<tr style="height:5mm">
							<td>{{data.query2[1].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[1].DefectName}}</td>						
						</tr>
						<tr style="height:5mm">
							<td>{{data.query2[2].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[2].DefectName}}</td>						
						</tr> 
						<tr style="height:5mm">
							<td>{{data.query2[3].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[3].DefectName}}</td>						
						</tr>
						<tr style="height:5mm">
							<td>{{data.query2[4].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[4].DefectName}}</td>						
						</tr>
						<tr style="height:5mm">
							<td>{{data.query2[5].DefectId}}</td>
							<td style="text-align:left;"> {{data.query2[5].DefectName}}</td>						
						</tr>						
					</table>
				</div>
 
				<div style="width:100%;margin-top: 4mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;text-align:left;">Результат диагностики, осмотра:</div>				

				<div style="width:100%;float:left;">
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="10%">№ п/п</td>
							<td width="35%">Неисправность</td>
							<td width="35%">Наименовние работ</td>
							<td width="20%">Предв. срок ремонта в сменах</td>
                        </tr>
						<tr style="height:5mm">
							<td>{{data.query3[0].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[0].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[0].TaskName}}</td>
							<td></td>
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[1].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[1].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[1].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[2].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[2].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[2].TaskName}}</td>
							<td></td>							
						</tr> 
						<tr style="height:5mm">
							<td>{{data.query3[3].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[3].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[3].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[4].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[4].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[4].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[5].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[5].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[5].TaskName}}</td>
							<td></td>								
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[6].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[6].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[6].TaskName}}</td>
							<td></td>	
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[7].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[7].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[7].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[8].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[8].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[8].TaskName}}</td>
							<td></td>							
						</tr> 
						<tr style="height:5mm">
							<td>{{data.query3[9].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[9].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[9].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[10].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[10].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[10].TaskName}}</td>
							<td></td>								
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[11].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[11].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[11].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[12].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[12].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[12].TaskName}}</td>
							<td></td>	
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[13].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[13].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[13].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[14].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[14].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[14].TaskName}}</td>
							<td></td>							
						</tr> 
						<tr style="height:5mm">
							<td>{{data.query3[15].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[15].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[15].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[16].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[16].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[16].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[17].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[17].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[17].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[18].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[18].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[18].TaskName}}</td>
							<td></td>							
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[19].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[19].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[19].TaskName}}</td>
							<td></td>							
						</tr> 
						<tr style="height:5mm">
							<td>{{data.query3[20].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[20].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[20].TaskName}}</td>
							<td></td>								
						</tr>
<!-- 						<tr style="height:5mm">
							<td>{{data.query3[21].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[21].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[21].TaskName}}</td>
							<td></td>								
						</tr>
						<tr style="height:5mm">
							<td>{{data.query3[22].DefectId}}</td>
							<td style="text-align:left;"> {{data.query3[22].DefectName}}</td>
							<td style="text-align:left;"> {{data.query3[22].TaskName}}</td>
							<td></td>							
						</tr> -->						
					</table>
				</div>
 
				<div style="margin-top: 4mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;text-align:left;">Подпись Отвественного  _____________________</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 100px;font-size: 14px;">Подпись Заказчика _____________________</div>
            			
 

            <!------------------------------------------------------- Page break ---------------------------------------------------------------->
            <!--<div style="page-break-after: always;"></div>-->

            <div style="position:absolute;bottom:-265mm;" >
				<div style="width:100%;margin-top: 6mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;text-align:left;">Необходимые для ремонта з/части и материалы:</div>	
                    <table border="1" cellpadding="3" cellspacing="0"
                           style="width:100%;text-align: center; font-size: 14px;  border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <td width="10%">№ п/п</td>
							<td width="40%">Наименовние</td>
							<td width="25%">Кол-во</td>
							<td width="25%">Статус</td>
                        </tr>
						<tr style="height:7mm">
							<td>{{data.query4[0].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[0].SpareName}}</td>
							<td>{{data.query4[0].Count}}</td>
							<td></td>
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[1].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[1].SpareName}}</td>
							<td>{{data.query4[1].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[2].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[2].SpareName}}</td>
							<td>{{data.query4[2].Count}}</td>
							<td></td>						
						</tr> 
						<tr style="height:7mm">
							<td>{{data.query4[3].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[3].SpareName}}</td>
							<td>{{data.query4[3].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[4].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[4].SpareName}}</td>
							<td>{{data.query4[4].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[5].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[5].SpareName}}</td>
							<td>{{data.query4[5].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[6].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[6].SpareName}}</td>
							<td>{{data.query4[6].Count}}</td>
							<td></td>
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[7].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[7].SpareName}}</td>
							<td>{{data.query4[7].Count}}</td>
							<td></td>					
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[8].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[8].SpareName}}</td>
							<td>{{data.query4[8].Count}}</td>
							<td></td>						
						</tr> 
						<tr style="height:7mm">
							<td>{{data.query4[9].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[9].SpareName}}</td>
							<td>{{data.query4[9].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[10].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[10].SpareName}}</td>
							<td>{{data.query4[10].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[11].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[11].SpareName}}</td>
							<td>{{data.query4[11].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[12].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[12].SpareName}}</td>
							<td>{{data.query4[12].Count}}</td>
							<td></td>
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[13].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[13].SpareName}}</td>
							<td>{{data.query4[13].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[14].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[14].SpareName}}</td>
							<td>{{data.query4[14].Count}}</td>
							<td></td>							
						</tr> 
						<tr style="height:7mm">
							<td>{{data.query4[15].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[15].SpareName}}</td>
							<td>{{data.query4[15].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[16].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[16].SpareName}}</td>
							<td>{{data.query4[16].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[17].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[17].SpareName}}</td>
							<td>{{data.query4[17].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[18].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[18].SpareName}}</td>
							<td>{{data.query4[18].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[19].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[19].SpareName}}</td>
							<td>{{data.query4[19].Count}}</td>
							<td></td>							
						</tr> 
						<tr style="height:7mm">
							<td>{{data.query4[20].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[20].SpareName}}</td>
							<td>{{data.query4[20].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[21].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[21].SpareName}}</td>
							<td>{{data.query4[21].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[22].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[22].SpareName}}</td>
							<td>{{data.query4[22].Count}}</td>
							<td></td>							
						</tr>	
						<tr style="height:7mm">
							<td>{{data.query4[23].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[23].SpareName}}</td>
							<td>{{data.query4[23].Count}}</td>
							<td></td>
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[24].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[24].SpareName}}</td>
							<td>{{data.query4[24].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[25].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[25].SpareName}}</td>
							<td>{{data.query4[25].Count}}</td>
							<td></td>							
						</tr> 
						<tr style="height:7mm">
							<td>{{data.query4[26].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[26].SpareName}}</td>
							<td>{{data.query4[26].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[27].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[27].SpareName}}</td>
							<td>{{data.query4[27].Count}}</td>
							<td></td>							
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[28].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[28].SpareName}}</td>
							<td>{{data.query4[28].Count}}</td>
							<td></td>						
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[29].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[29].SpareName}}</td>
							<td>{{data.query4[29].Count}}</td>
							<td></td>
						</tr>
						<tr style="height:7mm">
							<td>{{data.query4[30].SpareId}}</td>
							<td style="text-align:left;"> {{data.query4[30].SpareName}}</td>
							<td>{{data.query4[30].Count}}</td>
							<td></td>						
						</tr>
					
					</table>
					
				<div style="margin-top: 4mm;float:left;padding-left: 10px;padding-right: 20px;font-size: 14px;text-align:left;">Подпись Отвественного  _____________________</div>
				<div style="margin-top: 4mm;float:left;padding-right: 20px;padding-left: 100px;font-size: 14px;">Подпись Заказчика _____________________</div>
            </div>
        </div>
    </div>
</form>

