<form id="documents_list_form" name="documentsListForm" ng-submit="submitForm()" class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">НАРЯД НА РЕМОНТ № {{formData.RepairNumber}}</div>
    <div style="height: 200px;">
        <div class="bloks-header row-margin-top">Общая информация</div>
        <div class="row-margin-top first_row_driver_way_bill">
		 <div style="width: 120px; float: left;">
            <!--textinput  class="num_driver_way_bill" info="'№ наряда'" data="formData.RepairNumber" readonly="formData.IsRepair"></textinput-->
			<div class="logus-text">№ наряда</div>
		  <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.RepairNumber">
			</div>
             <div style="width: 130px; float: left; margin-left: 10px;">
			 <div class="logus-text" style="margin-right: 5px;">
                Дата создания
            </div>
            <datepick class="logus-headers"
                      style="" data="formData.dateStart"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="dateChangeSpareParts(data)"></datepick>
			</div>
			
			 <div style="width: 130px; float: left; margin-left: 30px;">
			 
			 <div class="logus-text" style="margin-right: 5px;">
                Дата открытия
            </div>
            <input ng-show="checkDaily == 'No'"  type="text" class="logus-input" datepicker-popup="{{'dd.MM.yyyy'}}" datepicker-options="dateOptions" ng-model="formData.dateOpen" is-open="opened" readonly="true" 
             ng-required="true" /> 
            <datepick ng-show="checkDaily == 'Yes'" class="logus-headers"
                      style="" data="formData.dateOpen1"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="dateChangeSpareParts(data)"></datepick>
					  
			</div>
			<div style="width: 130px; float: left; margin-left: 20px;">
				<div  class="logus-text" style="margin-right: 5px;">
                   Дата закрытия
                    </div>
					 <div >
					 <input ng-show="checkDaily == 'No'"  type="text" class="logus-input" datepicker-popup="{{'dd.MM.yyyy'}}" datepicker-options="dateOptions" ng-model="formData.dateEnd" is-open="opened" readonly="true" 
             ng-required="true" /> 
			   </div>
            <datepick ng-show="checkDaily == 'Yes'"  class="logus-headers"
                      style="" data="formData.dateEnd1"
                      mask="'99.99.9999'"
             regex-name="'date'" date-change="dateChangeSpareParts(data)"></datepick>
					
			</div>
			
			
			<div style="width: 130px; float: left; margin-left: 20px;">
            <dropdownsearch class="driver_driver_way_bill driver" info="'Ответственнный'" drop="infoData.EmployeesList" data="formData.EmpId" required></dropdownsearch>
                      </div>
					  <div style="width: 130px; float: left; margin-left: 150px;"><div class="logus-text ng-binding">Ежедневный наряд</div>
              <button type="button" id="createAct" class="logus-btn btn" style="width: 99px; float:left;margin-top: 0px;" ng-click="createDayActs()">Создать</button>
                      </div>
        </div>
        <div class="second_row_driver_way_bill">
            <div id="traktors" class="traktor_driver_way_bill" style="float: left; width: 450px;">
                <dropdownsearchtf info="'Техника'" infotf="'Гос. №'" drop="infoData.TraktorsList" data="formData.TraktorId" selectfunction="traktorChange"></dropdownsearchtf>
            </div>
            <div style="width:150px; float:left; margin-left: 10px" class="row-margin-top">
                <dropdownsearch class="row-margin-top ng-isolate-scope disabledbutton" info="'Тип топлива'" drop="infoData.TypeFuel"
                                data="formData.TypeFuel"></dropdownsearch>
            </div>
			<div style="width:80px; float:left; margin-left: 10px" class="row-margin-top">
                 <textinput info="'Пробег'" data="formData.Run"   ></textinput>
            </div>
			<div style="width:80px; float:left; margin-left: 10px" class="row-margin-top">
                  <textinput info="'Моточасы'" data="formData.Moto"  ></textinput>
            </div>
			<div style="width:150px; float:left; margin-left: 10px" class="row-margin-top">
               <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Модуль'" selectfunction="moduleChange" drop="infoData.ModuleList"
                                data="formData.ModuleId"></dropdownsearch>  
            </div>
			<div id="equipmnets" style="width:700px; float:left;  float:left;" class="row-margin-top">
			<dropdownsearchtf info="'Оборудование'" infotf="'Тип'" drop="infoData.EquipmnetsList" data="formData.AgroreqId" selectfunction="agroreqChange"></dropdownsearchtf>
            </div>
			<div style="width:150px; float:left; margin-left: 10px;margin-top: 20px" class="row-margin-top">
               <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Вид запчасти'" selectfunction="spareChange" drop="infoData.TypeSpareList"
                                data="formData.TypeSpareId"></dropdownsearch>  
            </div>
				<div style="width:950px; float:left;  float:left; margin-left: 10px;" class="row-margin-top">
                 <input class="requireDisable" type="checkbox" ng-change="checkPlan1()"   ng-model="formData.Plan1">Плановый
				 <input class="requireDisable" type="checkbox" style="margin-left: 10px;" ng-change="checkPlan2()" ng-model="formData.Plan2">Внеплановый
				 <input class="requireDisable" type="checkbox" style="margin-left: 10px;" ng-change="checkPlan3()" ng-model="formData.Plan3">Внеплановый экстренный
				 <input class="requireDisable" type="checkbox" style="margin-left: 10px;" ng-change="checkPlan4()" ng-model="formData.Plan4">Плановое ТО
				 <input id="withoutDay" type="checkbox" style="margin-left: 120px;" ng-change="checkDailyAct()" ng-model="formData.IsDaily">Без ЕН
				 <input id="require" type="checkbox" style="margin-left: 20px;" ng-change="checkRequire()" ng-model="formData.IsRequire">Требование накладная
            </div>
        </div>
    </div>
	   <div class="tc-block" style="margin-bottom: 20px"">
        <tabset style="margin-top: 15px; margin-bottom: 20px;">
		
            <tab class="requireDisable" heading="Причина обращения" active="active.sp1">
                <div class="tc-block">
					  <div class="bloks-header" style="width: 56%">Причина обращения</div>
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px;margin-left: 20px;" ng-click="removeTask()">Удалить</button>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createAct()">Добавить</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
			
            <tab class="requireDisable" heading="Результаты диагностики" active="active.sp2">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 56%">Результаты диагностики, осмотра</div>
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px;margin-left: 20px;" ng-click="removeTask2()">Удалить</button>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createAct2()">Добавить</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions2" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="З/Ч и материалы" active="active.sp3" >
                <div class="tc-block">
                    <div class="bloks-header" style="width: 40%">Необходимые для ремонта з/части и материалы</div>
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 10%; margin-top: -16px;margin-left: 20px;" ng-click="addRowsFromInvoiceAct()">Заполнить</button>
													<div class="traktor_driver_way_bill" style="float: right;width: 23%; margin-top: -36px;margin-left: 20px">
                    <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Заполнить из ПН'" drop="infoData.InvoiceActs"
                                data="formData.InvoiceAct"></dropdownsearch>
                    </div>
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 10%; margin-top: -16px;margin-left: 20px;" ng-click="removeTask3()">Удалить</button> 
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 10%; margin-top: -16px;margin-left: 20px;" ng-click="createAct3()">Добавить</button>
            <div id="gridOptions3" style="width: 100%; height: 400px; margin-top: 21px;" ng-grid="gridOptions3" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
				<div ng-show="detailTab" style="float:right; margin-top: 10px;">
                <button type="button" style=" float: right; width: 99px;" class="logus-btn btn" ng-click="ChackAll()" >{{ChackClearAll}}</button>  
                </div>
            </tab>
			<tab class="requireDisable" heading="Услуги" active="active.sp5" >
                <div class="tc-block">
                     <div class="bloks-header" style="width: 56%">Услуги</div>
					<button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px;margin-left: 20px;" ng-click="removeTask4()">Удалить</button>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px;" ng-click="createAct4()">Добавить</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions5" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab class="requireDisable" heading="Ежедневные наряды" active="active.sp4">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 100%">Ежедневные наряды</div>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions4" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>	
			<tab  heading="Комментарий" active="active.sp6">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 100%">Комментарий</div>
                    <div align="left" class="oneLiner" style="float:left; width: 100%;margin-left: 0px; margin-top: 20px;">
			      <textinput class="oneline-text-input" data="formData.Comment"></textinput>
                </div>
                </div>
            </tab>	
        </tabset>
    </div>
	 <div class="float-left" style=" padding-bottom: 70px; margin-top: 40px;">	
	<a class="btn" id="changeStatusRepair" style="margin-left: 10px" ng-click="changeStatusRepair()">Перевести наряд в статус Открыт</a>
	</div>
	 <div class="float-left" style=" padding-bottom: 70px; margin-top: 40px;">	
	     <a class="btn" id="changeAdminDates" style="margin-left: 10px" ng-click="changeAdminDates()">Редактирование дат</a>
	</div>
    <div class="float-right" style=" padding-bottom: 60px; margin-top: 10px;">	
        <button type="submit" style="width: 99px; margin-left: 10px" class="logus-btn btn">{{NameButtom}}</button>
        <button type="button"  class="logus-btn btn" style="width: 99px; margin-left: 10px"
                ng-click="cancelClick()">Назад
        </button>
    </div>
</form>
  <div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Предупреждение</h3>
    <button ng-click="cancelButton()" class="modal-close-btn btn"></button>
 </div>
 <div class="modal-body my-modal-question">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_warning.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div id="mes"></div>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="yes()">Да</button>
            <button type="button" class="logus-btn btn " ng-click="no()">Нет</button>
        </div>
    </form>
</div>
</div>
</div>
</div>