<form id="create_edit_add_bill_form" name="addEditTaskForm" class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">ВЫПОЛНЕННЫЕ РАБОТЫ</div>
    <div>
        <div class="close_add_left_block">
            <div class="bloks-header">Задание</div>
            <div class="row-margin-top" style=" width: 100%;">
                <doubledropnew class="input-close-form ng-isolate-scope close-task" style="width:100%" infoparent="'Поле'"
                               dropparent="infoData.FieldsAndPlants" dataparent="formData.FieldId"
                               infochild="'Культура'" datachild="formData.PlantId"
                               field-change="refreshLayer(formData.FieldId)"></doubledropnew>
            </div>
            <div style="width: 100%;">
                <dropdownsearch class="ng-isolate-scope" info="'Ответственный'"
                                drop="infoData.ChiefsList"
                                data="formData.AvailableId"
                                style="float: left; padding-right: 10px;width: 75%"></dropdownsearch>
                <button type="button" class="logus-btn btn" tooltip="{{formData.Comment}}"
                        tooltip-placement="top"
                        ng-class="{'btn-border': !formData.Comment}"
                        style="width: 25%; float: left;height: 32px;margin-top:20px;" ng-click="addComment()">
                    Комментарий
                </button>
            </div>
            <div class="row-margin-top-select" style="clear: left;">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Задание'" drop="infoData.TasksList"
                                data="formData.TaskTypeId" field-change="refreshRate()"></dropdownsearch>
            </div>
            <div class="row-margin-top">
                <dropinput class="row-margin-top" info="'Оборудование'" infoinput="'Ширина'" drop="infoData.EquipmnetsList"
                           data="formData.EquipmentId" datainput="formData.EquipWidth" kindinput="'Width'" regex-name="numbersWithDot" field-change="refreshRate()"></dropinput>
            </div>
            <div style="width:50%; float:left;" class="row-margin-top">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Агротехн.требования'" drop="infoData.AgroreqList"
                                data="formData.AgroreqId" field-change="refreshRate()"></dropdownsearch>
            </div>
        <div  ng-show="tporgid == 1" style="float: left;margin-left: 20px;margin-top: 35px;"><input type="checkbox" ng-change="checkRes()" 
				 ng-model="AllResource">Все ресурсы</div>
        </div>
        <div class="close_add_right_block">
            <div class="bloks-header">Информация о выполненных заданиях</div>
            <div class="row-margin-top" style="float:left; width:100%">
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'Отработано часов'"
                                   data="formData.WorkTime" regex-name="numbersWithDot"></textinputnotcomma>
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'Норма выработки'" style="margin-left: 2%;"
                                   data="formData.WorkDay" regex-name="numbersWithDot"></textinputnotcomma>
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'Отраб. моточасов'" style="margin-left: 2%;"
                                   data="formData.MotoHours" regex-name="numbersOnly"></textinputnotcomma>
            </div>
            <div class="row-margin-top" style="float:left; width:100%">
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'Факт объем, тонн'"
                                   data="formData.Volumefact" regex-name="numbersWithDot"></textinputnotcomma>
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'В пер. на усл. га'" style="margin-left: 2%;"
                                   data="formData.Area" regex-name="numbersWithDot"></textinputnotcomma>
                <button ng-click="clearMeasures()" type="button" class="clear-field-btn btn"
                        style="position:absolute;margin-left: -160px;margin-top: 18px;"></button>
				<div style="width: 24%; float: left;margin-left: 2%;">
				<div class="logus-text">Га автоматически</div>
				<input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.AreaAuto">
				</div>
			   <button type="button" class="calcul-button" style="height:37px;width:29px;margin-left: 2%;margin-top: 18px;" ng-click="countArea()"></button>
            </div>
            <div class="row-margin-top" style="float:left; width:100%">	
				 <!--div style="width: 32%; float: left;">	//не редактируемые поля расценок		   
				 <div class="logus-text">См.тариф, руб</div>
				 <input class="logus-input" ng-value="formData.RateShift">			
				  </div-->
				 <textinputnotcomma class="input-close-form ng-isolate-scope" info="'См.тариф, руб'"
                                   data="formData.RateShift" regex-name="numbersWithDot">
				 </textinputnotcomma> 
				  
				  <!--div style="width: 32%; float: left;margin-left: 2%;">					  
                  <div class="logus-text">{{NameTypePrice}}</div>
				  <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.RatePiecework">
				  </div-->
				   <textinputnotcomma class="input-close-form ng-isolate-scope" info="NameTypePrice" style="margin-left: 2%;"
                                   data="formData.RatePiecework" regex-name="numbersWithDot">
				   </textinputnotcomma> 				  
            </div>
			
            <div class="row-margin-top" style="float:left; width:100%">
								   <div style="width: 32%; float: left;">
								   <div class="logus-text">Расход гор. / ед. раб.</div>
				 <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.ConsumptionRate">
				  </div>
                <textinputnotcomma class="input-close-form ng-isolate-scope" info="'Расход гор., факт'" style="margin-left: 2%;"
                                   data="formData.ConsumptionFact" regex-name="numbersWithDot" field-change="changeConsumptionFact()">
				 </textinputnotcomma>
								   
								<div style="width: 24%; float: left;margin-left: 2%;">
				<div class="logus-text">Виалон рас. гор.</div>
				<input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.WialonConsFact">
				</div>				   
			 <button type="button" class="calcul-button" style="height:37px;width:29px;margin-left: 2%;margin-top: 18px;" ng-click="countCons()"></button>			   
								   
            </div>
            <div class="row-margin-top" style="float:left; width:100%">
                <div style="width: 32%; float: left;">
                    <div class="logus-text">Тип топлива</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.TypeFuel.Name">
                </div>
                <div style="width: 32%; float: left; margin-left: 2%">
                    <div class="logus-text">Цена, руб</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.TypeFuel.Price">
                </div>
                <div style="width: 32%; float: left; margin-left: 2%">
                    <div class="logus-text">Стоимость по факт.</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.CostFuel">
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%;margin-bottom: 10px;float: left;">
        <button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="float: right;width: 100px;"
                ng-click="cancelClick()">
            Отмена
        </button>
        <button class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="margin-right: 10px; float: right;width: 100px;" ng-click="submitForm()">
            Ок
        </button>
    </div>
    <div id="map" class="map" style="height: 450px;margin-top: 10px;width:100%"></div>
			<button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4" ng-click="clear()"
		style="width: 85px; margin-top: -40px;margin-left: 10px;">Очистить</button>
</form>