<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">ПЕРЕМЕЩЕНИЕ</div>
    <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
	  <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left;margin-top: 20px;margin-right: 10px;" ng-click="openBalance()">Баланс</button>
		<button type="button" class="logus-btn btn float-right" style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="copyRow()">Скопировать</button>
        <button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="delRow()">Удалить</button>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="save()">Сохранить</button>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="add()">Создать</button>
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 500px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>