<div style="margin-left: -30px">
    <div id="template">
        <div id="right" class="verticaltext">
            <div id="point">#point.y#</div>
        </div>
    </div>
</div> <!--аава -->
<div class="maincont" style="padding-left:58px; overflow-x: hidden; height:100%;overflow-y: scroll; ">
    <div style="width: 100%; height: auto; overflow-x: hidden;">
        <div id="title_plant" class="title blue" style="width: auto; float: left; height: auto">Оценка затрат по культуре</div>
        <div class="title_row" style="width: auto; float: right; margin-right: 1%;" style="height: auto">
            <div class="title_numbers" disabled="true">
                <div class="blue" style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 2px solid #335da8">На 1 т</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="t_cost">{{t_cost}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="t_cost_plan">{{t_cost_plan}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="t_cost_plan" ng-class="{red: t_cost_delta < 0, greencost: t_cost_delta >= 0}">{{t_cost_delta}}</div>
            </div>
            <div class="title_numbers">
                <div class="blue" style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 2px solid #335da8">На 1 га</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="ga_cost">{{ga_cost}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="ga_cost_plan">{{ga_cost_plan}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="ga_cost_plan" ng-class="{red: ga_cost_delta < 0, greencost: ga_cost_delta >= 0}">{{ga_cost_delta}}</div>
            </div>
            <div class="title_numbers">
                <div class="blue" style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 2px solid #335da8">Всего, руб</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="total_cost">{{total_cost}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="total_cost_plan">{{total_cost_plan}}</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right; border-bottom: 1px solid #335da8" ng-show="total_cost_plan" ng-class="{red: total_cost_delta < 0, greencost: total_cost_delta >= 0}">{{total_cost_delta}}</div>
            </div>
            <div class="title_numbers" style="width: auto">
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right;margin-top: 28px;color: #cc8710; border-bottom: 1px solid #335da8; border-top: 2px solid #335da8">факт</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right;color: #cc8710; border-bottom: 1px solid #335da8">план</div>
                <div style="width:100%;margin-left: 0px; font-size: 20px;text-align: right;color: #cc8710; border-bottom: 1px solid #335da8">откл.</div>
            </div>
        </div>
        <div class="title_row chart_planfact" style="height: auto;margin-top: -70px;">
            <div class="chart_font chart_title" style="width:100%;margin-left: 0px">План-фактный анализ производственных затрат</div>
            <div id="plan_fact" class="chart_container chart_bg" style="width: 100%; height: 370px;float: left;"></div>
        </div>

        <div class="title_row chart_planfact_small1" style="height: auto">
            <div class="chart_font chart_title" style="width:100%;margin-left: 0px">на 1 га</div>
            <div id="plan_fact_ga" class="chart_container chart_bg" style="width:100%;height: 370px;float: left;"></div>
        </div>

        <div class="title_row chart_planfact_small2" style="height: auto">
            <div class="chart_font chart_title" style="width:100%;margin-left: 0px">на 1 т</div>
            <div id="plan_fact_t" class="chart_container chart_bg" style="width:100%;height: 370px;float: left;"></div>
        </div>

        <div class="title_row chart_column" style="height: auto">
            <div class="chart_font chart_title" style="width:100%;margin-left: 0px">Затраты по полям</div>
            <div id="container" class="chart_container chart_bg" style="width: 100%; height: 370px; overflow: hidden"></div>

            <div id="gross_income" class="chart_bg" style="width:100%; margin-top: 20px;height: auto; overflow-x: hidden ">
                <div style="width: 98%;margin-left: 1%;height: auto">
                    <table cellpadding="0" cellspacing="0" class="invest-table" style="height: auto">
                        <tr class="invest-table-row">
                    <td width="15%" class="" style="color: #335da8; font-size: 12pt">Поле</td>
                    <td width="15%" class="culture_table_column" style="color: #335da8; font-size: 12pt">Валовый сбор, т</td>
					<td width="15%" class="culture_table_column" style="color: #335da8; font-size: 12pt">Урожайность, т/га</td>
					<td style="color: #335da8; font-size: 12pt" align:width="15%" align="right">всего</td>
                    <td width="17%" style="color: #335da8; font-size: 12pt" align="right">на 1 га</td>
                    <td width="13%" style="color: #335da8; font-size: 12pt" align="center">на 1 т</td>

                        </tr>
                    </table>
                    <div style="width: 100%; height: 2px; background-color: #335da8;float: left;"></div>
                    <table cellpadding="0" cellspacing="0" class="invest-table" style="height: auto">
                        <tr ng-repeat="item in tableFieldData" style="border-bottom:1pt solid #335da8;  height: 40px; margin-left: 1%">
                            <td width="20%" class="culture_table_column_name">{{item.name}}</td>
                            <td width="20%" class="culture_table_column invest-table-orange" style="color: #335da8;">{{item.productivity| number:2}}</td>
						    <td width="15%" class="culture_table_column invest-table-orange" style="color: #335da8;">{{item.harvest| number:2}}</td>
                            <td width="15%" class="culture_table_column invest-table-orange">{{item.total| number:2}}</td>
                            <td width="15%" class="culture_table_column invest-table-orange">{{item.perarea| number:2}}</td>
                            <td width="15%" class="culture_table_column invest-table-orange">{{item.pergross| number:2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="title_row chart_pie"  style="height: auto">
                <div class="chart_font chart_title" style="margin-left: 0px">Структура затрат</div>
                <div id="piedetail" class="chart_container chart_bg" style="width: 100%"></div>
            </div>
        </div>
    </div>

    <div id="left_panel" ng-include="'templates/left_panel.html'" style="position: absolute;top: 0px;bottom: 0px;"></div>
</div>


