﻿<!DOCTYPE html>
<html ng-app="wayBills" style="background-color: #ffffff;">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="themes/default-theme/ej.widgets.all.min.css" rel="stylesheet" />
    <!--<link href="themes/default.css" rel="stylesheet" />-->
    <link href="themes/default-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/ng-grid.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/directives.css"/>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="css/ui-grid-unstable.css"/>
    <link rel="stylesheet" type="text/css" href="css/ol.css">
    <link rel="stylesheet" type="text/css" href="css/invest.css">
    <link rel="stylesheet" type="text/css" href="css/selectize.default.css">
    <link rel="stylesheet" type="text/css" href="css/ng-grid-footer.css">
    <link rel="stylesheet" type="text/css" href="css/selectizeblue.css">
    <link rel="stylesheet" type="text/css" href="css/map.css">
    <link rel="stylesheet" type="text/css" href="css/way_list.css">
    <link rel="stylesheet" type="text/css" href="css/tc.css">
    <link rel="stylesheet" type="text/css" href="css/accordion.css">
    <link rel="stylesheet" type="text/css" href="css/compiled.css">
    <link href="css/ej.widgets.all.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link href="css/default-responsive.css" rel="stylesheet" />
    <link href="css/ej.responsive.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/line.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"/>
</head>
<body>
<div class="wrapper">
    <div class="main-container">
        <div ui-view="way_bills_main" class="ng-cloak" style="position: absolute;left:0; right:0; top:74px; bottom: 0px; height:auto; background-color: #fff !important;"></div>
        <div id="preloader" style="display: none">
            <div class="preloader-background"></div>
            <img src="images/preloader_bg.png" class="preloader-anim">
            <img src="images/preloader_animation.gif" class="preloader-anim">
        </div>
    </div>
    <div id="menu" class="top-menu ng-cloak" style="position: absolute;z-index: 1000" ng-class="{turquoiseskin: menuSkin == 'defualt', blueskin: menuSkin == 'blue', greenskin: menuSkin == 'green'}">
        <img ng-src="{{logoSrc}}" 
        class="cross" style="float:left;margin-top: 17px;width:124px;height:37px;vertical-align: inherit; margin-left: 10px;" ng-click="goToHome()">
        <div style="float: left; margin-left: 10px; padding-right: 20px; width: auto; height: auto">
            <div id="menu3" style="height: 74px; width: auto;padding-right: 20px;" ng-click="openMenu()" ng-class="{turquoiseskin_dark: (menuSkin == 'defualt' && menuOpened), blueskin_dark: (menuSkin == 'blue' && menuOpened), greenskin_dark: (menuSkin == 'green' && menuOpened)}">
              <button id="btn" class="c-hamburger c-hamburger--htra" style="float: left; width: 74px; height: 74px">
                    <span>toggle menu</span>
                  </button>
                <div id="menu2" class="cross" style="float: left; height: 74px; font-size: 16px; color: #ffffff; padding-top: 26px; text-decoration: underline;">{{selectedTab}}</div>
            </div>
            <div ng-show="menuOpened" style="width: auto; height: auto; padding-left:20px; padding-bottom: 10px; padding-right: 20px;float: none" ng-class="{turquoiseskin_dark: (menuSkin == 'defualt' && menuOpened), blueskin_dark: (menuSkin == 'blue' && menuOpened), greenskin_dark: (menuSkin == 'green' && menuOpened)}">
                <ul style="list-style-type: square; width: auto; float: none">
                    <li ng-repeat="m in menu" class="cross logus-li" style="padding-bottom: 10px; font-size: 16px; width: auto; white-space: nowrap;" ng-click="gotoPage(m);" >{{m.name}}</li>
                </ul>
            </div>
        </div>
        <div class="float-right" style="margin-right: 10px; width:auto">
            <img src="images/main/user_icon.png" style="width:46px; height:46px; float:right; margin-top: 12px;float: right">
            <div style="float: right;">
                <div id="user-name" style="color: #ffffff;font-size: 16px;font-size: 16px;margin-top: 10px;text-align: right;width:auto;margin-right: 10px;">{{userName}}</div>
                <div style="text-align: right;width:auto" ng-click="exitClick()">
                    <a aria-controls="login" role="tab" data-toggle="tab" class="exit-nav" style="">{{exit}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>

</body>
<script type="text/javascript" src="libs/jquery-1.11.1.min.js"></script>
<!--<script type="text/javascript" src="libs/angular.min.js"></script>-->
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/angular-sanitize.js"></script>
<script type="text/javascript" src="libs/ng-grid.debug.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="libs/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="libs/angular-route.js"></script>
<script type="text/javascript" src="libs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="libs/angular-ui-router.js"></script>
<script type="text/javascript" src="libs/angular-locale_ru-ru.js"></script>
<script type="text/javascript" src="libs/angular-cookies.js"></script>
<script type="text/javascript" src="libs/angular-cookies.min.js"></script>
<script type="text/javascript" src="libs/jquery.session.js"></script>
<!--script type="text/javascript" src="libs/bootstrap.min.js"></script-->
<script type="text/javascript" src="css/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="libs/jspdf.min.js"></script>   
<script type="text/javascript" src="libs/html2canvas.js"></script>
<!--Aleksey-->
<script type="text/javascript" src="libs/proj4.js"></script>
<script type="text/javascript" src="libs/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="libs/bootstrap-datetimepicker.ru.js"></script>
<!-- -->

<script type="text/javascript" src="libs/ui-utils.js"></script>
<script type="text/javascript" src="libs/select.js"></script>

<script type="text/javascript" src="libs/ng-upload.js"></script>

<script type="text/javascript" src="libs/moment.js"></script>
<script type="text/javascript" src="libs/angular-touch.js"></script>
<script type="text/javascript" src="libs/angular-animate.js"></script>
<script type="text/javascript" src="libs/ui-grid-unstable.js"></script>
<script type="text/javascript" src="libs/ol.js"></script>

<script src="libs/jquery.easing.1.3.min.js"></script>
<script src="libs/jquery.globalize.min.js"></script>    
<script src="libs/jsrender.min.js"></script>
<script src="libs/ej.web.all.min.js" type="text/javascript"></script>
<script src="libs/properties.js" type="text/javascript"></script>  


<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="logusConfig.js"></script>
<script type="text/javascript" src="modules/doubleListCtrl.js"></script>
<script type="text/javascript" src="modules/directives.js"></script>
<script type="text/javascript" src="modules/authentication/services.js"></script>
<script type="text/javascript" src="modules/authentication/controllers.js"></script>
<!--<script src="modules/home/create_way_bill_controller.js"></script>-->
<script type="text/javascript" src="modules/services.js"></script>
<script type="text/javascript" src="modules/modal_windows.js"></script>
<script type="text/javascript" src="modules/map_module.js"></script>
<script type="text/javascript" src="modules/way_bills_operation/list/list_way_bills_controllers.js"></script>
<script type="text/javascript" src="modules/way_bills_operation/create_and_edit/create_way_bill_controller.js"></script>
<script type="text/javascript" src="modules/shift_task/shift_task/controller.js"></script>
<script type="text/javascript" src="modules/shift_task/create_task/controller.js"></script>
<script type="text/javascript" src="modules/way_bills_operation/close_way_bill/close_way_bill_controller.js"></script>
<script type="text/javascript" src="modules/way_bills_operation/close_way_bill/close_add_edit_task/close_add_edit_task_controller.js"></script>
<script type="text/javascript" src="modules/driver_way_bills/list/driver_way_bills_list_controller.js"></script>
<script type="text/javascript" src="modules/driver_way_bills/item/driver_way_bill_item_controller.js"></script>
<script type="text/javascript" src="modules/driver_way_bills/close/close_driver_way_bill_controller.js"></script>
<script type="text/javascript" src="modules/driver_way_bills/close/task/close_driver_way_bill_task_controller.js"></script>
<script type="text/javascript" src="modules/documents/list/documents_list_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/documents/item/documents_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/seeding/list/seeding_list_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/seeding/item/seeding_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/reports/reports_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/list/acts_list_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/item/acts_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/incoming/incoming_item_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/coming_acts/coming_tmc_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/movement/movement_tmc_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/movement/movement_item_ctrl.js" charset="utf-8"></script>

<script type="text/javascript" src="modules/acts/incoming_fuel/incomingFuelController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard/techcard_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard/tc_list_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard_temp/tc_temp_list_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard_temp/techcard_temp_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/main/main_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/left_panel.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/dictionary/dictionary_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/product/productController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/product/grossController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/product/salesController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard/techplanController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/techcard/tmcplanController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/kpi/kpi_list_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/rates/ratesController.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/rate_fuel/rate_fuel_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/acts/balance_material/balance_material_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/balance_spare_parts/balance_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/administration/administration_ctrl.js" charset="utf-8"></script>   
<script type="text/javascript" src="modules/administration/roles_ctrl.js" charset="utf-8"></script>  
<script type="text/javascript" src="modules/administration/selected_plants_ctrl.js" charset="utf-8"></script> 
<script type="text/javascript" src="modules/administration/section_techcard_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/administration/param_organization_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/administration/control_tech_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/demand_waybill/demand_waybill_controller.js" charset="utf-8"></script>  
<script type="text/javascript" src="modules/spare_parts/demand_waybill/demand_waybill_item_controller.js" charset="utf-8"></script>  
<script type="text/javascript" src="modules/spare_parts/coming_spare_parts/coming_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/coming_invoice/coming_spare_parts_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/writeoff_spare_parts/writeoff_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/repairs_spare_parts/writeoff_spare_parts_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/repairs_spare_parts/repairs_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/movement_spare_parts/movement_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/reserve_spare_parts/reserve_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/coming_invoice/coming_invoice_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/history_spare_parts/history_spare_parts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/service/service_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/crater/crater_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/daily_repairs/daily_repairs_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/daily_repairs/daily_repairs_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/reports/reports_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/writeoff_acts/writeoff_acts_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/writeoff_acts/writeoff_acts_item_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/spare_parts/shift_task_repairs/shift_task_repairs_controller.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/bar.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/bardetail.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/column.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/column3.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/line.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/pie.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/piedetail.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/stack.js" charset="utf-8"></script>
<script type="text/javascript" src="charts/table.js" charset="utf-8"></script>

<script type="text/javascript" src="modules/monitor/map/map-features.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/monitor/map/map_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/monitor/culture/culture_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/monitor/cost/cost_ctrl.js" charset="utf-8"></script>
<script type="text/javascript" src="modules/right_panel.js" charset="utf-8"></script>
<!--gantt-->
<script src="libs/dhtmlx/dhtmlxgantt.js"></script>
<link href="libs/dhtmlx/dhtmlxgantt.css" rel="stylesheet" type="text/css" />
<script src="libs/dhtmlx/locale/dhtmlxgantt_locale_ru.js" charset="utf-8"></script>
<script src="libs/dhtmlx/ext/dhtmlxgantt_smart_rendering.js"></script> 

<!--<script src="../scripts/jquery-1.10.2.min.js"></script>-->
<script src="modules/crater/d3.min.js"></script>
<script src="modules/crater/d3-funnel.js"></script>

<script src="modules/crater/amcharts.js"></script>
<script src="modules/crater/funnel.js"></script>
</style>
</html>
<script>
$(document).mouseup(function (e) {
    var container = $("#menu");
    if (container.has(e.target).length === 0 && $('#menu3').hasClass('turquoiseskin_dark'))  {
   $('#menu3')[0].click();
   }
   if  ($('#menu3').hasClass('turquoiseskin_dark')===false)  {
    $("#btn").addClass("is-active");
   } 
     if  (container.has(e.target).length === 0 && $('#menu3').hasClass('turquoiseskin_dark')===false)  {
   $("#btn").removeClass("is-active");
  }
        if  (container.has(e.target).length != 0 && $('#menu3').hasClass('turquoiseskin_dark'))  {
   $("#btn").removeClass("is-active");

  }
});         
</script>