<form name="documents_item_form" name="documentsItemForm" ng-submit="submitForm()" class="logus-form">
    <div class="row">
        <div class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2"
             style="padding-top: 15px;padding-left: 15px;width: 60%;">НАЧИСЛЕНИЯ ЗП
        </div>
    </div>
    <div>
        <div class="row" style="padding-top: 0px; padding-left:15px; width: 100%;">
            <div class="row row-margin-top" style=" padding-left:0px; ">
                <div align="left" class="oneLiner disable-input"
                     style="float:left; width: 15%;margin-left: 17px; margin-right: 20px;">
                    <textinput class="oneline-text-input" readonly="true" info="'№ документа'" data="Number"></textinput>
                </div>
                <div align="left" class="oneLiner disable-input" style="width: 45%; margin-right: 20px;">
					 <datepick class="logus-headers col-md-1 col-xs-3 col-sm-1 col-lg-1"
                      style="padding-top: 5px;margin-top: 15px;margin-left: -6%;" data="dateDocument" mask="'99.99.9999'"
                      regex-name="'date'" "></datepick>
					
                </div>


                <div class="row" style="margin-left: 15px;margin-right:0px;">
                    <div class="bloks-header" style="padding-top: 5px;">Общая информация</div>
                </div>

                <div class="row" style="padding-top: 15px; padding-left:30px; ">
                    <div align="left" class="oneLiner" style="float:left; width: 20%;margin-right: 10px">
                        <dropdownsearch class="row-margin-top" info="'Ответственный'" drop="infoData.ResponsibleList"
                                  data="formData.ResponsibleId" required></dropdownsearch>
                    </div>
                    <div align="left" class="oneLiner" style="float:left; width: 18%;margin-right: 10px">
                        <dropdownsearch class="row-margin-top" info="'Отделение'" drop="infoData.OgranizationList"
                                  data="formData.OrgId" required></dropdownsearch>
                    </div>

                    <div align="left" class="oneLiner" style=" width: 59%;">
                        <textinput class="commentary" info="'Комментарии'" data="formData.Comment"></textinput>
                    </div>
                </div>

                <div class="row" style="margin-left: 15px;">
                    <div class="bloks-header" style=" padding-top: 5px; width: 49%; margin-top: 10px;">Работы сотрудников</div>
                    <div class="float-right row" style=" margin-right:15px; margin-top: -17px">
                        <button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px" ng-click="createWork()">Создать</button>
						<button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px" ng-click="copyWork()">Скопировать</button>
                        <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px" ng-click="saveWork()">
                            Сохранить
                        </button>
                        <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px" ng-click="deleteWork()">Удалить
                        </button>
                        <button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px" ng-click="printBtn()">Печать</button>
                    </div>
                </div>
                <div class="lists-grid-style-payments" ng-grid="gridOptions" style="margin-left:15px;margin-top: 10px"></div>
            </div>
        </div>
    </div>
    <div class="float-right row footer-btns-background" style="text-align: right;padding-right: 25px;">
        <button type="submit" class="logus-btn btn" style="width: 99px;margin-right: 10px">Ок</button>
        <button type="button" class="logus-btn btn" style="width: 99px;margin-right: 10px" ng-click="cancelClick()">Отмена</button>
    </div>
</form>