<div>
    <form id="create_shift_task_form" name="createShiftTaskForm" novalidate ng-submit="createShiftTaskForm.$valid && submitForm()" class="logus-form">
        <div class="row" style="margin-top: 5px;">
            <div class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="padding-top: 15px;padding-left: 15px;width: 25%;" ng-model="formData.WayListNum">СМЕННОЕ ЗАДАНИЕ НА</div>
            <datepick class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="padding-top: 14px;margin-left: -35px;" data="dateShift" mask="'99.99.9999'" regex-name="'date'" date-change="dateChangeShifts(data)"></datepick>
             <div class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-top: 18px;width: 12%;"> Отделения   </div>          
			 <dropdownsearch class="ng-isolate-scope" info="''" drop="infoData.OrganizationsList"
                                    data="formData.OrgId" style="float:left;width: 200px; margin-top:14px;"
                                    field-change="changeOrg()"></dropdownsearch>
			<div class="comment_blok important" style="display: inline-block;height: 38px;margin-top: 9px; width: 20%;margin-left: 10px;" ng-click="mainCommentClick()">
                <input class="logus-input" ng-model="Comment"  ng-readonly="true" placeholder="Важно">
            </div>
            <!--button type="button" class="btn imp_button" ng-click="mainCommentClick()"></button-->
        </div>
        <div class="row" style="padding-top: 15px; clear:left;">
            <tabset class="col-md-5 col-xs-7 col-sm-5 col-lg-5" style="width: 605px">
                <tab id='second-shift' heading="2-ая смена" class="logus-headers" select="checkTab('2')" active="shifts.shift2">
                    <div id="second-grid" class="create-grid-style" ng-grid="gridSecondOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </tab>
                <tab id='first-shift' heading="1-ая смена" class="logus-headers" select="checkTab('1')" active="shifts.shift1">
                    <div id="first-grid" class="create-grid-style" ng-grid="gridFirstOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </tab>
            </tabset>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1 " ng-show="editBtnVis" style="margin-left: 10px;margin-top: 20px;" ng-click="createTask()">Создать</button>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1 " ng-show="editBtnVis" style="margin-left: 10px;margin-top: 20px;  width: 12%;" ng-click="copyTaskRow()">Скопировать</button>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1" ng-show="editBtnVis" style="margin-left: 10px;margin-top: 20px;" ng-click="deleteTask()">Удалить</button>
            <button type="button" class="logus-btn btn col-md-2 col-xs-4 col-sm-2 col-lg-2" ng-show="createWayBtnVis" style="margin-left: 10px;margin-top: 20px;" ng-click="createWayBill()" ng-class="{disabled : disCreateWayBill}">Создать путевой лист</button>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1" style="margin-left: 10px;margin-top: 20px;" ng-click="printTask()">Печать</button>
        </div>
            <div class="float-right row footer-btns-background" style="text-align: right; margin: 20px auto 0;">
            <div style="display: inline-block; float: left;margin-top: -20px;height: 33px;width: 250px;">
            <div class="logus-text ng-binding" style="float: left; color: #d8a331;">Поиск</div>
            <input ng-model="filterText" placeholder="Поиск" style="width: 100%;height: 30px;" class="logus-input" ng-change="search()"/>   		
            </div>
	       <div ng-show="tporgid == 1" style="float: left;margin-left: 50px;margin-top: 5px;">
		   <input type="checkbox" ng-change="checkRes()" ng-model="AllResource">Все ресурсы</div>
            <button type="button" class="logus-btn btn btn-border" style="width: 308px;margin-right: 10px" ng-show="editBtnVis" ng-click="copyTasksFromYesterday()">Скопировать задания из предыдущего дня</button>
            <button type="button" class="logus-btn btn btn-border" style="width: 99px;margin-right: 10px" ng-show="editBtnVis" ng-click="approveTask()">Утвердить</button>
            </div>
                <div style="float: left;">
                <div class="logus-headers" style>Неиспользуемая техника</div>
                <div style="height: 250px; width: 300px; background-color: #F5F5F5; float: left; overflow-x: hidden; overflow-y: scroll; padding: 10px;">
                    <li ng-repeat="item in unusedTraktors | filter:filterText" ng-style ="getStyle(item.Bold)">{{item.Name}}</li>
                </div>
                </div>
                <div style="float: left;">
                <div class="logus-headers" style="margin-left: 20px;">Незадействованный персонал</div>
                <div style="height: 250px; width: 300px; background-color: #F5F5F5; float: left; overflow-x: hidden; overflow-y: scroll; padding: 10px; margin-left: 20px">
                    <li ng-repeat="item in unsedEmployees | filter:filterText">{{item.Name}}</li>
                </div>
                </div>
				
				<div ng-show="showDates">
				  <div  style="float: left;width: 22%;">
	             <input class="logus-input" ng-readonly="true" placeholder="Запрет редактирования ПЛ до ">
	             </div>
		 <datepicktable class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-left: -10px;" data="ban_date" mask="'99.99.9999'" regex-name="'date'" date-change="banEditWayBills(data)"></datepicktable>
  	 <div  style="float: left;width: 22%;">
	             <input class="logus-input" ng-readonly="true" placeholder="Запрет редактирования ТК до ">
	             </div>
		<datepicktable class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-left: -10px;" data="tban_date" mask="'99.99.9999'" regex-name="'date'" date-change="banEditTC(data)"></datepicktable>
		    </div>
			
			</form> 

    <div class="hiddenDiv">
        <style type="text/css">
            .hiddenDiv {
                display: none;
            }
        </style>
        <div class="printWrap" id="print">
            <style type="text/css">
                .printWrap{
                    width:297mm;
                    height:210mm;
                    position: relative;
                    font-size: 12px;
                }
                .header{
                    text-align: center;
                }
                .left_header_min{
                    position: absolute;
                    left: 213mm;
                    top: 0mm;
                    text-align: left;
                    font-size: 13px;
                }
                .center_header{
                    position: relative;
                    font-size: 16px;
                    top: 13mm;
                }
                table td, table th{
                    height: 4mm;
                    text-align: left;
                }

                @media print{@page {size: landscape}}
            </style>
            <div class="header">
                <div class="left_header_min">
                    <span>Утверждаю</span><br>
                    <span>Исполнительный директор</span><br>
                    <span>__________Бачурин Д.В.</span>
                </div>
                <span class="center_header">Сменное задание растениеводство</span><br>
            </div>
            <table cellpadding="" cellspacing="0" style="position: relative;top: 55px;width: 22%;border-bottom: 1px solid black;">
                <tr style="text-align: left;" >
                    <th>Дата</th>
                    <th>{{DateShifts}}</th>
                    <th style="text-align: right;">2-я смена</th>
                </tr>
            </table>

            <table border="1" cellpadding="0" cellspacing="0" style="text-align: center; border: 1px solid black;position: relative;top: 59px;width: 100%; border-collapse: collapse;">
                <!--tr style="text-align: left;">
                    <th colspan="">Дата</th>
                    <th colspan="">27-28.04</th>
                    <th></th>
                    <th colspan="5">2-я смена</th>

                 </tr-->
                <tr>
                    <td rowspan="2" width="15%" style="text-align: center;">Культура</td>
                    <td rowspan="2" width="7%" style="text-align: center;">№ поля</td>
                    <td rowspan="2" width="15%" style="text-align: center;">Планируемые работы</td>
                    <td colspan="2" width="30%" style="text-align: center;">Работы выполняют</td>
                    <td width="10%" style="text-align: center;">Планируемый объем</td>
                    <td width="10%" style="text-align: center;">Выполненный объем</td>
                    <td rowspan="2" width="20%" style="text-align: center;">Отвественный</td>
                </tr>
                <tr>
                    <td style="text-align: center;">Техника</td>
                    <td style="text-align: center;">Персонал</td>
                    <td style="text-align: center;">2 смена</td>
                    <td style="text-align: center;">2 смена</td>
                </tr>
                <tr ng-repeat="item in PrintShiftInfo2">
                    <td>{{item.PlantName}}</td>
                    <td>{{item.FieldName}}</td>
                    <td>{{item.TaskPlan}}</td>
                    <td>{{item.EquipmentName}}</td>
                    <td>{{item.Employees}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.Available}}</td>
                </tr>
            </table>

            <table cellpadding="0" cellspacing="0" style="position: relative;top: 73px;width: 22%;border-bottom: 1px solid black;">
                <tr style="text-align: left;">
                    <th>Дата</th>
                    <th>{{DateShifts}}</th>
                    <th style="text-align: right;">1-я смена</th>
                </tr>
            </table>
            <table border="1" cellpadding="0" cellspacing="0" style="text-align: center; border: 1px solid black;position: relative;top: 78px;width: 100%; border-collapse: collapse; ">
                <!--tr style="text-align: left;">
                    <th colspan="">Дата</th>
                    <th colspan="">27-28.04</th>
                    <th></th>
                    <th colspan="5">2-я смена</th>

                 </tr-->
                <tr>
                    <td rowspan="2" width="15%" style="text-align: center;">Культура</td>
                    <td rowspan="2" width="7%" style="text-align: center;">№ поля</td>
                    <td rowspan="2" width="15%" style="text-align: center;">Планируемые работы</td>
                    <td colspan="2" width="30%" style="text-align: center;">Работы выполняют</td>
                    <td width="10%" style="text-align: center;">Планируемый объем</td>
                    <td width="10%" style="text-align: center;">Выполненный объем</td>
                    <td rowspan="2" width="20%" style="text-align: center;">Отвественный</td>
                </tr>
                <tr>
                    <td style="text-align: center;">Техника</td>
                    <td style="text-align: center;">Персонал</td>
                    <td style="text-align: center;">1 смена</td>
                    <td style="text-align: center;">1 смена</td>
                </tr>
                <tr ng-repeat="item in PrintShiftInfo1">
                    <td>{{item.PlantName}}</td>
                    <td>{{item.FieldName}}</td>
                    <td>{{item.TaskPlan}}</td>
                    <td>{{item.EquipmentName}}</td>
                    <td>{{item.Employees}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.Available}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>