<form id="catalog" name="catalogForm" style="padding-top: 20px;" class="logus-form">
    <div style="width: 60%; display: inline-block;float: left;padding-right: 20px;">
        <div class="logus-headers" style="padding-top: 15px">СПРАВОЧНИК КУЛЬТУР</div>
        <div class="" style="overflow: hidden;">
            <!--div class="" style="float: right;">
                <button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px"
                        ng-click="createPlant()">Создать
                </button>
                <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px"
                        ng-click="deletePlant()">Удалить
                </button>
            </div-->
            <div class="bloks-header row-margin-top" style="width: 382px;float: left;margin-right: 16px;">Культура</div>
            <div class="float-right row row-margin-top" style="float: left; margin-top: 32px;">
                <button type="button" class="logus-btn btn ng-click-active"
                        style="width: 99px; margin-right: 10px;margin-left: 10px;" ng-click="createPlant()">Добавить
                </button>
                <button type="button" class="logus-btn btn" style="width: 99px; " ng-click="removePlant()"
                        style="margin-left: 10px">Удалить
                </button>
            </div>
        </div>
        <div class="row-margin-top catalog" style="height: 600px;" ng-grid="gridOptionsPlants"></div>
    </div>
    <div style="width: 40%; display: inline-block;margin-top: 42px;">
        <div class="" style="overflow: hidden;">
            <div class="bloks-header row-margin-top" style="width: 186px; float: left;margin-right: 16px;">Сорта</div>
            <div class="float-right row row-margin-top" style="float: left; margin-top: 32px;">
                <button type="button" class="logus-btn btn ng-click-active"
                        style="width: 99px; margin-right: 10px;margin-left: 10px;" ng-click="createSort()">Добавить
                </button>
                <button type="button" class="logus-btn btn" style="width: 99px; " ng-click="createSort()"
                        style="margin-left: 10px">Удалить
                </button>
            </div>
        </div>
        <div class="row-margin-top sort" style="height: 600px;" ng-grid="gridOptionsSorts"></div>
    </div>
</form>