$turquoiseskin : #06aa9f;
$turquoiseskin_dark: #4f8c84;
$blueskin : #5a87c0;
$blueskin_dark :#486fa0;
$greenskin : #70a62a;
$greenskin_dark : #4f7c30;
$white: #ffffff !important;


.turquoiseskin {
    background-color: $turquoiseskin;
}
.turquoiseskin_dark {
    background-color: $turquoiseskin_dark
}

.blueskin {
    background-color: $blueskin;
}
.blueskin_dark {
    background-color: $blueskin_dark;
}

.greenskin {
    background-color: $greenskin;
}
.greenskin_dark {
    background-color: $greenskin_dark;
}

.datepicker-border{
    border: 1px solid $turquoiseskin !important;
}

.datepicker-header-title.active{
    background-color: $white;
    border: 1px solid $turquoiseskin !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.datepicker-header-title:hover{
    background-color: $white;
    border: 1px solid $turquoiseskin !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.datepicker-week-days{
    font-size: 16px !important;
    color: $turquoiseskin !important;
}
.datepicker-btn-info{
    background-color: $turquoiseskin !important;
    color: $white;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.datepicker-cell:hover {
    background-color: $white;
    color: $turquoiseskin;
    border: 1px solid $turquoiseskin !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.datepicker-btn-info:hover span{
    color: $turquoiseskin;
}
.datepicker-btns-bar{
    background-color: $turquoiseskin !important;
    color: white !important;
    font-weight: 500 !important;
    border-color: $turquoiseskin !important;
}

.ngFooterPanel select{
    width: 70px !important;
    height: 32px !important;
    color: $turquoiseskin !important;
}

.ngPagerCurrent{
    height: 32px !important;
    margin-top: 0px !important;
    width: 60px !important;
    color: $turquoiseskin !important;
}

.box-sizing {
	@include prefix(box-sizing, border-box, moz)
}