<div class="maincont" style="height: 100%;overflow-y: scroll; overflow-x: hidden">
    <div class="title blue">План-фактный анализ производственных затрат
	<dropdownsearchblue class="blue" info="'Год'" style="width: 10%;float: left;margin-top:-20px;" drop="yearsList" data="formData.yearId" field-change="refreshYear()"></dropdownsearchblue>
	
	</div>
    <div id="plan_fact" class="chart_container chart_bg chart_planfact"></div>
    <div class="chart_column" style="margin-left: 1%;">
        <div class="title blue" style="margin-left: 0">Структура затрат</div>
        <div id="container" class="chart_container chart_bg" style="width:100%;height:400px;float: left;" ></div>
    </div>
    <div class="chart_pie">
        <div class="title blue">Затраты по культурам</div>
        <div id="mainpie" class="chart_container chart_bg" style="width:100%;height:400px; float: left;" ng-click="clickCulture()"></div>
    </div>
    <div id="gross_income" class="chart_container chart_bg chart_planfact" style="margin-top: 20px;height: auto; overflow-x: none;width: 98%;margin-left: 1%;height: auto">
        <div style="width: 15%;padding-left: 10px;float: left;height: auto">
            <table cellpadding="0" cellspacing="0" class="invest-table" style="height: auto">
                <col>
                <colgroup span="1"></colgroup>
                <tr class="invest-table-row">
                    <td class="cost_table_cloumn centerAl blue cultCol" style="width: 100%;"  height ="59px" rowspan="2">Культура</td>
                </tr>
            </table>
            <div style="width: 100%; height: 2px; background-color: #335da8;float: left;"></div>
            <table cellpadding="0" cellspacing="0" class="invest-table" style="height: auto; width: 100%; table-layout:fixed;">
                <tr ng-repeat="item in tableFieldData" class="cultCol2" style="border-bottom:1pt solid #335da8;  height: 30px; width: 100%">

                    <td class="cost_table_cloumn" style="width:100%" ng-class="{red: item.total_delta < 0, greencost: item.total_delta >= 0}">
                        <div style="width:100%; height: 29px; text-overflow: ellipsis;overflow:hidden; white-space: nowrap" ng-class="{total_row : item.plant_id === 0}">{{item.plant_name}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: left;overflow-x: scroll; width: 85%">
            <div class="mainTable" style="width: 2300px; margin-right: 10px">        <!-- 1760px -->
                <table cellpadding="0" cellspacing="0" class="invest-table" style="height: auto; width: auto">
                    <col>
                    <colgroup span="2"></colgroup>
                    <colgroup span="6"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>
                    <colgroup span="3"></colgroup>

                    <tr class="invest-table-row">
                        <td class="cost_table_cloumn centerAl blue" rowspan="2">Площадь, га</td>
                        <td class="cost_table_cloumn centerAl blue" rowspan="2">Валовый сбор, т</td>
                        <th class="cost_table_cloumn centerAl blue headerAll" style="" colspan="8" scope="colgroup">Статьи затрат (факт)</th>
                        <td class="cost_table_cloumn centerAl blue" rowspan="2">ИТОГО(план)</td>
                        <td class="cost_table_cloumn centerAl blue" rowspan="2">ИТОГО(факт)</td>
                        <td class="cost_table_cloumn centerAl blue" rowspan="2">Отклонение</td>
                        <th class="cost_table_cloumn centerAl blue" style="" colspan="3" scope="colgroup1">Затраты на 1 тн</th>
                        <th class="cost_table_cloumn centerAl blue" style="" colspan="3" scope="colgroup2">Затраты на 1 га</th>
                    </tr>
                    <tr>
                        <td class="cost_table_cloumn centerAl blue" scope="col">ЗП</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Топливо</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Удобрения</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">СЗР</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Семена</td>
					    <td class="cost_table_cloumn centerAl blue" scope="col">Пр. материалы</td>
						<td class="cost_table_cloumn centerAl blue" scope="col">Услуги</td>
						<td class="cost_table_cloumn centerAl blue" scope="col">В т.ч. НЗП</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">План</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Факт</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Отклонение</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">План</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Факт</td>
                        <td class="cost_table_cloumn centerAl blue" scope="col">Отклонение</td>
                    </tr>
                </table>
                <div style="width: 100%; height: 2px; background-color: #335da8;float: left;"></div>
                <table cellpadding="0" cellspacing="0" class="invest-table" style="width:auto;height: auto">
                    <tr ng-repeat="item in tableFieldData" style="border-bottom:1pt solid #335da8;  height: 30px; margin-left: 1%">
                        <td class="cost_table_cloumn centerAl" ng-class="{total_row : item.plant_id === 0}">{{item.area | number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.gross_harvest| number:2}}</td>
						
						
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.salary_total| number:2}} <br> {{ IsBig ? (item.plan_salary_total| number:2) : "" }} </td>
                        <td class="cost_table_cloumn rightAl" id="razx" ng-class="{total_row : item.plant_id === 0}">{{item.razx_top| number:2}} <br>     {{ IsBig ? (item.plan_razx_top| number:2) : "" }}  </td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.minud_fact| number:2}} <br>   {{ IsBig ? (item.plan_minud| number:2) : "" }} </td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.szr_fact| number:2}} <br>     {{ IsBig ? (item.plan_szr| number:2) : "" }}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.posevmat_fact| number:2}} <br>{{ IsBig ? (item.plan_posevmat| number:2) : "" }}</td>
						<td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.dop_material_fact| number:2}} <br> {{ IsBig ? (item.plan_dop_material| number:2) : "" }}</td>
						<td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.service_total| number:2}} <br>  {{ IsBig ? (item.plan_service_total| number:2) : "" }}</td>
					    <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.nzp| number:2}} <br></td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.total_plan| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.total_fact| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{red: item.total_delta < 0, greencost: item.total_delta >= 0, total_row : item.plant_id === 0}">{{item.total_delta| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.cost_ga_plan| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.cost_ga_fact| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{red: item.cost_ga_delta < 0, greencost: item.cost_ga_delta >= 0, total_row : item.plant_id === 0}">{{item.cost_ga_delta| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.cost_t_plan| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{total_row : item.plant_id === 0}">{{item.cost_t_fact| number:2}}</td>
                        <td class="cost_table_cloumn rightAl" ng-class="{red: item.cost_t_delta < 0, greencost: item.cost_t_delta >= 0, total_row : item.plant_id === 0}">{{item.cost_t_delta| number:2}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="Tooltip" style="display: none;">
        <div id="icon">
            <div id="grain"></div>
        </div>
        <div id="value">
            <div>
                <div id="efpercentage">#point.x#</div>
                <div id="ef">#point.y#</div>
            </div>
        </div>
    </div>


</div>
<div style="position: absolute; left: -300px">
<div id="template">
    <div id="right" class="verticaltext">
        <div id="point">#point.y#</div>
    </div>
</div>
</div>


<div style="float: right;margin-right: 40px;margin-top: 20px;"><input type="checkbox" 
ng-change="bigReport()" ng-model="IsBig" class="ng-valid ng-dirty">Расширенный отчет</div>


<button class="logus-btn btn" ng-disabled="reportsFactor.$invalid" style="float: right;width: 140px;margin-top: 20px;margin-right: 10px;" ng-click="report()">
    Выгрузить отчет
</button>