<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="height: 60px;margin-top:20px;">
		 <div class="logus-headers" style="float: left;width: 200px;">АКТЫ СПИСАНИЯ</div>
            <div class="logus-text" style="float: left; ">Фильтр по дате</div>
            <datepick class="logus-headers" style="margin-left: 15px; float: left;" data="dateWriteOffActs" mask="'99.99.9999'"
                      regex-name="'date'" date-change="dateChangeSpareParts(data)"></datepick>
            <div class="float-right" style="float: right; margin-left: 15px">
  
                <button id="edit"  type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="editBtnClick()">Просмотр
                </button>
				 <button   type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="printClick()">Печать
                </button>
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 20px;width:100"></div>
        
    </div>
</form>
