<form id="close_driver_way_bill_task_form" name="closeDriverWayBillTaskForm" ng-submit="submitForm()"
      class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">ВЫПОЛНЕННЫЕ РАБОТЫ</div>
    <div style="display:inline-block">
        <div class="close_driver_task_left_block">
            <div class="bloks-header">Задание</div>
            <div class=" row-margin-top" style="float: left;width: 100%;">
                <doubledropnew class="ng-isolate-scope close-task" infoparent="'Поле'"
                               dropparent="infoData.FieldsAndPlants" dataparent="formData.FieldId"
                               infochild="'Культура'" datachild="formData.PlantId" field-change="refreshRate()"></doubledropnew>
            </div>
            <div style="margin-top:5px;float: left;width: 100%;">
                <dropdownsearch class="ng-isolate-scope" info="'Ответственный'"
                                drop="infoData.ChiefsList"
                                data="formData.AvailableId"
                                style="float: left;width: 75%;padding-right: 10px;"></dropdownsearch>
                <button type="button" class="logus-btn btn btn-border" tooltip="{{formData.Comment}}"
                        tooltip-placement="top"
                        ng-class="{'btn-border': !formData.Comment}"
                        style="width: 156px;float: left;height: 32px;margin-top:20px;width: 25%;" ng-click="addComment()">
                    Комментарий
                </button>
            </div>
            <div class="row-margin-top" style="    margin-top: 9px;float: left;width: 100%;">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Задание'" drop="infoData.TasksList"
                                data="formData.TaskTypeId" field-change="refreshRate()"></dropdownsearch>
            </div>
            <div class="row-margin-top" style="float: left;width: 100%;margin-top: 4px;">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Оборудование'"
                                drop="infoData.EquipmnetsList"
                                data="formData.EquipmentId"></dropdownsearch>
            </div>
			      <div class="bloks-header driver_title"  >Оплата</div>
            <div class="row-margin-top" style="float:left;width:100%">
                <textinputnotcomma class="input-close-form ng-isolate-scope" style="width:32%;float: left;" info="'Норма выработки'"
                                   data="formData.WorkDay" regex-name="numbersWithDot"></textinputnotcomma>
                <textinputnotcomma class="input-close-form ng-isolate-scope" style="width:32%;margin-left: 2%; float: left;" info="'См.тариф, руб'"
                                   data="formData.RateShift" regex-name="numbersWithDot"></textinputnotcomma>   			   
				<div  ng-show="tporgid == 1" style="float: left;margin-left: 20px;margin-top: 25px;"><input type="checkbox" ng-change="checkRes()" 
				 ng-model="AllResource">Все ресурсы</div>
                <div style="display: inline-block; margin-top: 10px;">
				
                    <textinputnotcomma class="ng-isolate-scope" info="'Перевезено,т'" style="float:left;width: 17%;"
                                       data="formData.Volumefact" regex-name="numbersWithDot"></textinputnotcomma>			   
					<textinputnotcomma class="ng-isolate-scope" info="'Масса прицепа,т'" style="float:left;width: 35%;margin-left: 2%;"
                                       data="formData.Trailerfact" regex-name="numbersWithDot"></textinputnotcomma>				   
		  
                    <textinputnotcomma class="input-close-form ng-isolate-scope" style="width:19%;margin-left: 2%; float: left;" info="'Отработано,ч'"
                                       data="formData.WorkTime"  regex-name="numbersWithDot"></textinputnotcomma>
                    <textinputnotcomma class="input-close-form ng-isolate-scope" style="width:19%;margin-left: 2%; float: left;" info="'В пер.на усл.га'"
                                       data="formData.Area" regex-name="numbersWithDot"></textinputnotcomma>
                </div>
                <dropdownsearch class="ng-isolate-scope" info="'Тип расценки'" drop="infoData.TypePriceList" selectfunction="typePriceChange"
                                     data="formData.TypePrice" style="float:left;width: 32%;"></dropdownsearch>
                <textinputnotcomma class="ng-isolate-scope" style="width:32%;margin-left: 2%; float:left" info="'Расценка, руб'"
                                   data="formData.RatePiecework" regex-name="numbersWithDot"></textinputnotcomma>
            </div>
        </div>


        <div class="close_add_right_block">
            <div class="bloks-header">Итог</div>
            <div class="row-margin-top" style="float:left; width:100%">
                <textinputnotcomma class="ng-isolate-scope" info="'Кол-во рейсов'" style="float:left;width: 32%;"
                                   data="formData.NumRuns" regex-name="numbersOnly">
                </textinputnotcomma>
                <textinputnotcomma class="ng-isolate-scope" info="'Кол-во заправок'" style="width:32%;margin-left: 2%; float: left;"
                                   data="formData.NumRefuel" regex-name="numbersWithDot">
                </textinputnotcomma>
                <textinputnotcomma class="ng-isolate-scope" info="'Кол-во подъемов'" style="width:32%;margin-left: 2%; float: left;"
                                   data="formData.NumLifts" regex-name="numbersOnly">
                </textinputnotcomma>
            </div>
            <div class="bloks-header driver_title">Пробег</div>
            <div class="row-margin-top" style="float:left; width:100%">
				<div class="logus-text ng-binding" style="float:left;width: 32%;">Пробег по трассе, км.</div>
				<div class="logus-text ng-binding" style="float:left;width: 32%;">Пробег по городу, км.</div>
				<div class="logus-text ng-binding" style="float:left;width: 35%;">Пробег по полю, км.</div>
				 <textinputnotcomma class="ng-isolate-scope"  style="width:21%;float: left;" field-change="changeMileageTotal()"
                                   data="formData.MileageOnTrack"  regex-name="numbersWithDot">
                </textinputnotcomma>
				 <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;" readonly ng-value="formData.CoefTrack == null ? '' : 'x'+formData.CoefTrack">
				 <textinputnotcomma class="ng-isolate-scope" style="float:left;width: 21%;margin-left: 2%; " field-change="changeMileageTotal()"
                 data="formData.MileageCity"  regex-name="numbersWithDot">
                </textinputnotcomma>
                <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;" readonly ng-value="formData.CoefCity == null ? '' : 'x'+formData.CoefCity">
				<textinputnotcomma class="ng-isolate-scope"  style="width:21%;margin-left: 2%; float: left;" field-change="changeMileageTotal()"
                                   data="formData.MileageOnGround"  regex-name="numbersWithDot">
                </textinputnotcomma>	
				 <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;" readonly ng-value="formData.CoefField == null ? '' : 'x'+formData.CoefField">
							
				<textinputnotcomma class="ng-isolate-scope" info="'Пробег с грузом, км.'" style="width:28%;float: left;"
                      data="formData.MileageCargo" regex-name="numbersWithDot">
                </textinputnotcomma>
				<textinputnotcomma class="ng-isolate-scope" info="'Пробег с прицепом, км.'" style="width:32%;float: left;margin-left: 2%;"
                                   data="formData.MileageTrailer" regex-name="numbersWithDot">
                </textinputnotcomma>
				 <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;margin-top: 20px;" readonly ng-value="formData.CoefTrailer == null ? '' : 'x'+formData.CoefTrailer">		
		        <div style="width: 26%; float: left; margin-left: 2%">
                    <div class="logus-text" >Пробег общий, км.</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.MileageTotal">
                </div>
                </div>
			    <div class="bloks-header driver_title">Надбавки</div>
                <div class="row-margin-top" style="float:left; width:100%">
				<div class="logus-text ng-binding" style="float:left;width: 31%;">Обогрев двигателя, л/ч</div>
				<div class="logus-text ng-binding" style="float:left;width: 22%;">Отопление, л/ч</div>
				<div class="logus-text ng-binding" style="float:left;width: 40%;">Рефрижератор</div>
				
				<textinputnotcomma class="ng-isolate-scope" placeholder="'ч'" style="width:8%;float: left;margin-left: 0%;"
                                   data="formData.Engine_heating_hour"  regex-name="numbersWithDot">
                </textinputnotcomma>
	         <input class="logus-input readonly" style="background: #e6f6f5;width:21%;float: left;margin-top: 0px;" readonly 
			 ng-value="formData.Engine_heating == null ? '' : 'x'+formData.Engine_heating">		
				 <textinputnotcomma class="ng-isolate-scope" placeholder="'ч'" style="float:left;width: 8%;margin-left: 2%; "
                 data="formData.Heating_hour"  regex-name="numbersWithDot">
                </textinputnotcomma>
	            <input class="logus-input readonly" style="background: #e6f6f5;width:13%;float: left;margin-top: 0px;" readonly ng-value="formData.Heating == null ? '' : 'x'+formData.Heating">	
	   			<textinputnotcomma id="icebox" class="ng-isolate-scope" placeholder="'ч'"  style="width:8%;margin-left: 2%; float: left;"
                                   data="formData.Icebox_hour"  regex-name="numbersWithDot">
                </textinputnotcomma>	
				   <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;margin-top: 0px;" readonly 
				   ng-value="formData.Icebox2 == null ? '' : 'x'+formData.Icebox2">	
			     <dropdownsearch class="row-margin-top ng-isolate-scope" info="" style="width:15%;margin-left: 2%; float: left;margin-top: 0px;"
			     drop="infoData2.IceBoxList" data="formData2.TypeIceBoxId" field-change="refreshFuelRate()"></dropdownsearch>

				 <textinputnotcomma class="" info="'Коэфф-т, л/тн,'" style="width:20%;float: left;"
                                   data="formData.Coef" regex-name="numbersWithDot"  ></textinputnotcomma>
				 <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;margin-top: 20px;" readonly ng-value="formData.NumRuns == null ? '' : '/'+formData.NumRuns">				   
			     <input id="weigth" type="checkbox" style="margin-left: 5px;float: left;margin-top: 30px;" ng-change="checkWeigth()" ng-model="formData.IsWeigth">
			 
			    <div class="logus-text ng-binding" style="float:left;width: 32%;">Кол-во закачек</div>
				<div class="logus-text ng-binding" style="float:left;width: 34%;">Кол-во сливов</div>
				 <textinputnotcomma class="ng-isolate-scope"  style="width:16%;float: left;margin-left: 5px;" field-change="changeMileageTotal()"
                                   data="formData.NumFuel"  regex-name="numbersWithDot">
                </textinputnotcomma>
				 <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;" readonly ng-value="formData.CoefFuel == null ? '' : 'x'+formData.CoefFuel">
				 <textinputnotcomma class="ng-isolate-scope" style="float:left;width: 16%;margin-left: 2%; " field-change="changeMileageTotal()"
                 data="formData.NumSink"  regex-name="numbersWithDot">
                </textinputnotcomma>
                <input class="logus-input readonly" style="background: #e6f6f5;width:10%;float: left;" readonly ng-value="formData.CoefSink == null ? '' : 'x'+formData.CoefSink">
				
            <div class="row-margin-top" style="float:left; width:100%">
               <textinputnotcomma class="" info="'Работа с установкой'" placeholder="'ч'" style="width:30%;float: left;"
                                   data="formData.Setting" regex-name="numbersWithDot"  ></textinputnotcomma>
								   
				 <textinputnotcomma class="ng-isolate-scope" style="float:left;width: 10%;margin-top:19px;" field-change="changeMileageTotal()"
                 data="formData.CoefSetting"  regex-name="numbersWithDot">
                </textinputnotcomma>
				
				<button type="button" class="calcul-button" 
				style="vertical-align: middle;height:37px;width:33px;margin-left:10px;margin-top:16px;" ng-click="countConsFact()"></button>
            </div>
			
              </div>
			    <div class="bloks-header driver_title">Топливо</div>
            <div class="row-margin-top" style="float:left; width:100%">
                <textinputnotcomma class="ng-isolate-scope" info="'Расх. гор. факт'" style="width:32%;float: left;"
                                   data="formData.ConsumptionFact" regex-name="numbersWithDot" field-change="changeConsumptionFact()"></textinputnotcomma>
                <div style="width: 32%; float: left; margin-left: 2%">
                    <div class="logus-text">Тип топлива</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.TypeFuel.Name">
                </div>
                <div style="width: 32%; float: left; margin-left: 2%">
                    <div class="logus-text" >Цена, руб</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.TypeFuel.Price">
                </div>
                <div style="width: 32%; float: left;">
                    <div class="logus-text" >Стоимость по факт.</div>
                    <input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.FuelCost">
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:20px">
        <button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="float: right;width: 100px;"
                ng-click="cancelClick()">Отмена
        </button>
        <button type="submit" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="margin-right: 10px; float: right;width: 100px;">Ок
        </button>
    </div>
</form>