<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">ТЕХ. КАРТЫ</div>
    <div class="tc-block">
        <dropdownsearch class="ng-isolate-scope" info="'Год'" style="width: 20%;float: left;" drop="infoData.YearList" data="YearId" field-change="refreshYear()"></dropdownsearch>
        <button type="button" class="logus-btn btn btn-border ng-click-active" style="width: 200px;margin-top: 20px;margin-left: 10px;" ng-click="openTotalReport()">Выгрузить итог XLS</button>

        <button type="button" id="create" class="logus-btn" style="float: right;width: 20%;margin-top: 20px;" ng-click="createTC()">Создать</button>
        <button type="button" id="edit" class="logus-btn btn" style="float: right;width: 20%;margin-top: 20px;margin-right: 10px" ng-click="editTC()">Редактировать</button>
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 550px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>
 <div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
    <h3  class="modal-title">Предупреждение</h3>
    <button ng-click="cancelClick()" class="modal-close-btn btn"></button>
 </div>
 <div class="modal-body my-modal-question">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_warning.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div>В севообороте изменились данные по площади. Пересчитать тех. карту? Без пересчета тех. карта будет доступна в режиме просмотра.</div>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="yes()">Да</button>
            <button type="button" class="logus-btn btn " ng-click="no()">Нет</button>
        </div>
    </form>
</div>
    </div>
  </div>
</div>