<form id="create_tc" name="createEditTcForm" ng-submit="submitForm()" class="logus-form" style="width:94%">
    <div class="logus-headers" style="padding-top: 15px">ТЕХНОЛОГИЧЕСКАЯ КАРТА</div>
    <dropdownsearch class="{{getClassChanges()}} ng-isolate-scope " info="'Год'" style="width: 20%;float: left;" drop="infoData.YearList" data="formData.YearId" field-change="refreshYear()"></dropdownsearch>
    <div class="{{getClassChanges()}}" style="width: 50%;float: left;padding-left: 5px">
        <doubledropnew  infoparent="'Культура'" infochild="'Сорт'" dropparent="Plants" dataparent="formData.PlantId" datachild="formData.SortId" field-change="refreshPlant()"></doubledropnew>
    </div>
    <dropdownsearch class="{{getClassChanges()}} ng-isolate-scope" info="'Поля'" style="width: 20%;float: left;margin-left: 10px;" drop="infoData.FieldList" data="formData.FieldId" field-change="refreshField()"></dropdownsearch>

    <div class="tc-block">
        <div class="bloks-header" style="width: 78%">Назначенные работы</div>
        <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createTask()">Создать</button>
        <div style="width: 100%; height: 400px;margin-top: 16px;" ng-grid="gridOptions_Works" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>

    <div class="tc-block" style="margin-bottom: 20px">
        <tabset style="margin-top: 15px; margin-bottom: 20px;">
            <tab heading="Свод затрат">
                <div style="width: 100%; float: left; margin-top: 15px">
                    <span style="width: 100%; float: left;color: #06aa9f;">
                        Поля
                    </span>
                    <li ng-repeat="d in Fields track by $index" style="width: 20%;float:left" readonly class="bordernone">{{d.Name + '(' + d.Area + ' га)'}}</li>
                </div>
                <div style="width: 100%; float: left; margin-top: 15px">
                    <div style="width: 16%;float: left">
                        <textinputnotcomma info="'Площадь, га'" readonly="true"  data="formData.Area" field-change="changeMainData()"></textinputnotcomma>
                    </div>
                    <div class="{{getClassChanges()}}" style="width: 16%;padding-left: 5px;float: left">
                        <textinputnotcomma info="'Урожайность, тн/га'" data="formData.Productivity"  field-change="changeMainData()"></textinputnotcomma>
                    </div>
                    <div style="width: 16%;padding-left: 5px;float: left">
                        <textinputnotcomma info="'Валовый сбор, тн'" readonly="true" data="formData.GrossHarvest"></textinputnotcomma>
                    </div>
                </div>
                <div class="tc-block" style="height: 490px; overflow-y: hidden">
                    <div style="width: 60%; height: 492px" ng-grid="gridTotal" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="НЗП">
                <div class="tc-block">
                    <div class="bloks-header">Незавершенное производство (НЗП)</div>
                    <div style="width: 100%; height: 100px" ng-grid="gridOptions_NZP" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                    <button type="button" class="{{getClassChanges()}} logus-btn btn" style="float: right; margin-left: 10px;margin-top: 10px" ng-click="countNZP()">Рассчитать</button>
                </div>
            </tab>
            <tab heading="Топливо">
                <div class="tc-block">
                    <div class="bloks-header">Состав агрегата и расход топлива</div>
                    <div style="width: 100%; height: 400px" ng-grid="gridOptions_Tech" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="ЗП">
                <div class="tc-block">
                    <div class="bloks-header">Обслуживающий персонал</div>
                    <div style="width: 100%; height: 400px" ng-grid="gridOptions_Emp" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Вспомогательный персонал</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSupportStaff()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_SupportStuff" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Семена">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Семена</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSeed()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Seed" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Удобрения">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Минеральные удобрения</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewFertilizer()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_ChemicalFertilizers" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="СЗР">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">СЗР</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSZR()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Szr" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
           <tab heading="Пр. материалы">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Пр. материалы</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewDopMaterial()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_DopMaterial" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Услуги">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Услуги</div>
                    <button type="button" class="{{getClassChanges()}} logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewServices()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Services" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="tc-block">
        <button type="button" class="logus-btn btn" style="float: right; margin-left: 10px" ng-click="cancel()">Отменить</button>
        <button type="submit" class="{{getClassChanges()}} logus-btn btn" style="float: right;">Сохранить</button>
    </div>
</form>
