<form class="logus-form" style="width:100%">
	<div class="tc-block" style="margin-top: 0px">
		<div style="height: 100px; padding: 20px">
			<div class="logus-text">Период<div>
			<datepick class="logus-headers"
                      style="float: left" data="formData.DateStart"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="refresh2(1)"></datepick>
            <div style="float:left;margin-left: 10px;margin-top: 5px;">&mdash;</div>
            <datepick class="logus-headers"
                      style="float: left; margin-left: 10px" data="formData.DateEnd"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="refresh2(2)"></datepick>
            <dropdownsearch class="ng-isolate-scope" style="width:200px;float: left;margin-left: 10px;margin-top: -20px;" 
            				info="'Тип техники'" drop="infoData.TypeTraktor" data="formData.TypeTraktorId" 
            				field-change="refresh2()"></dropdownsearch>
            <dropdownsearch class="ng-isolate-scope" style="width:200px;float: left;margin-left: 10px;margin-top: -20px;" 
            				info="'Тип оборудования'" drop="infoData.TypeEqui" data="formData.TypeEquiId" 
            				field-change="refresh2()"></dropdownsearch>
		 <button type="button" class="logus-btn btn btn-border ng-click-active" style="width: 150px;margin-left: 10px;"
		 ng-click="printReport()">Печать</button>
		</div>
		
		<div class="logus-headers" style="width:85%; float: left;margin-top: 20px">Техника</div>
		<div class="logus-headers" style="width:15%; float: left;margin-top: 20px">Свободно</div>
		<div>
			<!--div id="GanttContainer" style="height:700px;width:85%; float: left;"/-->	
			 <div id="gantt_here2" style="height:700px;width:85%; float: left;"> </div>
			 
			<div style="height: 700px; width:15%; background-color: #F5F5F5; float: left; overflow-x: hidden; overflow-y: scroll; padding: 10px">
				<li ng-repeat="item in FreeTrakt">{{item.Name}}</li>
			</div>
		</div>
		<div class="logus-headers" style="width:85%; float: left;margin-top: 20px">Оборудование</div>
		<div class="logus-headers" style="width:15%; float: left;margin-top: 20px">Свободно</div>
		<div>
			<!--div id="GanttContainer2" style="height:700px;width:85%; float: left;"/-->	
            <div id="gantt_here3" style="height:700px;width:85%; float: left;"> </div>
			<div style="height: 700px; width:15%; background-color: #F5F5F5; float: left; overflow-x: hidden; overflow-y: scroll; padding: 10px">
				<li ng-repeat="item in FreeEqui">{{item.Name}}</li>
			</div>
		</div>
	</div>
</form>