<form class="logus-form" style="width:100%">
	<div class="tc-block" style="margin-top: 0px">
		<div style="height: 100px; padding: 20px">
			<div class="logus-text">Период<div>
			<datepick class="logus-headers"
                      style="float: left" data="formData.DateStart"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="refresh2(1)"></datepick>
            <div style="float:left;margin-left: 10px;margin-top: 5px;">&mdash;</div>
            <datepick class="logus-headers"
                      style="float: left; margin-left: 10px" data="formData.DateEnd"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="refresh2(2)"></datepick>
            <dropdownsearch class="ng-isolate-scope" style="width:200px;float: left;margin-left: 10px;margin-top: -20px;" 
            				info="'Тип ТМЦ'" drop="infoData.TypeTMC" data="formData.TmcId" 
            				field-change="refresh2()"></dropdownsearch>
	<!--div style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="bigReport()" ng-model="formData.IsBig"> Расширенный отчет</div-->
		</div>
		<div>
			<!--div id="GanttContainer" style="height:500px;width:100%; float: left;"/-->	
			 <div id="gantt_here" style="height:500px;width:100%; float: left;">
			 </div>
		</div>
		<div class="tc-block">
        <div style="width: 50%; height: 400px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
	</div>
</form>