@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
	overflow:hidden;
	scroll:no;
}
.map {
  height: 100%;
  width: 100%;
  background: url(element_grid.png) repeat;
  overflow:hidden;
  scroll:no;
}
.ol-attribution {
  max-width: 50%;
}
#tags {
  display: none;
}

body, h1, h2, h3, h4, p, li, td, th {
  font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
}
