body {
    height: 100%;
    background-image: url(../img/bg.png);
    background-position: left bottom;
    background-repeat: repeat;
}
@font-face {
    font-family: DINPro;
    src: url(../font/DINPro-Medium.ttf);
}
span{
    font-family: DINPro;
}
.white-text{
    color: #ffffff;
}
.orange-text{
    color: #f6b43c;
    font-size: 10pt;
    font-weight: bold;
}
.margin-top-10{
     margin-top: 10px;
 }
.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.main-way-bill{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.container-title{
    width: 100%;
    height: 4%;
    margin-top: 2%;
    margin-left: 1.5%;
}
.container-tractors {
    margin: 2% auto;
    width: 100%;
    height: 10%;
    margin-top: 2%;
    margin-left: 1.5%;
}
.tractors-panel{
    width: 20%;
    height: 5%;
    float:left;
}
.container-parametrs{
    margin-top: -1%;
    width: 35%;
    height: 70%;
    float: left;
}
.sub-container-parametrs{
    width: 100%;
    float: left;
}
.parametrs-panel{
    width: 92%;
    margin-left: 3%;
    display: block;
    background-color: #465265;
    border: 2px solid #eed099;
    border-style: solid none none none;
}
.container-parametrs-text{
    width: 100%;
    height: 2%;
    margin-top: 1%;
}

.margin-left-3 {
	margin-left: 3%;
}

.container-map {
    margin-top: -1%;
    width: 63%;
    height: 70%;
    float: left;
}
.map{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow:hidden;
    scroll:no;
}
.header {
    font-family: DINPro;
    font-size: 14px;
}