<script type="text/ng-template" id="group-template">
      <div class="panel {{panelClass || \'panel-default new\'}}">
            <div>
                  <div class="panel-heading new" ng-click="toggleOpen()">
                        <h4 class="panel-title new">
                              <a href tabindex="0" class="accordion-toggle.new" accordion-transclude="heading">
                                    <div class="glyphicon" ng-class="{\'accord-group-open\': !isOpen,\'accord-group-close\': isOpen}" style="top:6px;">
                                    </div>
                                    <span ng-class="{\'text-muted\': isDisabled}">{{heading}}</span>
                              </a>            
                        </h4>
                  </div>
                  <div class="panel-collapse collapse" collapse="!isOpen">
                        <div class="panel-body" style="border-top: none" ng-transclude></div>
                  </div>
            </div>
      </div>
</script>

<form class="logus-form" style="width:90%">
      <div style="float: left; margin-top: 20px;width: 100%;">
            <div class="logus-headers" style="padding-top: 15px;float: left;" ng-model="formData.WayListNum">РАСЦЕНКИ</div>
            <div style="display: inline-block;margin-left: 20px;height: 33px;width: 250px;">
                  <input ng-model="filterText" placeholder="Поиск" style="width: 100%;height: 32px;margin-top: 10px;" class="logus-input" ng-change="search()"/>
            </div>
            <button class="logus-btn btn" style="float: right; margin-left: 10px; margin-top: 10px" ng-click="cancel()">Отменить</button>
            <button class="logus-btn btn" style="float: right; margin-top: 10px" ng-click="save()">Сохранить</button>
      </div>
      <accordion close-others="oneAtATime" ng-class="{{customClass}}" class="" style="float:left; width: 100%">
            <button class="ui-match-clear" style="top: 6px;" ng-click="close($event)"></button>
            <accordion-group ng-repeat="item in formData" heading="{{item.Name + ' (' + item.Values.length + ')'}}" is-open="itemOpened[$index]" template-url="group-template" class="text-collapse" ng-show="!filterText || item.Name.toLowerCase().indexOf(filterText.toLowerCase()) != -1">
                  <div style="float:left;width:100%;">
                        
                        <div style="float:left;box-sizing: content-box;width:8%;padding-left: 65%;height: 50px;margin-left: 5px">См. норма выработки</div>
                        <div style="float:left;box-sizing: content-box;width:7%;height: 50px;">Тариф</div>
                        <div style="float:left;box-sizing: content-box;width:7%;height: 50px;">Расценка</div>
                        <div style="float:left;box-sizing: content-box;width:8%;height: 50px;">Расход топлива</div>
                  </div>
                  <div ng-repeat="val in item.Values" style="float:left;width:100%;">
                        <div style="float:left;width:10%">
                              <input ng-model="val.IdPlant.Name" placeholder="Культура" style="border: none;width: 100%" ng-click="openSelect('IdPlant', val)" readonly>
                        </div>
                        <div style="float:left;width:15%">
                              <input ng-model="val.IdTrak.Name" placeholder="Группа тех." style="border: none;width: 100%" ng-click="openSelect('IdTrak', val)" readonly>
                        </div>
                        <div style="float:left;width:25%">
                              <input ng-model="val.IdEqui.Name" placeholder="Оборудование" style="border: none;width: 100%" ng-click="openSelect('IdEqui', val)" readonly>
                        </div>
                        <div style="float:left;width:15%">
                              <input ng-model="val.IdAgroReq.Name" placeholder="Агротехн. требование" style="border: none;width: 100%" ng-click="openSelect('IdAgroReq', val)" readonly>
                        </div>

                        <div style="float:left;width:8%;padding-right: 5px;padding-left: 5px">
                              <textinputnotcomma data="val.ShiftOutput" regex-name="numbersWithPoint" field-change="addForSave(val)"></textinputnotcomma>
                        </div>
                        <div style="float:left;width:7%;padding-right: 5px;padding-left: 5px">
                              <textinputnotcomma data="val.RateShift" regex-name="numbersWithPoint" field-change="addForSave(val)"></textinputnotcomma>
                        </div>
                        <div style="float:left;width:7%;padding-right: 5px;padding-left: 5px">
                              <textinputnotcomma data="val.RatePiecework" regex-name="numbersWithPoint" field-change="addForSave(val)"></textinputnotcomma>
                        </div>
                        <div style="float:left;width:8%;padding-right: 5px;padding-left: 5px">
                              <textinputnotcomma data="val.FuelConsumption" regex-name="numbersWithPoint" field-change="addForSave(val)"></textinputnotcomma>
                        </div>
                        <div style="float: left;margin-top: 0px;" class="clear_row" ng-click="delRow(val, item)"/>
                  </div>
                  <div style="float: left;width: 100%;margin-top: 10px;">
                        <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px;margin-left: 0px; float: right;" ng-click="addRate(item)">
                            +Расценка
                        </button>
                  </div>
            </accordion-group>
      </accordion>
</form>