<div>
    <form class="logus-form">
        <div style="width:100%; float: left; margin-top: 20px">
            <div class="logus-headers" style="margin-top: 18px;float: left;" ng-model="formData.WayListNum">УЧЕТ ПРИХОДА ГОРЮЧЕГО ЗА</div>
            <datepick class="logus-headers" style="margin-top: 14px;float:left; margin-left: 10px" data="dateIncoming" mask="'99.99.9999'" regex-name="'date'" date-change="dateChange(data)"></datepick>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1 " ng-show="editBtnVis" style="margin-top: 15px; float: right;" ng-click="createTask()">Создать</button>
        </div>
        <div style="width:100%; float: left;">
            <div id="first-grid" class="create-grid-style" ng-grid="gridFirstOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
        </div>
        <div>
            <button type="button" class="logus-btn btn col-md-1 col-xs-3 col-sm-1 col-lg-1 " ng-show="editBtnVis" style="margin-top: 15px; float: right;width: 150px;" ng-click="postIncome()">Отправить</button>
        </div>
    </form>
</div>