<div class="logus-form">
    <div class="row-margin-top">
        <div class="bloks-header bloks-header" style="float: left;margin-right: 40px; width: 240px;">
            Список отчетов
        </div>
        <div class="bloks-header bloks-header" style="float: left;margin-right: 10px;width: 734px;">
            Параметры отчета
        </div>
    </div>
    <tabset type="nav nav-pills nav-stacked nav-reports">
        <tab heading="Путевые листы механизаторов" select="setTab('machineOperators')">
            <form class="report-param-block" id="reports_machine_operators_item_form" name="reportsMachineOperatorsItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.machineStartDate"
                                    datasecond="formData.machineEndDate"></doubledatepick>
                    <dropdownsearch class="ng-isolate-scope" info="'Отделение'" drop="infoData.OrganizationsList"
                                    data="formData.OrgMachineOperatorsId" style="float:left;width: 200px;"
                                    field-change="refreshTable('org')"></dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="reportsMachineOperatorsItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
        <tab heading="Путевые листы водителя"  select="setTab('drivers')">
            <form class="report-param-block" name="reportsDriversItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.driverStartDate"
                                    datasecond="formData.driverEndDate"></doubledatepick>
                    <dropdownsearch class="ng-isolate-scope" info="'Отделение'" drop="infoData.OrganizationsList"
                                    data="formData.OrgDriversId" style="float:left;width: 200px;"
                                    field-change="refreshTable('org')"></dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="reportsDriversItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
        <tab heading="Отчет по топливу" select="setTab('refuel')">
            <form class="report-param-block" name="reportsRefuelItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.refuelStartDate"
                                    datasecond="formData.refuelEndDate"></doubledatepick>
                    <div style="width: 440px;float: left;margin-top: -10px;">
                        <dropdownsearchtf class="row-margin-top ng-isolate-scope reports-dropdown" info="'Техника'"
                                          infotf="'Гос. №'"
                                          drop="infoData.TraktorsList" data="formData.TraktorId" selectfunction="traktorChange">
                    </div>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="reportsRefuelItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
			<tab heading="Учет заработной платы" select="setTab('time')">
            <form class="report-param-block" name="timeItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				    <doubledatepick style="width: 280px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.timeStartDate"
                                    datasecond="formData.timeEndDate" start-Date-change="getStartDateSal(formData.timeStartDate)" 
									End-Date-change="getEndDateSal(formData.timeEndDate)"></doubledatepick>
					<dropdownsearch class="ng-isolate-scope" info="'Сотрудник'" drop="infoData.responsibleListSal"
                                data="formData.timeEmpId" style="float:left;width: 200px;margin-right: 20px;">
					</dropdownsearch>
					<div style="float: left;margin-top: 30px;">
					<input type="checkbox" ng-change="isSheet()" ng-model="formData.sheet"> Агрогараж
					</div>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="timeItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
        <tab heading="Табель рабочего времени" select="setTab('table')">
            <form class="report-param-block" name="tableItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
									 <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.tableStartDate"
                                    datasecond="formData.tableEndDate"></doubledatepick>
			   	<dropdownsearch class="ng-isolate-scope" info="'Должность'" drop="infoData.positionList"
                                data="formData.positionId" style="float:left;width: 200px;">
			    </dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="tableItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
        <tab heading="Отчет по грузовой технике" select="setTab('trucks')">
            <form class="report-param-block" name="reportsRefuelItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.trucksStartDate"
                                    datasecond="formData.trucksEndDate"></doubledatepick>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="reportsRefuelItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
        <tab heading="Выгрузка в 1С" select="setTab('export')">
            <form class="report-param-block" name="exportForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.exportStartDate"
                                    datasecond="formData.exportEndDate"></doubledatepick>
                    <dropdownsearch class="ng-isolate-scope" info="'Вид выгрузки'" drop="infoData.exportList"
                                    data="formData.exportId" style="float:left;width: 200px;">
				    </dropdownsearch>

                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="exportForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
           <tab heading="Списание ТМЦ" select="setTab('writeoff')">
            <form class="report-param-block" name="writeOffItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				   <doubledatepick style="width: 280px;float: left;margin-right: 10px;" infofirst="'Дата начала'" 
                   infosecond="'Дата окончания'" start-Date-change="getWriteOffDate()" 
				   datafirst="formData.exportStartDate" end-Date-change="getWriteOffDate()" 
			    	datasecond="formData.exportEndDate"></doubledatepick> 
					<dropdownsearch class="ng-isolate-scope" info="'Тип ТМЦ'" drop="infoData.TmcList" 
					data="formData.materialId" style="float:left;width: 200px;margin-right: 0px;"> 
					</dropdownsearch> 
					<doubledropallplants class="create-task" infoparent="'Поле'" dropparent="infoData.FieldsAndPlants" dataparent="formData.FieldId" 
						infochild="'Культура'" datachild="formData.PlantId" data="infoData.AllPlantsWriteOff" 
					field-change="refreshLayer(formData.FieldId)" style="float:left;width: 400px;"></doubledropallplants> 

					<dropdownsearch class="ng-isolate-scope" info="'Ответственный'" drop="infoData.employeerList" 
					data="formData.employeerId" style="float:left;width: 200px;margin-top: -57px;"> 
					</dropdownsearch> 
                </div>
		<div id = "journal" style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="checkJournal()"  ng-model="formData.Journal">Журналы учета
				</div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="writeOffItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
              <button type="button" class="logus-btn btn btn-border"  style="float: right;width: 140px;margin-top: 20px;margin-right: 20px;" 
			   ng-click="cleanParam()">Сброс параметров</button>
                </div>
            </form>
        </tab>
			<tab heading="Остатки ТМЦ" select="setTab('respo')">
            <form class="report-param-block" name="reportsResponsablesItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                    <dropdownsearch class="ng-isolate-scope" info="'Ответственный'" drop="infoData.employeerList"
                                    data="formData.employeerId" style="float:left;width: 200px;margin-right: 20px;"
                                    field-change="refreshTable('org')"></dropdownsearch>
                    
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="reportsResponsablesItemFormItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>	
		     <tab heading="Начисление ЗП(сдельная)" select="setTab('doc')">
            <form class="report-param-block" name="docItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				     <doubledatepick  style="width: 280px;float: left;margin-right: 5px;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.docStartDate"
                                    datasecond="formData.docEndDate" start-Date-change="getStartDate(formData.docStartDate)" 
									End-Date-change="getEndDate(formData.docEndDate)"></doubledatepick>
                  <dropdownsearch class="ng-isolate-scope" info="'Сотрудник'" drop="infoData.responsibleList"
                                data="formData.empId" style="float:left;width: 200px;margin-right: 150px;">
			    </dropdownsearch>
	           <div style="float: left;margin-left: 10px;margin-top: 5px;">
	           <input type="checkbox" ng-change="bigReport()" ng-model="formData.IsBig"> Расширенный отчет</div>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="docItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
             </tab>
		     <tab heading="Планируемые затраты" select="setTab('plan')">
            <form class="report-param-block" name="planCostItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
			<dropdownsearch class="blue" info="'Год'" style="width: 20%;float: left;margin-top:-0px;margin-right: 50px;" drop="yearsList" data="formData.yearId" field-change="refreshYear()"></dropdownsearch>
                  <dropdownsearch class="ng-isolate-scope" info="'Культура'" drop="infoData3.cultList"
                                data="formData.cultId" style="float:left;width: 200px;margin-right: 150px;">
			    </dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="planCostItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
            </tab>
		 <tab heading="Расход ТМЦ" select="setTab('cons')">
            <form class="report-param-block" name="consumptionItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                   <doubledatepick id="ConDate" style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.consStartDate" start-Date-change="getConsStartDate()" end-Date-change="getConsStartDate()"
                                    datasecond="formData.consEndDate"></doubledatepick>
                    <dropdownsearch id="typeTMC" class="ng-isolate-scope" info="'Тип ТМЦ'" drop="infoData.TmcList"
                                    data="formData.materialId" style="float:left;width: 200px;margin-right: 20px;">
				    </dropdownsearch>
					<dropdownsearch id="culture" class="ng-isolate-scope" info="'Культура'" drop="infoData.ConsPlants"
									data="formData.PlantId" style="float:left;width: 200px;"></dropdownsearch>	
				</div>
				<div style="float: left;margin-right: 0px;margin-top: 0px;"><input type="checkbox" ng-change="bigReport1()" ng-model="formData.IsBig1"> Расширенный отчет</div>
                <div class="report-footer">
                    <button type="submit" id="loadReport" class="logus-btn btn" ng-disabled="consumptionItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		  <tab heading="Расценки" select="setTab('rate')">
            <form class="report-param-block" name="rateItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
		
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="rateItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		  <tab heading="План-график культур" select="setTab('planChartCult')">
            <form class="report-param-block" name="planChartCultItemForm" novalidate ng-submit="submitForm()">
                 <div class="row row-margin-top" style="margin-left: 0px;">
			<dropdownsearch class="blue" info="'Год'" style="width: 20%;float: left;margin-top:-0px;margin-right: 50px;" drop="yearsList" data="formData.yearId" field-change="refreshYear()"></dropdownsearch>
                  <dropdownsearch class="ng-isolate-scope" info="'Культура'" drop="infoData3.cultList"
                                data="formData.cultId" style="float:left;width: 200px;margin-right: 150px;">
			    </dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="planChartCultItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		 <tab heading="Себестоимость по культурам" select="setTab('planfact')">
            <form class="report-param-block" name="planfactItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
			<dropdownsearch class="blue" info="'Год'" style="width: 20%;float: left;margin-top:-0px;margin-right: 20px;" drop="yearsList" data="formData.yearId" field-change="refreshYearPlanFact()"></dropdownsearch>
                     <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.pfStartDate"
                                    datasecond="formData.pfEndDate" start-Date-change="getCultStartDate(formData.pfStartDate)" 
									End-Date-change="getCultEndDate(formData.pfEndDate)"></doubledatepick>
                 <dropdownsearch class="ng-isolate-scope" info="'Культура'" drop="infoData2.cultPlanFactList"
                                data="formData.cultPfId" style="float:left;width: 200px;margin-right: 50px;">
			    </dropdownsearch>
                </div>
				<div style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="checkPlan()" ng-model="formData.Plan">План
				
				</div>
				<div id="detal" class="disabledbutton" style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox"  ng-model="formData.Detal">Детализация по культурам</div>
				<div style="float: left;margin-left: -241px;margin-top: 30px;"><input type="checkbox" ng-change="checkFact()"  ng-model="formData.Fact">Факт</div>
			    <div class="row row-margin-top" style="margin-left: 0px;">
			<dropdownsearch class="blue" info="'Сохраненные тех.карты'" style="width: 40%;float: left;margin-top:45px;margin-left: -250px;" 
			 drop="sectionTechList" data="formData.dateId" "></dropdownsearch>
			 </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="planfactItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
            </tab>
			
			<tab heading="Затраты на НЗП" select="setTab('nzp')">
            <form class="report-param-block" name="nzpItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
			<dropdownsearch class="blue" info="'Год'" style="width: 20%;float: left;margin-top:-0px;margin-right: 20px;" drop="yearsList" data="formData.yearId2""></dropdownsearch>
                </div>
					<div style="float: left;margin-left: 0px;margin-top: 5px;"><input type="checkbox" ng-change="bigReport()" ng-model="formData.IsBigNzp"> Расширенный отчет</div>
					<div style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="bigReport()" ng-model="formData.IsSimple">Без учета севооборота</div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="nzpItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
            </tab>
		
    </tabset>
</div>