<form id="seeding_item_form" name="seedingItemForm" ng-submit="submitForm()" class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">СЕВООБОРОТ</div>
    <div class="row row-margin-top" style="height: 54px;  padding-left: 15px;">
        <dropdownsearch class="ng-isolate-scope" info="'Год'" style="width: 100px;float: left;margin-right: 6px;"
                        drop="infoData.YearsList" data="formData.YearId" field-change="refreshTable()"></dropdownsearch>
        <dropdownsearch class="ng-isolate-scope" info="'Поле'" style="width: 150px;float: left;margin-right: 6px;"
                        drop="infoData.FieldsList" data="formData.FieldId"
                        field-change="refreshTable()"></dropdownsearch>
        <textinput class="ng-isolate-scope disable-input" style="width: 135px; margin-right: 6px; float: left;"
                   info="'Площадь, га'"
                   data="formData.Area" readonly="true"></textinput>
    </div>
    <div style="float: left;">
        <div style="width: 33%; float:left; margin-top: 42px;padding-right: 20px;">
            <div style="overflow: hidden;">
                <div class="bloks-header row-margin-top" style="width: 30%; float: left;margin-right: 16px;">
                    Культура
                </div>
                <div class="float-right row row-margin-top" style="float: left; margin-top: 32px;">
                    <button type="button" class="logus-btn btn ng-click-active"
                            style="width: 99px; margin-right: 10px;margin-left: 10px;" ng-click="addPlant()" ng-disabled="closeFlag">Добавить
                    </button>
                    <button id="delButton" type="button" class="logus-btn btn" style="width: 99px; " ng-click="removeItem('Plant')"
                            style="margin-left: 10px"  ng-disabled="closeFlag">Удалить
                    </button>
                </div>
            </div>
            <div class="row-margin-top sort" style="height: 400px;" ng-grid="gridOptionsPlant"></div>
        </div>
        <div style="width: 67%; float: left;margin-top: 42px;">
            <div class="bloks-header row-margin-top" style="width: 51%; float: left;margin-right: 16px;">Сорта</div>
            <div class="" style="overflow: hidden;">
                <div class="float-right row row-margin-top" style="float: left; margin-top: 32px;">
                    <button type="button" class="logus-btn btn ng-click-active"
                            style="width: 99px; margin-right: 10px;margin-left: 10px;" ng-click="saveForm()"  ng-disabled="closeFlag">Сохранить
                    </button>
                    <button type="button" class="logus-btn btn ng-click-active"
                            style="width: 99px; margin-right: 10px;" ng-click="addSort()"  ng-disabled="closeFlag">Добавить
                    </button>
                    <button type="button" class="logus-btn btn" style="width: 99px; " ng-click="removeItem('Sort')"
                            style="margin-left: 10px"  ng-disabled="closeFlag">Удалить
                    </button>
                </div>
            </div>
            <div class="row-margin-top catalog seeding-sorts" style="height: 400px;" ng-grid="gridOptionsSort"></div>
        </div>
    </div>
    <div class="float-right" style=" padding-bottom: 70px; margin-top: 40px;">
        <button type="button" class="logus-btn btn" style="width: 99px; margin-left: 10px"
                ng-click="cancelClick()"  ng-disabled="closeFlag">Назад
        </button>
    </div>
	     <div style="float: left; padding-bottom: 70px; margin-top: 20px;">
            <span>Дата закрытия</span>
            <datepick style="width: 99px; margin-left: 10px" data="dateClose" mask="'99.99.9999'" regex-name="'date'"></datepick>
        </div>
		 <div style="float: left; padding-bottom: 70px; margin-top: 40px;">
		 <button type="button" class="logus-btn btn ng-click-active"
                style="width: 112px; margin-left: 10px" ng-click="closeField()">Закрыть поле
             </button>
	    </div>
		<div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h3  class="modal-title">Предупреждение</h3>
        <button ng-click="cancel()" class="modal-close-btn btn"></button>
        </div>
        <div class="modal-body my-modal-question">
        <form class="my-form">
        <div class="row">
        <img src="images/modals_window/icon_warning.png" style="width: 70px; float: left; margin-left: 20px;"/>
        <div style="width: 470px; float: left; margin-left: 20px;">
        <div>Есть несохраненные данные. Сохранить?</div>
        </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="yes()">Да</button>
            <button type="button" class="logus-btn btn " ng-click="no()">Нет</button>
        </div>
       </form>
       </div>
    </div>
  </div>
</div>
</form>