<form id="seeding_list_form" name="seedingListForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div class="row">
            <div class="logus-headers col-md-3 col-xs-5 col-sm-3 col-lg-3" style="padding-top: 15px">СЕВООБОРОТ</div>
        </div>
        <div class="row row-margin-top" style="margin-left: 1px;">
            <dropdownsearch class="ng-isolate-scope" info="'Отделение'" drop="infoData.OrgList"
                            data="formData.OrgId" style="float:left;width: 175px;margin-right: 6px;" field-change="refreshTable('org')"></dropdownsearch>
            <dropdownsearch class="ng-isolate-scope" info="'Культура'" drop="infoData.PlantsList"
                            data="formData.PlantId" style="float:left;width: 175px;margin-right:6px;" field-change="refreshTable('plant')"></dropdownsearch>
            <dropdownsearch class="ng-isolate-scope" info="'Год'" drop="infoData.yearList"
                            data="formData.YearId" style="float:left;width: 77px;margin-right: 6px;" field-change="refreshTable('year')"></dropdownsearch>
			<dropdownsearch class="ng-isolate-scope" info="'Поле'" drop="infoData.FieldList"
                            data="formData.FieldId" style="float:left;width: 150px;margin-right: 6px;" field-change="refreshTable('field')"></dropdownsearch>
          <!--<dropdownsearch class="ng-isolate-scope" info="'Показатели'" drop="infoData.IndicatorsList"
                            data="formData.Indicator" style="float:left;width: 175px;margin-right: 6px;" field-change="refreshTable('indicator')"></dropdownsearch>-->
            <div class="float-right" style="margin-top: 20px;width: 30%;">
                <button type="button" class="logus-btn btn float-right" style="margin-right: 6px;"
                        ng-click="editSeedingItem()">Редактировать
                </button>
            </div>
        </div>
        <div class="lists-grid-style row-margin-top seeding-table" ng-grid="gridOptions"></div>
    </div>
</form>