<form id="documents_list_form" name="documentsListForm" ng-submit="submitForm()" class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">ПУТЕВОЙ ЛИСТ ВОДИТЕЛЯ № {{formData.WayListNum}}</div>
    <div style="height: 200px;">
        <div class="bloks-header row-margin-top">Общая информация</div>
        <div class="row-margin-top first_row_driver_way_bill">
            <textinput class="num_driver_way_bill" info="'№ путевого листа'" data="formData.WayListNum" readonly="formData.IsRepair"></textinput>
            <div class="danger_cargo_driver_way_bill"  style="float: left;">
                <input type="checkbox" ng-change="setRepair()" ng-model="formData.IsRepair">Ремонтный
            </div>
            <datepick class="date_driver_way_bill" data="formData.DateBegin" mask="'99.99.9999'" regex-name="'date'" required></datepick>
            <dropdownsearch class="driver_driver_way_bill driver" info="'Водитель'" drop="infoData.EmployeesList" data="formData.DriverId" required></dropdownsearch>
            <div class="time_driver_way_bill">
                <div style="width: 150px; float: left; margin-left: 10px;">
                    <textinput info="'Начало работы'" data="formData.timeStart" mask="'99:99'" regex-name="timeHHmm" ></textinput>
                </div>
                <div style="width: 150px; float: left; margin-left: 10px;">
                    <textinput info="'Окончание работы'" data="formData.timeEnd" mask="'99:99'" regex-name="timeHHmm" ></textinput>
                </div>
            </div>
        </div>
        <div class="second_row_driver_way_bill">
            <div class="traktor_driver_way_bill" style="float: left;">
                <dropdownsearchtf info="'Техника'" infotf="'Гос. №'" drop="infoData.TraktorsList" data="formData.TraktorId" selectfunction="traktorChange"></dropdownsearchtf>
            </div>
            <div style="width:150px; float:left; margin-left: 10px" class="row-margin-top">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Тип топлива'" drop="infoData.TypeFuel"
                                data="formData.TypeFuel"></dropdownsearch>
            </div>
            <div style="width:150px; float:left; margin-left: 10px" class="row-margin-top">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Агротехн.требования'" drop="infoData.AgroreqList"
                                data="formData.AgroreqId"></dropdownsearch>
            </div>
						<div  ng-show="tporgid == 1" style="float: left;margin-left: 10px;margin-top: 35px;"><input type="checkbox" ng-change="checkRes()"
		         	ng-model="formData.AllResource">Все ресурсы</div>
                   </di
        </div>

    </div>
    <div style="height: 70px;">
        <div class="bloks-header" style="width: 800px;float: left;float:left">Задания</div>
        <div class="" style="">
            <button type="button" class="logus-btn btn ng-click-active" style="width: 99px; margin-right: 10px;margin-left: 10px; float:left;margin-top: 22px;" ng-click="addTask()">Добавить</button>
            <button type="button" class="logus-btn btn" style="width: 99px; float:left;margin-top: 22px;" ng-click="removeTask()">Удалить</button>
        </div>
    </div>
    <div class="grid_driver_way_bill" ng-grid="gridOptions"></div>
    <div class="float-right" style=" padding-bottom: 70px; margin-top: 40px;">
        <button type="submit" style="width: 99px; margin-left: 10px" class="logus-btn btn">Ок</button>
        <button type="button"  class="logus-btn btn" style="width: 99px; margin-left: 10px"
                ng-click="cancelWayBillClick()">Отмена
        </button>
    </div>
</form>