
<div style="width:96.4%; height: 100%;" class="maincont" scroll="no">
    
    <div style="position: absolute; top:0px; bottom: 0px; left: 58px; right: 50px" >
        <div id="map" style="width: 100%; height:100%; width:100%;" ><div id="popup"></div></div>
    <div class="left_shadow" ></div>
 	
    </div>

 <div id="right_panel" ng-include="'templates/right_panel.html'" style="height: 100%; float:right;" ></div>

    <div class="right_shadow"></div>
    <div id="left_panel" ng-include="'templates/left_panel.html'" style="height: 100%;"></div>
	</div>