<form class="logus-form">
    <div class="logus-headers" style="padding-top: 20px">УРОЖАЙ</div>
    <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
        <div style="float: left;width: 150px;">
            <dropdownsearch class="ng-isolate-scope" info="'Год'" style="width: 100%;float: left;" drop="YearList" data="YearId" field-change="refreshYear()"></dropdownsearch>
        </div>
        <div style="float: left; width: 210px;margin-left: 10px">
            <dropdownsearch info="'Культура'" drop="PlantInfo" data="PlantId" field-change="cultureChange()"></dropdownsearch>
        </div>
		 <dropdownsearch  class="ng-isolate-scope" info="'Отделение'" drop="OrganizationsList"
                                    data="OrgId" style="float:left;width: 200px; margin-top:0px;margin-left: 10px;"
                                    field-change="changeOrg()"></dropdownsearch>
    <button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="delRow()">Удалить</button>	
   	<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="save()">Сохранить</button>
   	<button type="button" class="logus-btn btn float-right" style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="copyRow()">Скопировать</button>
	<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="add()">Создать</button>		
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 500px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
    <div>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;" ng-click="back()">Назад</button>
    </div>
</form>