<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">УРОЖАЙ</div>
    <div class="tc-block">
        <dropdownsearch class="ng-isolate-scope" info="'Год'" style="width: 20%;float: left;" drop="infoData.YearList" data="YearId" field-change="refreshYear()"></dropdownsearch>
	    <!--dropdownsearch  class="ng-isolate-scope" info="'Отделение'" drop="infoData.OrganizationsList"
                                    data="OrgId" style="float:left;width: 200px; margin-top:0px;margin-left: 10px;"
                                    field-change="recountBalance()"></dropdownsearch-->
        <button type="button" class="logus-btn" style="float: right;width: 20%;margin-top: 20px;" ng-click="openGrossHarvest()">Урожай</button>
        <button type="button" class="logus-btn" style="float: right;width: 20%;margin-top: 20px;margin-right: 10px" ng-click="openSales()">Продажи</button>
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 400px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>