<form class="main-menu-bg" ng-upload="uploadComplete(content)" action="/upload-full-form">
    <div style="height: 74px; width:100%;">
        <img ng-src="images/logo_agro.png" style="float:left;margin-top: 20px;width:206px;height:30px;vertical-align: inherit; margin-left: 10px;" ng-click="goToHome()">
        <div class="float-right" style="margin-right: 10px; width: 300px">
            <img src="images/main/user_icon.png" style="width:46px; height:46px; float:right; margin-top: 12px;float: right">
            <div id="user-name" style="color: #ffffff;font-size: 16px;font-size: 16px;margin-top: 15px;float: right; text-align: right;width:200px;margin-right: 10px;">{{userName}}</div>
            <div style="float: right; text-align: right;width:200px" ng-click="exitClick()">
                <a aria-controls="login" role="tab" data-toggle="tab" class="exit-nav" style="">{{exit}}</a>
            </div>

        </div>
    </div>
    <div style="width: auto; max-width: 910px; margin: auto;margin-top: 50px;">
        <a type="button" class="main-menu-btn btn-plant-fact" ng-click="clickRole(111)">
            <br>ПЛАН-ФАКТНЫЙ АНАЛИЗ<br>ПРОИЗВОДСТВЕННЫХ ЗАТРАТ
        </a>
        <a type="button" class="btn-cost-culture main-menu-btn" ng-click="clickRole(112)">
            <br>ДЕТАЛИЗАЦИЯ <br>ЗАТРАТ ПО КУЛЬТУРАМ
        </a>
        <a type="button" class="btn-map main-menu-btn" ng-click="clickRole(113)">
            <br>КАРТА
        </a>
        <a type="button" class="btn-production main-menu-btn" ng-click="clickRole(11)">
            <br>ПРОИЗВОДСТВЕННЫЕ<br>ЗАДАЧИ
        </a>
        <a type="button" class="btn-planning main-menu-btn" ng-click="clickRole(6)">
            <br>ПЛАНИРОВАНИЕ
        </a>
        <a type="button" class="btn-scheme main-menu-btn" ng-click="clickRole(114)">
            <br>АГРОГАРАЖ
        </a>
		<a type="button" class="btn-admin main-menu-btn" style="margin-left:367px;" ng-click="clickRole(115)">
            <br>АДМИНИСТРИРОВАНИЕ
        </a>
    </div>
    <div ng-show="false">
        <input type="file" id="file-input" multiple="multiple"
               accept="{{settingsUpload.typeFile}}"
               onchange="angular.element(this).scope().fileInputChanged()"
               style="float:left;"/>
    </div>

</form>