<div class="wrap">
    <form id="close_bill_form" name="closeCloseForm" ng-submit="submitForm()"
          class="logus-form">
        <div class="logus-headers" style="padding-top: 15px;width: 100%;height: 75px; float: left" ng-model="formData.WaysListId">ЗАКРЫТИЕ ПУТЕВОГО ЛИСТА
            №{{formData.WaysListNum}}
        </div>
        <div class="row-margin-top" style="float: left">
            <div class="float-left " style="margin-right: 47px; margin-bottom: 30px;">
                <img class="float-left" src="images/icon_driver.png" style="width: 36px;height:36px;">
                <textfieldbig class="float-left " info="'Водитель:'" data="formData.DriverName"></textfieldbig>
            </div>
            <div class="float-left " style="float: left">
                <img class="float-left" src="images/traktor.png" style="width: 36px;height:36px;">
                <textfieldbig class="float-left " info="'Техника:'" data="formData.TraktorName"></textfieldbig>
            </div>
        </div>
        <div class="row-margin-top" style="float: left">
            <div class="close_left_block">
                <div class="bloks-header">Общая информация</div>
                <div class="row-margin-top">
                    <textinputnotcomma class="" style="width: 135px; margin-right: 10px; float: left;"
                               info="'Моточасы на начало'" data="formData.MotoStart" regex-name="numbersOnly"></textinputnotcomma>
                    <textinputnotcomma class="disable-input" style="width: 135px; margin-right: 10px; float: left;"
                               info="'Моточасы на конец'" data="formData.MotoEnd" readonly="true"></textinputnotcomma>
                    <textinputnotcomma class="disable-input" style="width: 135px; margin-right: 10px; float: left;" info="'Отработано дней'"
                               data="formData.SumWorkDay" readonly="true"></textinputnotcomma>
                    <textinputnotcomma class="disable-input" style="width: 125px; float: left;" info="'Отработано часов'"
                               data="formData.SumWorkTime" readonly="true"></textinputnotcomma>
                </div>
            </div>
            <div class="close_right_block">
                <div class="bloks-header">Выдача горючего</div>
                <div class="row-margin-top">
                    <textinputnotcomma class="" style="width: 93px; margin-right: 10px; float: left;" info="'Было, л'"
                               data="formData.leftFuel" regex-name="numbersWithDot"></textinputnotcomma>
                    <textinput class="disable-input " style="width: 105px; margin-right: 10px; float: left; " info="'Выдано всего, л'"
                               data="formData.IssuedFuel" readonly="true" regex-name="numbersWithDot"></textinput>
                    <button type="button" style="width: 85px; margin-right: 12px; float: left;margin-top: 19px;" class="logus-btn btn "
                             ng-click="refuelingClick()">Заправки
                    </button>
                    <textinputnotcomma class="disable-input " style="width: 88px;float: left;" info="'Остаток, л'"
                               data="formData.RemainFuel" regex-name="numbersWithDot" readonly="true"></textinputnotcomma>
				 <div  ng-show="tporgid == 1" style="float: left;margin-left: 0px;margin-top: 5px;"><input type="checkbox" ng-change="checkRes()" 
				 ng-model="AllResource">Все заправщики</div>
                </div>
            </div>
        </div>
        <div class="row-margin-top" style="margin-bottom: 20px;float: left">
            <div class="bloks-header bloks-header" style="margin-top: 20px;width: 535px;float: left;">Учетная информация по заданию
            </div>
            <div class="float-right row-margin-top" style="float: left; margin-top: 43px;">
                <button type="button" class="logus-btn btn ng-click-active" style="width: 99px; margin-right: 10px;margin-left: 10px;" ng-click="addTask()">Добавить</button>
                <button type="button" class="logus-btn btn ng-click-active" style=" margin-right: 10px;" ng-click="cloneTask()">Скопировать</button>
                <button type="button" class="logus-btn btn" style="width: 120px; margin-right: 10px" ng-click="editTask()">Редактировать</button>
                <button type="button" class="logus-btn btn" style="width: 99px; " ng-click="removeTask()" style="margin-left: 10px">Удалить
                </button>
            </div>
        </div>
        <div ui-grid="uigridOptions" ui-grid-selection class="grid row-margin-top" style="float:left"></div>
        <div class="float-right row footer-btns-background" style="text-align: right;padding-right: 25px;">
            <button type="button" class="logus-btn btn btn-border" style="width: 99px;margin-right: 10px"
                    ng-click="closeWayList()">Закрыть
            </button>
            <button type="submit" class="logus-btn btn " style="width: 99px;margin-right: 10px">Ок</button>
            <button type="button" class="logus-btn btn " style="width: 99px;margin-right: 10px" ng-click="cancelClick()">Отмена</button>
        </div>
        <div id="refueling_modal" class="refueling-modal" style="opacity:0; display: none;">
            <div class="logus-top-modal">
                <span class="logus-modal-header" style="position: relative;top: 13px;">Заправки</span>
                <!-- временная разметка-->
                <button type="button" class="modal-close-btn logus-btn btn"
                        style="margin-top: -26px;margin-left: 356px;" ng-click="closeRefuelingModal()"></button>
            </div>
            <div class="row row-margin-top-modal">
                <textinputnotcomma class="filling" info="'Заправка 1, л'"
                           data="refuilingsFormData.Volume1" regex-name="numbersWithDot"></textinputnotcomma>
                <dropdown class="filling-select" info="'Заправщик'" drop="refuellers1"
                          data="refuilingsFormData.NameId1"></dropdown>
                <button type="button" class="clear-btn btn" style="margin: 19px 0 0 8px;" ng-click="clearClick(1)"></button>
            </div>
            <div class="row row-margin-top-modal">
                <textinputnotcomma class="filling" info="'Заправка 2, л'"
                           data="refuilingsFormData.Volume2" regex-name="numbersWithDot"></textinputnotcomma>
                <dropdown class="filling-select" info="'Заправщик'" drop="refuellers2"
                          data="refuilingsFormData.NameId2"></dropdown>
                <button type="button" class="clear-btn btn" style="margin: 19px 0 0 8px;" ng-click="clearClick(2)"></button>
            </div>
            <div class="row row-margin-top-modal">
                <textinputnotcomma class="filling" info="'Заправка 3, л'"
                           data="refuilingsFormData.Volume3" regex-name="numbersWithDot"></textinputnotcomma>
                <dropdown class="filling-select" info="'Заправщик'" drop="refuellers3"
                          data="refuilingsFormData.NameId3"></dropdown>
                <button type="button" class="clear-btn btn" style="margin: 19px 0 0 8px;" ng-click="clearClick(3)"></button>
            </div>
            <div class="float-right row footer-btns-background footer-modal">
                <!--button type="button" class="logus-btn btn float-right" style="margin-right: 10px"
                        ng-click="cancelRefuelingModal()">Отмена
                </button-->
                <button type="button" class="logus-btn btn float-right" style="margin: 10px; width: 100px"
                                 ng-click="closeRefuelingModal()">Ок
                </button>
            </div>
        </div>
    </form>
</div>