<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="display: block;height: 96px;">
            <div class="logus-headers" style="padding-top: 13px;float: left;">СПИСАНИЕ</div>
            <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
				<!--button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"  ng-click="editBtnClick()">Редактировать</button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"  ng-click="createWriteAct()">Coздать</button-->
                <!--button type="button" class="logus-btn btn btn-border" style="width: 100px; float: right; margin-right: 10px;" ng-click="loadBtnClick()">Загрузить</button>
					<doubledatepick ng-show="button_name == 'Выгрузить'" style="margin-top: -19px; width: 280px; float: right;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.driverStartDate"
                                    datasecond="formData.driverEndDate"></doubledatepick-->      
                <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left;margin-right: 10px;" ng-click="openBalance()">Баланс</button>
				     <dropdownsearch class="ng-isolate-scope" info="'Склад'" drop="infoData.StorageList"
                            data="infoData.StorageId" style="float:left;width: 175px;margin-right: 6px;margin-top: -20px;" field-change="refreshTable('type')"></dropdownsearch>
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 20px;width:100"></div>
        
    </div>
</form>
