<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div class="row">
            <div class="logus-headers col-md-3 col-xs-5 col-sm-3 col-lg-3" style="padding-top: 15px">СПИСОК ДОКУМЕНТОВ</div>
            <div class="logus-text col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-top: 16px; margin-right: 5px;">
                Фильтр по дате
            </div>
            <datepick class="logus-headers col-md-1 col-xs-3 col-sm-1 col-lg-1"
                      style="padding-top: 5px;width: 280px;margin-top: 5px;margin-left: -6%;" data="dateDocuments" mask="'99.99.9999'"
                      regex-name="'date'" date-change="dateChangeDateDocuments(data)"></datepick>
            <div class="float-right col-md-6 col-xs-8 col-sm-6 col-lg-6" style="margin-top:20px;width: 100%;">
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="deleteBtnClick()">Удалить
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="editBtnClick()">Редактировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="copyBtnClick()">Копировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="createBtnClick()">Coздать
                </button>
			<button type="button" class="logus-btn btn btn-border float-right"  ng-click="export()" style="margin-right: 10px;width: 100px;float: right">Выгрузить</button>
				<doubledatepick  style="margin-top: -19px; width: 280px; float: right;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.docStartDate"
                                    datasecond="formData.docEndDate"></doubledatepick>  
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 20px;width:100"></div>
    </div>
</form>


