  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <form class="logus-form" style="width:96%;">
    
	<div class="logus-headers" style="padding-top: 15px">СПРАВОЧНИКИ</div>
    <dropdownsearch class="ng-isolate-scope" style="width: 20%;float: left;margin-top: 14px;" drop="Dictionaries" data="selectedDictionary" field-change="selectDictionary()"></dropdownsearch> 
    <button type="button" id="create" class="logus-btn disabledbutton" style="float: right;width: 10%;margin-top: 15px;" ng-click="create()" ng-show="selectedDictionary != 23">Создать</button>
    <button type="button" class = "logus-btn" style=" background-color: white; color: #06aa9f; border: 3px solid #06aa9f; float: right;width: 10%;margin-top: 15px;margin-right: 15px;" ng-click="getDictionaryExcel()">XLS</button>	
	<button type="button" id="txt" ng-show = "txt" class = "logus-btn" style=" background-color: white; color: #06aa9f; border: 3px solid #06aa9f; float: right;width: 10%;margin-top: 15px;margin-right: 15px;" ng-click="getFieldCoordTxt()">TXT</button>
	<button type="button" id="kml" ng-show = "txt" class = "logus-btn" style=" background-color: white; color: #06aa9f; border: 3px solid #06aa9f; float: right;width: 10%;margin-top: 15px;margin-right: 15px;" ng-click="getFieldCoordKml()">KML</button>
    <div style="display: inline-block;margin-left: 10px;margin-top: -6px;height: 33px;width: 250px;">
        <div class="logus-text ng-binding" style="color: #d8a331;">Поиск</div>
        <input ng-model="filterText" placeholder="Поиск" style="width: 100%;height: 32px;" class="logus-input" ng-change="search()" />    
    </div>
	<div style="display: inline-block;margin-left: 10px;margin-top: 0px;height: 33px;width: 250px;" id="txt" ng-show = "txt">
       
   <dropdownsearch class="ng-isolate-scope"  style="width: 100%;float: left;margin-top: 12px;" drop="infoData5.typelist" data="formData1.typeId" field-change="filterFields()" ></dropdownsearch>  
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 400px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
	<div style = "display:none;" id = "yura" name = "yura">{{title}}</div>
    <div class="tc-block">
        <button type="button" class="logus-btn btn" style="float: right; margin-left: 10px" ng-click="cancel()">Отменить</button>
        <button id="save" type="button" class="logus-btn btn disabledbutton"style="float: right;" ng-click="submitForm()">Сохранить</button>
		<div class="">
			<!--button id="txt" ng-show = "txt" class="logus-btn btn dropdown-toggle"  type="button" 
			data-toggle="dropdown" style="float: left; margin-top: -0px">Загрузить
			</button>
			<ul class="dropdown-menu">
				<li><a id="type1" href=''> Поля</a></li>
				<li><a id="type2"  href=''>Объекты</a></li>
				<li><a id="type3" href=''>Контуры</a></li>
			</ul-->
			
			<div class="dropdown" ng-show = "txt" >
              <button class="logus-btn btn">Загрузить</button>
              <div class="dropdown-content">
				<a id="type1" href="">Поля</a>
				<a id="type2" href="">Объекты</a>
				<a id="type3" href="">Контуры</a>
			</div>
			</div>
			
			
		</div>
	<!--label id = "shres" style="color: #06aa9f; display: inline-block;margin-left: 35%; margin-top: -20px;height: 33px;width: 250px;">11</label-->
	</div>
	

  <div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
    <h3  class="modal-title">Предупреждение</h3>
    <button ng-click="cancelButton()" class="modal-close-btn btn"></button>
 </div>
 
 <div class="modal-body my-modal-question">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_warning.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div id="mes"></div>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="yes()">Да</button>
            <button type="button" class="logus-btn btn " ng-click="no()">Нет</button>
        </div>
    </form>
</div>
    </div>
  </div>
</div>
  <div  id="myModal1" class="modal fade"  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
    <h3  class="modal-title">Информацио о загрузке</h3>
    <button ng-click="ok()" class="modal-close-btn btn"></button>
 </div>
 
 <div class="modal-body my-modal-question">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_info.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div id = "shres" style= "float: center;">Ожидание окончания загрузки</div>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="ok()">Ок</button>
        </div>
    </form>
</div>
    </div>
  </div>
</div>
 <div>
    <input id="ObjectInput" type="file" accept=".txt" name="ObjectInput" onchange="grabFileContentObject()" style="width: 0%;"/>
	<input id="fieldInput" type="file" accept=".txt" name="fieldInput" onchange="grabFileContentField()" style="width: 0%;"/>
	<input id="LayerInput" type="file" accept=".txt" name="LayerInput" onchange="grabFileContentLayer()" style="width: 0%;"/>
    
	</div>
</form>