<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">БАЛАНС</div>
        <div class="row-margin-top" style="margin-left: 1px;">
            <div style="margin-left: 1px;">
               <div class="logus-text ng-binding">Поиск</div>
               <input ng-model="filterText" placeholder="Поиск" style="width: 275px;margin-right: 6px;" class="logus-input" ng-change="search()"/>
            <button type="button" class="logus-btn" style="float: center;width: 17.5%;margin-right: 6px;" ng-click="openIncomingList()">Поступление</button>    
            <button type="button" class="logus-btn" style="float: center;width: 17.3%;margin-right: 6px;" ng-click="openWriteOffList()">Списание</button>
			<button type="button" class="logus-btn" style="float: center;width: 17%;margin-right: 6px;" ng-click="openMovementList()">Перемещение</button>
			<button type="button" class="logus-btn" style="float: center;width: 17%;margin-right: 6px;" ng-click="openReserveList()">Резерв</button>
            </div>
        </div>
    <div class="tc-block">
        <div style="width: 800 px; height: 400px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>