<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">УЧЕТ ТМЦ</div>
        <div class="row-margin-top" style="margin-left: 1px;">
            <dropdownsearch class="ng-isolate-scope" info="'Тип'" drop="infoData.TypeMaterials"
                            data="formData.MatId" style="float:left;width: 135px;margin-right: 6px;" field-change="refreshTable('type')"></dropdownsearch>
							 <dropdownsearch  class="ng-isolate-scope" info="'Отделение'" drop="infoData.OrganizationsList"
                                    data="formData.OrgId" style="float:left;width: 150px; margin-top:0px;margin-left: 2px;"
                                    field-change="changeOrg()"></dropdownsearch>
									
			<dropdownsearch class="ng-isolate-scope" info="'Ответственный'" drop="infoData.EmpList"
                            data="formData.EmpId" style="float:left;width: 165px;margin-left: 2px;" field-change="changeEmp()"></dropdownsearch>
									
									
            <div style="margin-left: 0px;">
               <div class="logus-text ng-binding" style="margin-left: {{width}}px;" >Поиск</div>
               <input ng-model="filterText" placeholder="Поиск" style="width: 175px;margin-left: 1px;" class="logus-input" ng-change="search()"/>  
            <button type="button" class="logus-btn" style="float: center;width: 11%;" ng-click="openIncomingList()">Поступление</button>    
            <button type="button" class="logus-btn" style="float: center;width: 11%;" ng-click="openActsList()">Списание</button>
			<button type="button" class="logus-btn" style="float: center;width: 11%;" ng-click="openMovementList()">Перемещение</button>
            </div>
        </div>
    <div class="tc-block">
        <div style="width: 100%; height: 400px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>