<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="height: 60px;margin-top:20px;width:100%;">
		 <div class="logus-headers" style="float: left;width: 200px;">ПОСТУПЛЕНИЕ ТМЦ</div>
		   <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left; margin-top:0px;margin-right: 0px;" ng-click="openBalanceMaterial()">Баланс</button>
		   
		     <div class="float-left" style="float: left; margin-left: 15px;">
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px; width: 140px;"
                        ng-click="deleteAct()">Удалить
                </button>
                <button id="edit"  type="button" class="logus-btn btn float-right" style="margin-right: 10px;width:140px;"
                        ng-click="editBtnClick()">Редактировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;width: 130px;"
                        ng-click="createIncomingAct()">Coздать
                </button>
            </div>

			        </div>
		   <dropdownsearch  class="ng-isolate-scope" info="'Отделение'" drop="OrganizationsList"
                                    data="OrgId" style="float:left;width: 200px; margin-top:0px;margin-left: 0px;"
                                    field-change="changeOrg()"></dropdownsearch>
		   
		 <doubledatepick id="datepick" style="width: 270px;float: left;margin-right: 2px;margin-left: 3px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.invoiceStartDate"
                                    datasecond="formData.invoiceEndDate" start-Date-change="dateChangeSpareParts(formData.invoiceStartDate)" 
									End-Date-change="dateChangeSpareParts(formData.invoiceEndDate)"></doubledatepick>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 16%;margin-right: 10px;margin-right: 10px;">
			<dropdownsearch class="row-margin-top" info="'Поставщик'" drop="infoData.ContractorsList"
            data="formData.ContractorsId" field-change="refreshTable('type')" required></dropdownsearch>
			</div>
			<div class="logus-text ng-binding">№ ПН</div>
			<input ng-model="filterText" placeholder="" style="width: 100px;margin-right: 6px;" class="logus-input" ng-change="search()"/>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 30px;width:100"></div>  
    </div>
</form>
