<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="height: 60px;margin-top:20px;">
		 <div class="logus-headers" style="float: left;width: 130px;">ПРИХОДНЫЕ НАКЛАДНЫЕ</div>
					 <doubledatepick id="datepick" style="width: 270px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.invoiceStartDate"
                                    datasecond="formData.invoiceEndDate" start-Date-change="dateChangeSpareParts(formData.invoiceStartDate)" 
									End-Date-change="dateChangeSpareParts(formData.invoiceEndDate)"></doubledatepick>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 16%;margin-right: 10px;">
			<dropdownsearch class="row-margin-top" info="'Поставщик'" drop="infoData.ContractorsList"
            data="formData.ContractorsId" field-change="refreshTable('type')" required></dropdownsearch>
			</div>
			<div class="logus-text ng-binding">№ ПН</div>
			<input ng-model="filterText" placeholder="" style="width: 100px;margin-right: 6px;" class="logus-input" ng-change="search()"/>
            <div class="float-right" style="float: right; margin-left: 15px;">
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="deleteAct()">Удалить
                </button>
                <button id="edit"  type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="editBtnClick()">Редактировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="createIncomingAct()">Coздать
                </button>
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 20px;width:100"></div>  
    </div>
</form>
