<form name="documents_item_form" name="documentsItemForm" ng-submit="submitForm()" class="logus-form">
    <div class="row">
        <div class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2"
             style="padding-top: 15px;padding-left: 15px;width: 60%;">История запчасти в один клик
        </div>
    </div>
    <div>
	<div class="row">
                <div class="bloks-header" style="padding-top: 5px;margin-left:15px;">Общая информация</div>
    </div>
	<div ng-show="pageNumber == 'pageOne'">
            <div class="row" style="padding-top: 0px; padding-left:15px; width: 100%;">
            <div class="row row-margin-top" style=" padding-left:0px; ">
                <div align="left" class="oneLiner" style="float:left; width: 30%;margin-left: 15px; margin-right: 10px;">
			   <textinput class="oneline-text-input"  info="'Название запчасти'" data="formData.SpareParts"></textinput>
                </div>
                <div align="left" class="oneLiner " style="float:left; width: 15%;margin-left: 17px; margin-right: 10px;">
                      <button type="button" class="logus-btn btn" style="width: 120px;margin-left: 5px;margin-top: 20px" ng-click="search()">Найти</button>
                 </div>
	    <div class="lists-grid-style-payments " ng-grid="gridOptions3" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)" style="width: 700px;margin-left:15px;margin-top: 60px;height: 1200px;"></div>			 	  
            </div>
        </div>
		 </div>
    </div>
	<div ng-show="pageNumber == 'pageTwo'">
	<div class="row" style="margin-left: 15px;">
                    <div class="bloks-header" style=" padding-top: 5px; width: 88%; margin-top: 10px;">Приход	
                    </div>
				<button type="button" class="logus-btn btn btn-border" style="float:right; width: 10%;margin-top: -20px" ng-click="openHistoryReport()">XLS</button>
                    </div>
    <div class="lists-grid-style-payments " ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)" style=" margin-left:15px;margin-top: 10px;height: 200px;"></div>
	
	<div class="row" style="margin-left: 15px;">
                    <div class="bloks-header" style=" padding-top: 5px; width: 100%; margin-top: 10px;">Расход
                    </div>
                    </div>
    <div class="lists-grid-style-payments works-employees" ng-grid="gridOptions2" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)" style=" margin-left:15px;margin-top: 10px;height: 200px;"></div>
    <div class="float-right row footer-btns-background" style="text-align: right;padding-right: 25px;margin-top: 15px;">
        <button type="button" class="logus-btn btn" style="width: 99px;margin-right: 10px" ng-click="cancelClick()">Назад</button>
    </div>
	</div>
</form>
</div>