<form class="logus-form">
    <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
		<button type="button" class="logus-btn btn float-right" style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="copyRow()">Скопировать</button>
        <button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="delRow()">Удалить</button>
        <button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="add()">Создать</button>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="save()">Сохранить</button>
	    <button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="update()">Редактировать</button>
    </div>
    <div class="tc-block">
	
        <div style="width: 100%; height: 500px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div> 
    </div>
	
</form>