<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="display: block;height: 96px;">
            <div class="logus-headers" style="padding-top: 13px;float: left;">ПОСТУПЛЕНИЕ</div>
            <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">     
                <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left;margin-right: 10px;" ng-click="openBalance()">Баланс</button>
					 <dropdownsearch class="ng-isolate-scope" info="'Склад'" drop="infoData.StorageList"
                            data="infoData.StorageId" style="float:left;width: 175px;margin-right: 6px;margin-top: -20px;" field-change="refreshTable('type')"></dropdownsearch>
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions" style="margin-top: 20px;width:100"></div>
    </div>
</form>
