<script type="text/ng-template" id="group-template">
      <div class="panel {{panelClass || \'panel-default new\'}}">
            <div>
                  
                  <div class="panel-heading new" ng-click="toggleOpen()">

                        <h4 class="panel-title new">
                              <a href tabindex="0" class="accordion-toggle.new" accordion-transclude="heading">
                                    <div class="glyphicon" ng-class="{\'accord-group-open\': !isOpen,\'accord-group-close\': isOpen}" style="top:6px;">
                                    </div>
                                    <span ng-class="{\'text-muted\': isDisabled}">{{heading}}</span>
                              </a>            
                        </h4>
                  </div>
                  
                  <div class="panel-collapse collapse" collapse="!isOpen">
                        <div class="panel-body" style="border-top: none" ng-transclude></div>
                  </div>

            </div>
      </div>
</script>

<accordion close-others="oneAtATime" ng-class="{{customClass}}" class="" style="float:left; width: 100%; margin-top: 20px">
      <div class="accordion-title" style="margin-bottom: -10px">
            <span style="width: 100%; float: left;color: #06aa9f;">Список работ</span>
      </div>
      <button class="ui-match-clear" style="top: 6px;" ng-click="close($event)"></button>
      <!-- item.IdTypeTask -->
      <accordion-group ng-repeat="item in Works" heading="{{item.Name + ' (' + item.tasks.length + ')' + (item.TotalKPI.rate ? ' Оценка: ' + item.TotalKPI.rate + '%': '')}}" 
                        is-open="itemOpened[$index]" template-url="group-template" class="text-collapse">
            <button type="button" class="logus-btn btn" style="width: 120px; margin-left: 5px;margin-left: 0px" ng-click="openWayLists(item.Id, item.IdTypeTask)">
                +Задачи
            </button>
            <!-- val.IdTypeTask -->
            <div ng-repeat="val in item.tasks" style="display: inline-block;width: 100%;margin-top: 10px; position: relative;">
                  <div style="float: left;" class="clear_row" ng-show="{{item.IdTypeTask !== val.IdTypeTask}}" ng-click="delRow(val, item)"/>
                  <div style="position: absolute;left:36px; right:125px; top:7px">
                        <span>{{val.Date}}</span>
                        <span style="margin-left: 10px">{{val.Field}}</span>
                        <span style="margin-left: 10px">{{val.Name}}</span>
                        <span style="margin-right: 20px; float: right;" >{{val.Kpi}}</span>
                  </div>
                  <button type="button" class="logus-btn btn" style="float:right; width: 120px; margin-left: 5px" ng-click="openKpis(val, item)">
                      +Показатели
                  </button>
                  
            </div>
      </accordion-group>
</accordion>