<div class="ngCellText {{getClassCopyCell(row.entity.Status)}}" style="font-size: 36px!important;" ng-switch on="row.entity[col.field]"
     ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
    <div ng-switch-default>
        <a tooltip="{{row.entity[col.field]}}" tooltip-class="my-custom-tooltip"
                              tooltip-placement="top" tooltip-append-to-body="true">
        <img src="images/shift_tasks/icon_comments.png" style="width:36px; height:36px;margin-top: -13px;">
    </a>
    </div>
    <div ng-switch-when="null">
        <img src="images/shift_tasks/icon_comments.png" style="width:36px; height:36px;opacity:0.3;margin-top: -13px;">
    </div>
</div>