<div class="ngCellText" style="font-size: 36px!important;">
    <input id="area" value="{{row.entity[col.field].area}}" style="width:40%;font-size: 18px;" ng-model="row.entity[col.field].area" placeholder="Площадь" ng-change="update(row)">
    <button type="button" class="logus-btn btn" style="float: left;float: right;margin-top: 3px;margin-left:2%;width: 57%;" ng-click="editCoord(row.entity)">Координаты</button>
</div>