<div class="ngCellText {{getClassCopyCell(row.entity.Status)}}" style="font-size: 36px!important;" ng-switch on="row.entity[col.field]"
     ng-click="delRow(row.entity)">
    <div ng-switch-default>
        <a tooltip="{{row.entity[col.field]}}" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <div class="clear_row"/>
        </a>
    </div>
</div>