<div style="width: 100%; height: 400px">
	<div style="position: absolute; top:0; bottom: 10px; left: 0; right: 35%; padding-left: 10px; padding-right: 5px; background-color: '#ff0000'">
		<div style="width: 100%; height: 20px; float: left;color: #06aa9f;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">{{title1}}</div>
		<div style="float: left; position: absolute; left:0px; right:0px; bottom: 10px; top:0px;top: 20px;overflow-y: scroll;margin-left: 10px;margin-right: 5px;">
			<div style="width: 100%; height: 360px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
		</div>
	</div>
	<div style="position: absolute; top:0; bottom: 10px; left: 65%; right: 0; padding-left: 5px; padding-right: 10px; background-color: '#00ff00'">
		<div style="width: 100%; height: 20px;float: left;color: #06aa9f;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align: right; ">{{title2}}</div>
		<div style="float: left; position: absolute; left:0px; right:0px; bottom: 10px; top: 20px;overflow-y: scroll;margin-left: 5px;margin-right: 10px;">
			<div style="position: relative; float: left; width: 100%; height: 32px;margin-top: 5px" ng-repeat="k in lists.ListOther">
				<button type="button" class="logus-btn btn" style="float:left; width: 32px;" ng-click="selectKPI(k)"><</button>
				<span style="float: left;position: absolute;left:42px;right: 10px;">{{k.Name}}</span>
			</div>
		</div>
	</div>
</div>