<div class="ngCellText" style="font-size: 36px!important;">
    <button type="button" class="logus-btn btn" style="float: left;margin-top: 3px;width: 57%;" ng-click="editCoord(row.entity)">Координаты</button>
</div>