<div ng-class="{ 'sortable': sortable }">
    <!-- <div class="ui-grid-vertical-bar">&nbsp;</div> -->
    <div class="ui-grid-cell-contents ui-grid-header-rotate" col-index="renderIndex">
        <span>{{ col.displayName  }}</span>
        <span ui-grid-visible="col.sort.direction" ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }">&nbsp;</span>
    </div>
    <div class="ui-grid-column-menu-button" ng-if="grid.options.enableColumnMenus && !col.isRowHeader  && col.colDef.enableColumnMenu !== false" ng-click="toggleMenu($event)" ng-class="{'ui-grid-column-menu-button-last-col': isLastCol}">
    </div>
    <div ui-grid-filter></div>
</div>
        