<form ng-controller="LeftPanelCtrl" style="height: 100%;position: absolute">
    <div class="panelPlant" ng-show="cultureShow">
        <dropdownsearchblue class="ng-isolate-scope" info="'Год'" style="" drop="infoData.YearList" data="Year" field-change="refreshYear(year)">
        </dropdownsearchblue>
        <dropdownsearchblue drop="plantDrop" data="cultId" info="'Выбор культуры'" field-change="plantChange(cultId)"></dropdownsearchblue>
    </div>
    <div class="panelLayers" ng-show="mapShow">
        <ul class="map_ul" style="list-style-type: none;margin-left: -40px;">
            <dropdownsearchblue class="ng-isolate-scope" info="'Год'" style="" drop="infoData.YearList" data="Year" field-change="refreshYear()">
            </dropdownsearchblue>
            <li style="width: 100%; height: 20px">
                <input id="cbfield" type="checkbox" name="field" hidden style="float: left;" ng-model="fieldOn" ng-model="fieldOn" ng-change="layersOnOff('field')"/>
                <label for="cbfield" class="input_label" style="float: left;    width: 100%; margin-top: 20px;">   ПОЛЯ</label>
            </li>
            <li style="width: 100%; height: 20px">
                <input id="cbtech" type="checkbox" name="tech" hidden style="float: left;" ng-model="techOn" ng-model="techOn" ng-change="layersOnOff('tech')"/>
                <label for="cbtech" class="input_label" style="float: left;    width: 100%;">   ТЕХНИКА</label>
            </li>
			<br></br>
			<li style="width: 100%; height: 20px margin-top: 80px;">
			КАРТА
			</li>
			<li style="width: 100%; height: 20px">
			<input id="cbschem" type="checkbox" name="schema" hidden style="float: left;" ng-model="schemMap" ng-model="schemMap" ng-change="MapChange('schem')"/>
			<label for="cbschem" class="input_label" style="float: left;    width: 100%;"> Схема</label>
			</li>
			<li style="width: 100%; height: 20px">
			<input id="cbsatel" type="checkbox" name="satellate" hidden style="float: left;" ng-model="satelMap" ng-model="satelMap" ng-change="MapChange('satel')"/>
			<label for="cbsatel" class="input_label" style="float: left;    width: 100%;"> Спутник</label>
			</li>
			<li style="width: 100%; height: 20px height: 20px margin-top: 80px;">
			<input id="cbfact_field" type="checkbox" name="fact_field" hidden style="float: left;" ng-model="FactField" ng-model="FactField" ng-change="FactFieldChange('fact')"/>
			<label for="cbfact_field" class="input_label" style="float: left;    width: 100%; height: 20px height: 20px margin-top: 80px;"> Факт</label>
			</li>
        </ul>
	
    </div>
    <div class="panelSearch" ng-show="mapShow">
        <dropdownsearchblue drop="searchDrop" data="searchData" info="'Поиск на карте'" ng-model="searchData" field-change="mapsearch()"></dropdownsearchblue>
    </div>
	
	<div class="panelPrint" ng-show="mapShow">
    <input  type="checkbox" ng-change="enterTitle()"  ng-model="formData.title"> <span class="checkboxtext" > Заголовок  </span>
     <p>
	<input  type="checkbox" style="margin-left: 0px;" ng-change="checkPlan2()" ng-model="formData.crop"><span class="checkboxtext" >Структура севооборота</span>
	</p>
	<input  id="text" type="text" placeholder="Введите текст" style="margin-left: 0px;width:270px;" ng-model="formData.titleText">
	<!--button  > <img  src="images/map/menu/print_btn2.png" style="vertical-align: middle;height:50px;width:50px;margin-left:80px;margin-top:110px;" ng-click="printMap()"></button-->
	<button class="printBigButton" ng-click="printMap()">  </button>
    </div>
	
	
	<div class = "panelLine" ng-show="mapShow"></div>
	<div class = "panelArea" ng-show="mapShow"></div>
    <div class="left_menu">
        <div class="plantButton" ng-show="cultureShow" ></div>
        <div class="layersButton" ng-show="mapShow"></div>
        <div class="searchButton" ng-show="mapShow"></div>
		<div class="LineButton" ng-show="mapShow" ng-model="DrawLine" ng-model="DrawLine" ng-change="DrawOnOff(line)"></div>
		<div class="AreaButton" ng-show="mapShow" ng-model="DrawArea" ng-model="DrawArea" ng-change="DrawOnOff(area)"></div>
		<div class="printButton" ng-show="mapShow"></div>
    </div>
	<div id="widget" style="margin-left:-160px;">
    <table  cellspacing="0" border="0">
	<colgroup width="64"></colgroup>
	<colgroup width="83"></colgroup>
	<colgroup width="64"></colgroup>
	<tr>
		<td colspan=3 rowspan=2 height="40" align="center" valign=middle><font size=3 color="#000000">Структура севооборота по полям</font></td>
		</tr>
	<tr>
		</tr>
	<tr>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="center" valign=middle><font size=1 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font size=1 color="#000000">Культура</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font size=1 color="#000000">Площадь.га</font></td>
	</tr>
	<tr ng-repeat="item in tableData">
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="center" valign=middle bgcolor={{item.color}}><font size=1 color="#000000"><br></font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font size=1 color="#000000">{{item.plant_name}}</font></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle sdval="1" sdnum="1033;"><font size=1 color="#000000">{{item.area}}</font></td>
	</tr>
</table>
</div>
</form>
