
<form ng-controller="RightPanelCtrl" style="height: 100%;position: absolute">
  
    <div class="panelInfo" ng-show="mapShow" >
      <div class="right_panel"   scroll="no" style="height: 97%">

<div class="info_panel_container" id = "infoPN" style = "display: none; height: 100%; overflow:auto;">
            <div >
                <div style="height: 30px;">
                    <div class="info_icon" ></div>
					<a ng-show="plantShow" class="tech_task_block" style="width :40%;"  ng-href="{{'./modules/monitor/progress/progress.html?ID=' + plants[0].plant_id + '&config=' + infoData1.configUrl+'&id='+ID+'&y='+year}}" target="_blank">
                        <div class="white tech_task_title" style= "margin-left:15%;">ПРОГРЕСС</div>
                    </a>
					<a ng-show="plantShow" class="tech_task_block" style="width :50%;margin-left:0%" ng-href="http://agropole.logus-agro.ru/?type=photomap&center=51.75956767262669,39.66754699667746&zoom=12&zo=1&p=" target="_blank">
                        <div class="white tech_task_title" style= "margin-left:17%;margin-top:5%;">ИСТОРИЯ</div>
						 <div class="white tech_task_title" style= "margin-left:5%;margin-top:0%;">НАБЛЮДЕНИЙ</div>
                    </a>
                    <div id="title" style="margin-left: 10px;float: left" >{{titleName}}</div>
                </div>
                <img class="car_icon" ng-src="{{'./' + carIcon.replace('assets/img/', 'images/map/')}}" ng-show="carShow"></img>
                <div style="float: right;">
                    <div id="name" class="right-align green">{{objName}}</div>
					<div id = "number" class="right-align" ng-show="plantShow"> {{area}}</div>
                    <div id="number" class="right-align" ng-show="carShow">{{regnum}}</div>
                </div>
                <div class="separator"></div>
            </div>
            <div >
                <div ng-show="plantShow" >
                    <div>
                        <div class="block_title">Культуры</div>
                        <div class="separator"></div>
                        <div class="plant_block" ng-repeat="plant in plants">
                            <img ng-src="{{'./' + plant.icon_path.replace('assets/img/icons', 'images/map/icons1')}}" class="car_icon"></img>
                            <div class="plant_name">{{plant.plant_name}}</div>
                            <div class="plant_area green">{{plant.area + " га"}}</div>
                            <div class="separator"></div>
                        </div>
                        
                        
                        <div class="block_title" style="cursor: pointer;" ng-click="SpoilerCulture(1)">Список работ</div>
                        <div class="separator"></div>
                        <div ng-show = "spoilerCult">
                        <div>
                            <div class="work_head1">культура/задание</div> <div class="work_head2">площадь</div> <div class="work_head2">статус</div> </div>
                        <div class="separator"></div>
                        <div ng-repeat="work in works" style="min-height: 46px;height:auto;float: left;width: 100%" ng-click="openWayList(work.task_id)">
                            <div class="work1" style="width:60%; float:left;padding-top: 10px;margin-bottom: -10px;">{{work.plant_name + " / " + work.task_name}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{((work.area) ? work.area + " га" : '-')}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{statusTranslate(work.status)}}</div>
                            <div class="separator"/>
                        </div>

                    </div>
                    </div>
                    <div class="block_title" style="cursor: pointer;" ng-click="SpoilerTMC(1)">Списание ТМЦ</div>
                        <div class="separator"></div>
                        <div ng-show = "spoilerSzr">
                       
                        <div class="block_title" ng-show="seedShow">Семена</div>
                        <div ng-repeat="seed in seed" style="min-height: 46px;height:auto;float: left;width: 100%"  ng-show="seedShow">
                            <div class="work1" style="width:60%; float:left;padding-top: 10px;margin-bottom: -10px;">{{seed.Material}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{seed.Count}}</div>
                          
                        </div>
                        <div class="separator" ng-show="seedShow"/>
                        <div class="block_title" ng-show="szrShow">СЗР</div>
                        <div ng-repeat="szr in szr" style="min-height: 46px;height:auto;float: left;width: 100%" ng-show="szrShow">
                            <div class="work1" style="width:60%; float:left;padding-top: 10px;margin-bottom: -10px;">{{szr.Material}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{szr.Count}}</div>
                            
                        </div>
                        <div class="separator" ng-show="szrShow"/>
                        <div class="block_title" ng-show="minFertShow">Мин. Удоб.</div>
                        <div ng-repeat="minFert in minFert" style="min-height: 46px;height:auto;float: left;width: 100%" ng-show="minFertShow">
                            <div class="work1" style="width:60%; float:left;padding-top: 10px;margin-bottom: -10px;">{{minFert.Material}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{minFert.Count}}</div>
                            
                       </div>
                        <div class="separator" ng-show="minFertShow"/>
                        <div class="block_title" ng-show="otherMaterShow">Другие</div>
                        <div ng-repeat="otherMater in otherMater" style="min-height: 46px;height:auto;float: left;width: 100%" ng-show="otherMaterShow">
                            <div class="work1" style="width:60%; float:left;padding-top: 10px;margin-bottom: -10px;">{{otherMater.Material}}</div>
                            <div class="work2 green" style="width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right" class="green">{{otherMater.Count}}</div>
                            
                        </div>
                        <div class="separator" ng-show="otherMaterShow"/>
                    </div>
					
					<div class="block_title" style="cursor: pointer;" ng-click="SpoilerPhoto(1)">Заметки</div>
					<div class="separator"></div>
				    <div ng-show = "spoilerFields">
					  <div ng-repeat="p in PhotoList">
					  <div id="{{p.id}}">
					<div  style="min-height: 46px;height:auto;float: left;width: 50%" >
                    <div class="work1" style="width:50%; float:left;padding-top: 10px;margin-bottom: -10px;">
				    <p><a  ng-click="showMarker(p.name_photo, p.marker)" >
				    <img class="cross" src="../photo_fields\{{p.name_photo}}" 
                    width="100" height="100" ></a>
                        </p>{{p.date2}}
						<div class="ngCellText clear_row" style="font-size: 36px!important;margin-top: -27px;margin-left: 73px;" 
						 ng-click="delPhoto(p.id)"></div>
						</div>
                        </div>
						 <div  style="min-height: 110px;height:auto;float: right;width: 50%" >
                     <div class="work1" style="width:100%; float:left;padding-top: 10px;margin-bottom: -10px;">
						<div style="margin-left: 0px; width: 50 px; word-wrap: break-word;">{{p.note}}</div>
						</div>
                        </div>
					<div class="separator"></div>
					  </div>
						</div>

                    </div>
					<div class="separator" ng-show="otherMaterShow"/>
					
                </div>
                <div ng-show="carShow">
                    <div class="block_title">Общие сведения</div>
                    <div class="separator"></div>
                    <div class="tech_info_block">
                        <div class="tech_info_title">Водитель</div>
                        <div class="green tech_info_value">{{driverName}}</div>
                    </div>
                    <div class="tech_info_block">
                        <div class="tech_info_title">Оборудование</div>
                        <div class="green tech_info_value">{{equipmentName}}</div>
                    </div>
					<div ng-show = "CultShow">
					 <div class="block_title" >Культура</div>
                        <div class="separator"></div>
                        <div class="plant_block" ng-repeat="plant in plants" >
                            <img ng-src="{{'./' + plant.plant_icon_path.replace('assets/img/icons', 'images/map/icons1')}}" class="car_icon"></img>
                            <div class="plant_name">{{plant.plant_name}}</div>
                            <div class="separator"></div>
                        </div>
                     </div>   
                    <div class="block_title">Задания</div>
                    <div class="separator"></div>
                    <a class="tech_task_block" ng-repeat="task in tasks" ng-href="{{'./modules/monitor/way_bill/index.html?task_id=' + task.task_id + '&config=' + infoData1.configUrl}}" target="_blank">
                        <div class="white tech_task_title">{{task.task_name.toUpperCase()}}</div>
                    </a>
					
                    <div class="block_title">Выполнение</div>
                    <div class="separator"></div>
                    <div class="tech_info_block">
                        <div class="tech_info_title">Дата начала</div>
                        <div class="green tech_info_value">
						<input size="16" type="text" value="" class="form_datetime" id= "StartDate">
						</div>
                    </div>
					<div class="tech_info_block">
                        <div class="tech_info_title">Дата окончания</div>
                        <div class="green tech_info_value">
						<input size="16" type="text" value="" class="form_datetime" id= "EndDate">
						</div>
						<input class="stop"  type="checkbox" ng-change="checkStopParking()"   ng-model="formData.Stop">Остановка
						<input class="parking" style="margin-left: 45px;" type="checkbox" ng-change="checkStopParking()"   ng-model="formData.Parking">Стоянка	
                    </div>
					<button class="tech_task_block" ng-click= "getGPStrack()">
					<div style= "color: white;">Выбрать</div></button>					
                </div>
            </div>
        </div>
    </div>     
    </div>
    
    <div class="right_menu">
        <div class="infoButton" ng-show="mapShow"></div>
      
    </div>
	<div style= "width = 0px; height = 0px;" id = "traktor">{{traktor}}</div>
</form>