<div class="ngCellText {{getClassCopyCell(row.entity.Status)}}" style="font-size: 36px!important;" ng-switch on="row.entity[col.field]">
    <div ng-switch-when="0">
        <a tooltip="Новое" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/icon_new.png" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
    <div ng-switch-when="1">
        <a tooltip="Утверждено" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/icon_appointed.png" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
    <div ng-switch-when="2">
        <a tooltip="Скопировано" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/icon_copy.png" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
    <div ng-switch-when="3">
        <a tooltip="Выдано" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/icon_issued.png" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
	    <div ng-switch-when="4">
        <a tooltip="Планшет" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/{{row.entity.CheckOrange}}" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
    <div ng-switch-default></div>
</div>