<div class="ngCellText" ng-switch on="row.entity[col.field]">
    <div ng-switch-when="1" style="color: #5a5a5a;">Выдано</div>
    <div ng-switch-when="2" style="color: #5a5a5a;">В работе</div>
    <div ng-switch-when="3" style="color: #06aa9f;">Выполнено</div>
    <div ng-switch-when="4" style="color: #06aa9f;">Закрыт</div>
    <div ng-switch-default></div>
</div>