<div class="{{getClassTempCell(row.entity.TemplateStatus,row)}} ngCellText {{getClassCopyCell(row.entity.Status,row)}}" style="font-size: 36px!important;" ng-switch on="row.entity[col.field]">
    <div ng-switch-when="0">
        <a>
        </a>
    </div>
    <div ng-switch-when="1">
        <a tooltip="ТОРГ-12" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/shift_tasks/icon_new.png" style="width:36px; height:36px;"
                 ng-click="editCell(row.entity, row.getProperty(col.field), col.field)">
        </a>
    </div>
    
    <div ng-switch-default></div>
</div>