<div class="ngCellText {{getClassCopyCell(row.entity.Status)}}" style="font-size: 36px!important;" ng-switch on="row.entity[col.field]">
    <div ng-switch-when="1">
        <a tooltip="Полевой день" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/documents/icon_day.png" style="width:36px; height:36px;">
        </a>
    </div>
    <div ng-switch-when="2">
        <a tooltip="По часам" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/documents/icon_hour.png" style="width:36px; height:36px;">
        </a>
    </div>
    <div ng-switch-when="3">
        <a tooltip="Сдельная оплата" tooltip-class="my-custom-tooltip"
           tooltip-placement="top" tooltip-append-to-body="true">
            <img src="images/documents/icon_month.png" style="width:36px; height:36px;">
        </a>
    </div>
    <div ng-switch-default></div>
</div>