<form id="create_edit_bill_form" name="createEditForm" ng-submit="submitForm()"
      class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">ПУТЕВОЙ ЛИСТ МЕХАНИЗАТОРА
        №{{formData.WayListNum}}
    </div>
    <div class="create_left_block" style="height: 300px;">
        <div class="bloks-header">Общая информация</div>
        <div class="row-margin-top" style="margin-left: 0;display: inline-block;">
            <textinput class="num_way_bill" info="'№ путевого листа'" data="formData.WayListNum" readonly="formData.IsRepair" ></textinput>
            <datepick class=" row-margin-top" style="  margin-top: 0px; float: left;" data="formData.DateBegin"
                      mask="'99.99.9999'" regex-name="'date'" required></datepick>
            <div style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="setRepair()" ng-model="formData.IsRepair">Ремонтный</div>
			<div  ng-show="tporgid == 1" style="float: left;margin-left: 10px;margin-top: 5px;"><input type="checkbox" ng-change="checkRes()"
			ng-model="formData.AllResource">Все ресурсы</div>
        </div>
        <div style="width: 70%; float:left" class="row-margin-top">
            <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Водитель'" drop="infoData.EmployeesList"
                        data="formData.DriverId"></dropdownsearch>
        </div>
        <div style="width:30%; float:left; padding-left: 10px" class="row-margin-top">
            <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Агротехн.требования'" drop="infoData.AgroreqList"
                            data="formData.AgroreqId"></dropdownsearch>
        </div>
        <div style="width: 70%; float:left">
            <dropdownsearchtf info="'Техника'" infotf="'Гос. №'" drop="infoData.TraktorsList"
                          data="formData.TraktorId" selectfunction="traktorChange"></dropdownsearchtf>
        </div>
        <div style="width:30%; float:left; padding-left: 10px" class="row-margin-top">
            <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Тип топлива'" drop="infoData.TypeFuel"
                            data="formData.TypeFuel"></dropdownsearch>
        </div>
        <dropinput class="row-margin-top" info="'Оборудование'" infoinput="'Ширина'" drop="infoData.EquipmnetsList"
                   data="formData.TrailerId" datainput="formData.EquipWidth" kindinput="'Width'" regex-name="numbersWithDot"></dropinput>
    </div>
    <div class="create_right_block" style="height: 300px;">
        <div class="bloks-header">Задание</div>
        <div style="margin-top: 10px;">
            <doubledropnew class="create-task" infoparent="'Поле'" dropparent="infoData.FieldsAndPlants" dataparent="formData.FieldId"
                           infochild="'Культура'" datachild="formData.PlantId"
                           field-change="refreshLayer(formData.FieldId)"></doubledropnew>
        </div>
        <div class="row-margin-top" style="margin-top: 2px;float: left;width: 100%">
            <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Задание'" drop="infoData.TasksList"
                            data="formData.TaskTypeId"></dropdownsearch>
        </div>
        <div class="row-margin-top" style="float: left; width: 50%">
            <dropdownsearch class="row-margin-top ng-isolate-scope" info="'Ответственный'"
                            drop="infoData.ChiefsList"
                            data="formData.AvailableId"></dropdownsearch>
        </div>
        <div style="width:60%;float:left;margin-top: 6px;">
            <div style="width:50%; padding-right: 5px;float:left">
                <textinput  info="'Начало работы'" data="formData.timeStart"
                       mask="'99:99'" regex-name="timeHHmm"></textinput>
            </div>
            <div style="width:50%; padding-left: 5px;float:left">
                <textinput info="'Окончание работы'" data="formData.timeEnd" mask="'99:99'"
                       regex-name="timeHHmm"></textinput>
            </div>
        </div>
    </div>

    </div>
    <div class="comment_blok">
        <textinput info="'Комментарий'" data="formData.Comment"></textinput>
    </div>
    <div id="map1" class="map" style="height: 400px; width:100%" ng-show="formData.editBtnVisible"></div>
    <button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4"
            style="width: 300px; margin-top: -390px;margin-left: 10px; z-index: 1"
            ng-click="getField()" ng-show="formData.editBtnVisible">Использовать выделенную область
    </button>
		<button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4" ng-click="clear()"
		style="width: 85px; margin-top: -40px;margin-left: 10px;">Очистить</button>
	<div style="width: 100%; padding-top: 20px;">
        <button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="float: right;width: 100px;"
                ng-click="cancelWayBillClick()">Отмена
        </button>
        <button type="submit" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 "
                style="margin-right: 10px; float: right;width: 100px;">Ок
        </button>
    </div>
</form>