<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">КАЧЕСТВО ВЫПОЛНЯЕМЫХ РАБОТ</div>
    <div class="tc-block">
        <dropdownsearch class="ng-isolate-scope" info="'Год'" style="width: 20%;float: left;" drop="infoData.YearList" data="YearId" field-change="refreshYear()"></dropdownsearch>
        <dropdownsearch class="ng-isolate_scope" info="'Культуры'" style="width: 20%;float: left;margin-left: 10px" drop="infoData.TCList" data="IdTc" field_change="refreshPlant()"></dropdownsearch>
        <div style="width: 16%;float: left;margin-left: 10px;">
            <textinputnotcomma info="'Площадь, га'" readonly="true"  data="Area" field-change="changeMainData()"></textinputnotcomma>
        </div>
        <div style="width: 100%; float: left; margin-top: 15px">
            <span style="width: 100%; float: left;color: #06aa9f;">
                Поля
            </span>
            <li ng-repeat="d in Fields" style="width: 20%;float:left" readonly class="bordernone">{{d.Name + '(' + d.Area + ' га)'}}</li>
        </div>
        <accordeonpanel></accordeonpanel>
    </div>
    <div>
    </div>
</form>