<div class="logus-form">
    <div class="row-margin-top">
        <div class="bloks-header bloks-header" style="float: left;margin-right: 40px; width: 240px;">
            Список отчетов
        </div>
        <div class="bloks-header bloks-header" style="float: left;margin-right: 10px;width: 734px;">
            Параметры отчета
        </div>
    </div>
    <tabset type="nav nav-pills nav-stacked nav-reports">

		<tab heading="Остатки по запчастям" select="setTab('balance')">
            <form class="report-param-block" name="balanceItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
					<dropdownsearch class="ng-isolate-scope" info="'Склад'" drop="infoData.Storages" data="formData.StorageId" style="float:left;width: 200px;">
					</dropdownsearch>	
				<div style="float: left;margin-left: 10px;margin-top: 25px;">
			    <input type="checkbox" ng-change="changeStorage()" ng-model="formData.storage">На складе
               </div>	
				<div style="float: left;margin-left: 10px;margin-top: 25px;">
			    <input type="checkbox" ng-change="changeReserve()" ng-model="formData.reserve">В резерве
               </div>
			   </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="balanceItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		
		<tab heading="Расход по запчастям" select="setTab('intake')">
            <form class="report-param-block" name="intakeItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                   <doubledatepick style="width: 280px;float: left;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.intStartDate"
                                    datasecond="formData.intEndDate">
					</doubledatepick>
					<dropdownsearch class="ng-isolate-scope" info="'Склад'" drop="infoData.Storages" data="formData.intStorageId" style="float:left;width: 200px;">
					</dropdownsearch>
				</div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="intakeItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
			<tab heading="Затраты на ремонт" select="setTab('rs')">
            <form class="report-param-block" name="rsItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				    <doubledatepick style="width: 280px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.rsStartDate"
                                    datasecond="formData.rsEndDate" start-Date-change="getSpStartDate(formData.rsStartDate)" 
									End-Date-change="getSpEndDate(formData.rsEndDate)"></doubledatepick>
					<dropdownsearch class="ng-isolate-scope" info="'Техника'" drop="infoData.rsTech" selectfunction="techEqChange(1)"
                                data="formData.rsTechId" style="float:left;width: 200px;margin-right: 150px;">
					</dropdownsearch>
					<dropdownsearch class="ng-isolate-scope" info="'Оборудование'" drop="infoData.rsEq"
                                data="formData.rsEqId" selectfunction="techEqChange(1)" style="float:left;width: 200px;margin-right: 150px;">
					</dropdownsearch>
					</div>
                <div class="report-footer">
                    <button type="submit" id="rs" class="logus-btn btn" ng-disabled="rsItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		    <tab heading="Свод затрат" select="setTab('repairTech')">
            <form class="report-param-block" name="repairTechItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
                   <doubledatepick style="width: 280px;float: left;" infofirst="'С'"
                                    infosecond="'По'" start-Date-change="getRepStartDate(formData.techStartDate)" End-Date-change="getRepEndDate(formData.techEndDate)"
                                    datafirst="formData.techStartDate"
                                    datasecond="formData.techEndDate">
					</doubledatepick>
					<dropdownsearch class="ng-isolate-scope" info="'Техника'" drop="infoData.repTech" selectfunction="techEqChange(2)"
                     data="formData.repTechId" style="float:left;width: 200px;margin-right: 150px;">
					</dropdownsearch>
					<dropdownsearch class="ng-isolate-scope" info="'Оборудование'" drop="infoData.repEq"
                                data="formData.repEqId" selectfunction="techEqChange2" style="float:left;width: 200px;margin-right: 150px;">
					</dropdownsearch>
				</div>
                <div class="report-footer">
                    <button type="submit" id="rep" class="logus-btn btn" ng-disabled="repairTechItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		<tab heading="Учет заработной платы" select="setTab('time')">
            <form class="report-param-block" name="timeItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				    <doubledatepick style="width: 280px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.timeStartDate"
                                    datasecond="formData.timeEndDate" start-Date-change="getStartDate(formData.timeStartDate)" 
									End-Date-change="getEndDate(formData.timeEndDate)"></doubledatepick>
					<dropdownsearch class="ng-isolate-scope" info="'Сотрудник'" drop="infoData.responsibleList"
                                data="formData.timeEmpId" style="float:left;width: 200px;margin-right: 150px;">
					</dropdownsearch>
				<div style="float: left;margin-left: 10px;margin-top: 5px;">
					<input id="bigReport" type="checkbox" ng-change="bigReport()" ng-model="formData.timeIsBig"> Расширенный отчет
					</div>
					<div style="float: left;margin-left: 294px;margin-top: 5px;">
					<input type="checkbox" ng-change="isSheet()" ng-model="formData.sheet"> Растениеводство
					</div>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="timeItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		   <tab heading="Табель рабочего времени" select="setTab('table')">
            <form class="report-param-block" name="tableItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
									 <doubledatepick style="width: 280px;float: left;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.tableStartDate"
                                    datasecond="formData.tableEndDate"></doubledatepick>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="tableItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		<tab heading="Реестры документов" select="setTab('docs')">
            <form class="report-param-block" name="docsItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				    <doubledatepick style="width: 280px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.docsStartDate"
                                    datasecond="formData.docsEndDate" start-Date-change="" 
									End-Date-change=""></doubledatepick>
					</div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="docsItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		<tab heading="План-график ремонтных работ" select="setTab('plan-chart')">
            <form class="report-param-block" name="planChartItemForm" novalidate ng-submit="submitForm()">
                 <div class="row row-margin-top" style="margin-left: 0px;">
					<dropdownsearch class="blue" info="'Год'" style="width: 20%;float: left;margin-top:-0px;margin-right: 10px;" drop="yearsList" data="formData.planYearId" field-change="refreshYear()"></dropdownsearch>
                    <dropdownsearch class="ng-isolate-scope" info="'Техника'" drop="infoData.planTechTypeList"
                                data="formData.planTechTypeId" style="float:left;width: 200px;margin-right: 10px;">
				    </dropdownsearch>
					<dropdownsearch class="ng-isolate-scope" info="'Оборудование'" drop="infoData.planEqTypeList"
                                data="formData.planEqTypeId" style="float:left;width: 200px;margin-right: 10px;">
				    </dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="planChartItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
		    <tab heading="Наряд на сдельную работу" select="setTab('piecework')">
            <form class="report-param-block" name="pieceworkForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				     <doubledatepick  style="width: 280px;float: left;margin-right: 5px;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.pieceStartDate"
                                    datasecond="formData.pieceEndDate" start-Date-change="getPieceStartDate(formData.pieceStartDate)" 
									End-Date-change="getPieceEndDate(formData.pieceEndDate)"></doubledatepick>
                  <dropdownsearch class="ng-isolate-scope" info="'Сотрудник'" drop="infoData.responsiblePieceList"
                                data="formData.empId" style="float:left;width: 200px;margin-right: 150px;">
			    </dropdownsearch>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="pieceworkForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
             </tab>
			   <tab heading="Движение запчастей" select="setTab('movespareparts')">
            <form class="report-param-block" name="movesparepartsForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				     <doubledatepick  style="width: 280px;float: left;margin-right: 5px;" infofirst="'Дата начала'"
                                    infosecond="'Дата окончания'"
                                    datafirst="formData.moveStartDate"
                                    datasecond="formData.moveEndDate" 
									></doubledatepick>
                </div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="movesparepartsForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
             </tab>
		<tab heading="Выгрузка в 1C" select="setTab('xml')">
            <form class="report-param-block" name="xmlItemForm" novalidate ng-submit="submitForm()">
                <div class="row row-margin-top" style="margin-left: 0px;">
				    <doubledatepick style="width: 280px;float: left;margin-right: 5px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.xmlStartDate"
                                    datasecond="formData.xmlEndDate" start-Date-change="" 
									End-Date-change=""></doubledatepick>
					</div>
                <div class="report-footer">
                    <button type="submit" class="logus-btn btn" ng-disabled="xmlItemForm.$invalid"
                            style="float: right;width: 140px;margin-top: 20px;">Выгрузить отчет
                    </button>
                </div>
            </form>
        </tab>
    </tabset>
</div>