<form class="logus-form">
    <div class="logus-headers" style="padding-top: 15px">ШАБЛОНЫ ТЕХ. КАРТ</div>
    <div class="tc-block">
        <button type="button" id="create" class="logus-btn" style="float: right;width: 20%;margin-top: 20px;" ng-click="createTC()">Создать</button>
        <button type="button" id="edit" class="logus-btn" style="float: right;width: 20%;margin-top: 20px;margin-right: 10px" ng-click="editTC()">Редактировать</button>
    </div>
    <div class="tc-block">
        <div style="width: 100%; height: 550px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
	<div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
        <div class="modal-content" style="width: 780px;margin-left: -10%;">
        <div class="modal-header">
        <h3  class="modal-title">Создание тех.карты</h3>
        <button ng-click="cancel()" class="modal-close-btn btn"></button>
        </div>
        <div class="modal-body my-modal-question">
        <form class="my-form">
        <div class="row">
        <div style="width: 780px; float: left; margin-left: 20px;">
		<div class="logus-headers" style="padding-top: 0px">{{plantName}}</div>
		<dropdownsearch class="{{getClassChanges()}} ng-isolate-scope " info="'Год'" style="width: 20%;float: left;" 
		drop="infoData.YearList" data="formData.YearId" field-change="refreshYear()"></dropdownsearch>
		<div style="width: 50%;float: left;padding-left: 5px">
        <doubledropnew infoparent="'Культура'" infochild="'Сорт'" dropparent="Plants" dataparent="formData.PlantId" datachild="formData.SortId" 
		field-change="refreshPlant()"></doubledropnew>
		</div>
		<dropdownsearch class="{{getClassChanges()}} ng-isolate-scope" info="'Поля'" style="width: 25%;float: left;margin-left: -180px;" drop="Fields"
		data="formData.FieldId" field-change="refreshField()"></dropdownsearch>
		<div style="width: 100%; float: left; margin-top: 15px">
                    <span style="width: 100%; float: left;color: #06aa9f;">
                        Поля
                    </span>
                    <li ng-repeat="d in FieldsInfo track by $index" style="width: 25%;float:left" readonly class="bordernone">{{d.Name + '(' + d.Area + ' га)'}}</li>
                    </div>
        </div>
        </div>
        <div class="row button-wrap-modal">
         <button type="button" class="logus-btn btn" ng-click="yes()" style="width:90px;">Создать</button>
         <button type="button" class="logus-btn btn" ng-click="no()" style="width:90px;">Отмена</button>
		<button type="button" class="logus-btn btn btn-border" style="float: right;width: 140px;margin-top: 0px;margin-left: 8px;" 
		ng-click="clear()">Сброс параметров</button>
        </div>
        </form>
        </div>
        </div>
  </div>
</div>
</form>