<form id="create_tc" name="createEditTcForm" ng-submit="submitForm()" class="logus-form" style="width:94%">
    <div class="logus-headers" style="padding-top: 15px">ШАБЛОН ТЕХНОЛОГИЧЕСКОЙ КАРТЫ</div>
    <div style="width: 50%;float: left;padding-left: 5px">
        <doubledropnew infoparent="'Культура'" infochild="'Сорт'" dropparent="Plants" dataparent="formData.PlantId" datachild="formData.SortId" field-change="refreshPlant()"></doubledropnew>
    </div>
<button type="button" class="logus-btn btn btn-border" style="float: left;width: 90px;margin-top: 20px;margin-left: 8px;" ng-click="clear()">Очистить</button>
    <div class="tc-block">
        <div class="bloks-header" style="width: 78%">Назначенные работы</div>
        <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createTask()">Создать</button>
        <div style="width: 100%; height: 400px;margin-top: 16px;" ng-grid="gridOptions_Works" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>

    <div class="tc-block" style="margin-bottom: 20px">
        <tabset style="margin-top: 15px; margin-bottom: 20px;">
            <tab heading="Топливо">
                <div class="tc-block">
                    <div class="bloks-header">Состав агрегата и расход топлива</div>
                    <div style="width: 100%; height: 400px" ng-grid="gridOptions_Tech" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="ЗП">
                <div class="tc-block">
                    <div class="bloks-header">Обслуживающий персонал</div>
                    <div style="width: 100%; height: 400px" ng-grid="gridOptions_Emp" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Вспомогательный персонал</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSupportStaff()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_SupportStuff" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Семена">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Семена</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSeed()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Seed" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Удобрения">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Минеральные удобрения</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewFertilizer()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_ChemicalFertilizers" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="СЗР">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">СЗР</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewSZR()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Szr" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
           <tab heading="Пр. материалы">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Пр. материалы</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewDopMaterial()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_DopMaterial" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
            <tab heading="Услуги">
                <div class="tc-block">
                    <div class="bloks-header" style="width: 78%">Услуги</div>
                    <button type="button" class="logus-btn" style="float: right;width: 20%; margin-top: -16px" ng-click="createNewServices()">Создать</button>
                    <div style="width: 100%; height: 400px; margin-top: 16px;" ng-grid="gridOptions_Services" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="tc-block">
        <button type="button" class="logus-btn btn" style="float: right; margin-left: 10px" ng-click="cancel()">Отменить</button>
        <button type="submit" class="logus-btn btn"style="float: right;">Сохранить</button>
    </div>
</form>