<form id="create_edit_bill_form" name="createEditForm" novalidate ng-submit="createEditForm.$valid && submitForm()"
      class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.WayListNum">ЗАДАНИЕ НА {{taskInfo}}-Я
        СМЕНА
    </div>
    <div class="row">
        <div class="shift_left_block" style="height: 300px;padding-left:15px;">
            <div class="bloks-header">Планируемая работа</div>
            <div class="row row-margin-top">
                <doubledrop infoparent="'Поле'" dropparent="infoData.FieldsAndPlants" dataparent="formData.FieldId"
                            infochild="'Культура'" datachild="formData.PlantId" ></doubledrop>
            </div>
            <div style="margin-top: 10px;">
                <dropdown info="'Задание'" drop="infoData.TasksList" data="formData.TaskTypeId"></dropdown>
            </div>
            <div style="margin-top: 10px;">
                <dropdown info="'Ответственный'" drop="infoData.ChiefsList" data="formData.AvailableId" ></dropdown>
            </div>
        </div>
        <div class="shift_right_block" style="height: 300px;padding-right:15px;">
            <div class="bloks-header">Работу выполняют</div>
            <div class="" style="margin-top: 10px">
                <dropdown info="'Техника'" drop="infoData.TraktorsList" data="formData.TraktorId" ></dropdown>
                <div style="margin-top: 10px;">
                    <dropdown info="'Оборудование'" drop="infoData.EquipmnetsList" data="formData.TrailerId" ></dropdown>
                </div>
                <div style="margin-top: 10px;">
                    <dropdown class="driver1" info="'Водитель 1'" drop="infoData.EmployeesList" style="float: left;margin-right: 10px;"
                              data="formData.Driver1Id"></dropdown>
                    <dropdown class="driver2" info="'Водитель 2'" drop="infoData.EmployeesList"
                              data="formData.Driver2Id"></dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right row" style="width: 30%;">
        <span ng-hide="createEditForm.$valid" class="error-text float-right">Не все поля формы заполнены корректно!</span>
        <button type="submit" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 " ng-class="{disabled : !createEditForm.$valid}">Ок</button>
        <button type="button" class="logus-btn btn col-md-4 col-xs-6 col-sm-4 col-lg-4 " style="margin-left: 10px"
                ng-click="canselWayBillClick()">Отмена
        </button>
    </div>
</form>
