


.detail_btn {
    background-image: url(../../assets/img/menu/more_btn.png);
    width: 20px;
    height:20px;
    float: right;
    margin-top: -32px;
}

.detail_btn select {
    background-image: url(../../assets/img/menu/more_btn_act.png);
}