<div class="modal-header">
    <h3 class="modal-title">{{title != undefined ? title : "Комментарий"}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body">
    <form class="my-form my-modal-comment">
        <textarea class="textarea-comment-modal" ng-model="comment"></textarea>
        <div class="row button-comment-modal">
            <button type="button" class="logus-btn btn" style="margin-left: 15px;float: left;" ng-click="clear()">Очистить</button>
            <button type="button" class="logus-btn btn" ng-click="closeModal(comment || null)">Сохранить</button>
            <button type="button" class="logus-btn btn" ng-click="cancel()">Отмена</button>
        </div>
    </form>
</div>