<div class="modal-header">
    <h3 class="modal-title">Создание поля</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body row" style="height: 405px">
    <form class="my-form my-modal-comment" style="padding-left: 20px;padding-right: 20px;">
        <div>
            <div class="bloks-header">Новый объект</div>
            <textinput class="create-field-modal" info="'Название'" data="formData.Name"></textinput>
        </div>

        <div style="padding-top: 20px;">
            <div class="bloks-header">Информация</div>
            <dropdown class="create-field-modal" info="'Организация'" drop="infoOrgs" data="formData.OrgId"></dropdown>
            <dropdown info="'Культура'" drop="infoPlants" data="formData.PlantId"></dropdown>
            <div class="logus-text">Сбор урожая</div>
            <datepick style="margin-top: 10px;" data="formData.Date" mask="'99.99.9999'" regex-name="'date'" required></datepick>
            <textinput class="disable-input input" info="'Площадь, га'" readonly="true" data="formData.Area" style="width: 400px !important;float: right;margin-top: -62px;"></textinput>
        </div>
        <div class="row button-comment-modal">
            <button type="button" class="logus-btn btn" ng-click="closeModal(formData)">Сохранить</button>
            <button type="button" class="logus-btn btn" ng-click="cancel()">Отмена</button>
        </div>
    </form>
</div>