<div class="modal-header">
    <h3  class="modal-title">{{title}}</h3>
    <button ng-click="cancel({Id: id, Number:2})" class="modal-close-btn btn"></button>
</div>
<div class="modal-body my-modal-question">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_warning.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div>{{question}}</div>
				<div>{{question2}}</div>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn " ng-click="ok({Id: id, Number:1})">Да</button>
            <button type="button" class="logus-btn btn " ng-click="cancel({Id: id, Number:2})">Нет</button>
        </div>
    </form>
</div>
