
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body">
    <form class="my-form" style="min-height: 117px">
        <!--input value="{{firstvalue}}" ng-model="firstvalue" placeholder="План"> /
        <input value="{{secondvalue}}" ng-model="secondvalue" placeholder="Факт"-->

        <textinputnotcomma id="planField" class="input_driver_task_form ng-isolate-scope" info="'План'"
                           data="firstvalue" regex-name="numbersWithPoint" focusme="true">/
        </textinputnotcomma>
        <textinputnotcomma class="input_driver_task_form ng-isolate-scope" info="'Факт'"
                           data="secondvalue" regex-name="numbersWithPoint">
        </textinputnotcomma>

        <div class="float-right row my-modal-footer footer-modal">
            <button type="button" class="logus-btn btn float-right" style="margin: 10px; width: 100px"
                    ng-click="closeModal({Plan : firstvalue, Fact : secondvalue})">Ок
            </button>
        </div>
    </form>
</div>

<style type="text/css">
    .modal-dialog {
        width: 323px;
    }
</style>
