<div id="modal_header" class="modal-header" style="margin-top: 100px;width: 1000px;margin-left: -200px;position: relative;margin-top: 150px">
    <h3 class="modal-title">{{title != undefined ? title : "Оценка качества"}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body" style="margin-top: 100px;width: 1000px;margin-left: -200px;background-color: #fff;float: left;height: 400px;margin-top: -1px;">
    <form class="my-form my-modal-comment">
        <doublelist></doublelist>

        <div class="float-right my-modal-footer footer-modal" style="bottom: -50px;    margin-left: -15px;">
        	<button type="button" class="logus-btn btn "style="margin: 10px; width: 100px; float: right"
                    ng-click="closeModal()">OK
            </button>
            <input ng-model="lists.totalRate" class="bordernone" style="float: right; height: 32px;box-sizing: border-box;width: 50px;text-align: right;padding-right: 5px;margin-top: 10px" readonly>
        </div>
    </form>
</div>