<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body">
    <form class="my-form">
        <div class="row">
            <img src="images/modals_window/icon_error.png" style="width: 70px; float: left; margin-left: 20px;"/>
            <div style="width: 470px; float: left; margin-left: 20px;">
                <div style="word-wrap: break-word">{{message}}</div>
                <ul>
                    <li ng-repeat="d in values track by $index" style="word-wrap: break-word">{{d}}</li>
                </ul>
            </div>
        </div>
        <div class="row button-wrap-modal">
            <button type="button" class="logus-btn btn" ng-click="cancel()">Ok</button>
        </div>
    </form>
</div>