
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body" style="height: 700px;">
    <form class="my-form" style="min-height: 117px">
        <div id="map3" class="map" style="height: 620px;width:100%"></div>

        <div class="float-right my-modal-footer footer-modal" style="margin-left: -15px;">
            <button type="button" class="logus-btn btn float-left btn-border" style="margin-top: 10px;margin-left: 15px; width: 100px"
                    ng-click="clear()">Очистить
            </button>

            <button type="button" class="logus-btn btn float-right" style="margin-top: 10px;margin-right: 15px; width: 100px"
                    ng-click="cancel()">Отмена
            </button>
            <button type="button" class="logus-btn btn float-right" style="margin: 10px; width: 100px"
                    ng-click="okModalMap()">Ок
            </button>
        </div>
    </form>
</div>

<style type="text/css">
    .modal-dialog {
        width: 700px;
    }
</style>
