<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body" style="display: inline;">
    <form class="my-form my-modal-message">
        <div class="row">
            <img src="images/modals_window/icon_info.png" style="width: 70px; float: left; margin-left: 20px;"/>

            <div style="width: 470px; float: left; margin-left: 20px;">
                <div>{{message}}</div>
            </div>
        </div>
        <button type="button" class="logus-btn btn" ng-click="cancel()" style="width: 100px;float: right;margin-right: 10px">Ок</button>
    </form>
</div>