<div class="modal-header">
    <h3 class="modal-title">{{nameField}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body my-modal">
    <input ng-model="query" class="search-modal logus-input" ng-keydown="keyDownIn($event)">

    <div class="search-lupa"></div>
    <form class="my-form" ng-keydown="keyDownIn($event)" >
        <ul  class="services">
            <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
                <li ng-repeat="d in filtered = values | filter:query" value="{{d.Id}}"
                    ng-click="clickRow(d)"
                    ng-class="{selectedValue:d.selectedFlag}">{{d.Name}}</li>
            </div>
        </ul>
        <div class="float-right my-modal-footer footer-modal" style="margin-left: -15px;">
            <button id="clear" type="button" class="logus-btn btn btn-border" style="margin: 10px; width: 100px"
                    ng-click="clear()">Очистить
            </button>
            <button type="button" class="logus-btn btn "style="margin: 10px; width: 100px; float: right"
                    ng-click="closeModal()">OK
            </button>
        </div>
    </form>
</div>


