<div class="modal-header">
    <h3 class="modal-title">{{nameField}}</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div class="modal-body my-modal" ng-cloak>
    <input ng-model="query" class="search-modal logus-input" ng-keydown="keyDownIn($event)">

    <div class="search-lupa"></div>
    <form class="my-form" ng-keydown="keyDownIn($event)" >
        <ul class="services">
            <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
                <li ng-repeat="d in filtered = values | filter:query" value="{{d.Id}}"
                    ng-click="closeModal(d)"
                    ng-class="selectedValue == d.Id ? 'selectedValue':''">{{d.Name}}</li>
            </div>
        </ul>
        <!--pager total-items="values.length" ng-model="currentPage"></pager-->
        <div class="float-right row my-modal-footer footer-modal" style="margin-left: -15px !important">
            <button type="button" class="logus-btn btn float-right" style="margin: 10px; width: 100px"
                    ng-click="closeModal({Id : null, Name : null})">Очистить
            </button>
        </div>
    </form>
</div>


