
<div class="modal-header">
    <h3 class="modal-title">Загрузка файла</h3>
    <button ng-click="cancel()" class="modal-close-btn btn"></button>
</div>
<div style = "display:none;" id = "yura" name = "yura">{{title}}</div>
<div class="modal-body">
<div id = "show1">
   <form class="my-form" style="min-height: 130px" enctype="multipart/form-data" id="upform" name="upform"> 
     <!-- текст <input type="submit"   class="logus-btn btn float-center" value="Загрузить" /> -->
	 <div>
    <input type="file" name="uploadFile" id="uploadFile"  /><br />
    <button type="button" class="logus-btn btn float-center" id="submit1">Загрузить</button>
     </div>
        <div class="float-right row my-modal-footer footer-modal">
            <button type="button" class="logus-btn btn float-right" style="margin: 10px; width: 100px"
                    ng-click="closeModal()">Ок
            </button>
        </div>
    </form>
</div>
<div id = "show2">
  <H3>Файл загружен!</h3>
  <div id = "shres">
  </div>
</div>
</div>
<style type="text/css">
    .modal-dialog {
        width: 500px;
    }
        input[type="file"]::-webkit-file-upload-button {
        border: 0;
    outline: none !important;
    border-radius: 0 !important;
    height: 32px;
    background-color: #06aa9f;
    color: #ffffff;
    border-radius: 0;
    -webkit-appearance: none;
    line-height: 14px;
    z-index: 1000;
	  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
        }
</style>
<script type="text/javascript">
$('#show2').hide();
function SubmitButtonOnclick()
            { 
		var formData = new FormData();  
                formData.append("uploadFile", $('#uploadFile')[0].files[0]);

                var t = $('#yura').text();
 
                $.ajax({
		    type: "POST",
		    url: t+'TMCExport/ReceiveSdel',
		    processData: false,
                    contentType: false,
		    data: formData,
		    success: function (result) {
			    $('#show1').hide();
                            $('#shres').html(result);
                            $('#show2').show();
		    },
		    error: function (xhr, status, p3) {
		        alert(status);
		    }
});
}

$('#submit1').on('click', SubmitButtonOnclick);

</script>
