<script type="text/ng-template" id="group-template">
      <div class="panel {{panelClass || \'panel-default new\'}}">
            <div>
                  <div class="panel-heading new" ng-click="toggleOpen()">
                        <h4 class="panel-title new">
                              <a href tabindex="0" class="accordion-toggle.new" accordion-transclude="heading">
                                    <div class="glyphicon" ng-class="{\'accord-group-open\': !isOpen,\'accord-group-close\': isOpen}" style="top:6px;">
                                    </div>
                                    <span ng-class="{\'text-muted\': isDisabled}">{{heading}}</span>
                              </a>            
                        </h4>
                  </div>
                  <div class="panel-collapse collapse" collapse="!isOpen">
                        <div class="panel-body" style="border-top: none" ng-transclude></div>
                  </div>
            </div>
      </div>
</script>

<form class="logus-form" style="width:90%">
      <div style="float: left; margin-top: 20px;width: 100%;">
            <div class="logus-headers" style="padding-top: 15px;float: left;" ng-model="formData.WayListNum">Норма расхода топлива</div>
            <div style="display: inline-block;margin-left: 20px;height: 33px;width: 250px;">
                  <input ng-model="filterText" placeholder="Поиск" style="width: 100%;height: 32px;margin-top: 10px;" class="logus-input" ng-change="search()"/>
            </div>
			   <input  type="checkbox" ng-change="getCar()" style="margin-left: 10px;" ng-model="dataTech.Car">Автотранспорт 
			   <input  type="checkbox" ng-change="getTech()" style="margin-left: 10px;" ng-model="dataTech.Tech">Сельхозтехника 
            <button class="logus-btn btn" style="float: right; margin-left: 10px; margin-top: 10px" ng-click="cancel()">Отменить</button>
            <button class="logus-btn btn" style="float: right; margin-top: 10px;" ng-click="save()">Сохранить</button>
      </div>
      <accordion close-others="oneAtATime" ng-class="{{customClass}}" class="" style="float:left; width: 100%">
            <button class="ui-match-clear" style="top: 6px;" ng-click="close($event)"></button>
            <accordion-group ng-repeat="item in formData" heading="{{item.Name + ' ( лето:' + (item.Summer_track != null ? item.Summer_track :'0') + '-'
            + (item.Summer_city != null ? item.Summer_city :'0') + '-' + (item.Summer_field != null ? item.Summer_field :'0') + ', зима:'
			+ (item.Winter_track != null ? item.Winter_track :'0') + '-'+ (item.Winter_city != null ? item.Winter_city :'0') + '-'
			+ (item.Winter_field != null ? item.Winter_field :'0') + ', коэфф-т, л/тн:'+ (item.Coef != null ? item.Coef :'0') + ', обогрев:'
			+ (item.Engine_heating != null ? item.Engine_heating :'0') + ', рефрижератор:'+ (item.Icebox != null ? item.Icebox :
			(item.Icebox_per != null ? item.Icebox_per : '0')) + ', кузов:'
			+ (item.Body_lifting != null ? item.Body_lifting :'0') + ', отопление:'+ (item.Heating != null ? item.Heating :'0') 
			+ ', закачки:'+ (item.Refill != null ? item.Refill :'0') + ', слив:'+ (item.Sink != null ? item.Sink :'0')
			+ ', прицеп:'+ (item.Trailer != null ? item.Trailer :'0')  + ', установка:'+ (item.Setting != null ? item.Setting :'0')
			
			+ ')'}}" 
			is-open="itemOpened[$index]" template-url="group-template" class="text-collapse" ng-show="!filterText || item.Name.toLowerCase().indexOf(filterText.toLowerCase()) != -1">
                  <div style="float:left;width:100%;">              
                        <div style="float:left;box-sizing: content-box;width:12%;padding-left: 0%;height: 20px;margin-left: 69px">Базовая норма на 100 км</div>
						<br>
						 <div style="float:left;width:5%;margin-top:6px">Лето</div>
					     <div style="float:left;width:5%;">
             	   <textinputnotcomma data="item.Summer_track" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
		       	   <div style="float:left;width:5%;margin-left:20px">
             	   <textinputnotcomma data="item.Summer_city" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:5%;margin-left:20px">
             	   <textinputnotcomma data="item.Summer_field" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
				    <div style="float:left;width:9.3%;margin-left:20px;margin-top:6px">Коэфф-т, л/тн</div>
					<div style="float:left;width:5%;;margin-left:0px">
             	   <textinputnotcomma data="item.Coef" regex-name="numbersWithPoint"></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:11%;margin-left:20px;margin-top:6px">Обогрев двигателя, л/ч</div>
						 <div style="float:left;width:5%;margin-left:0px">
             	   <textinputnotcomma data="item.Engine_heating" regex-name="numbersWithPoint"></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:100%;margin-top:15px">
						 <div style="float:left;width:5%;margin-top:6px">Зима</div>
					     <div style="float:left;width:5%;">
             	   <textinputnotcomma data="item.Winter_track" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
			       <div style="float:left;width:5%;margin-left:20px">
             	   <textinputnotcomma data="item.Winter_city" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:5%;margin-left:20px">
             	   <textinputnotcomma data="item.Winter_field" regex-name="numbersWithPoint" ></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:9.3%;margin-left:20px;margin-top:6px">Поднятие кузова, л</div>
					    <div style="float:left;width:5%;;margin-left:0px">
             	       <textinputnotcomma data="item.Body_lifting" regex-name="numbersWithPoint"></textinputnotcomma>
                        </div> 
						 <div style="float:left;width:11%;margin-left:20px;margin-top:6px">Отопление, л/ч</div>
						 <div style="float:left;width:5%;margin-left:0px">
             	   <textinputnotcomma data="item.Heating" regex-name="numbersWithPoint"></textinputnotcomma>
                        </div> 
						<div style="float:left;width:5%;margin-left:20px;margin-top:-25px">Работа с рефр-ром</div>
					    <div style="float:left;width:5%;margin-left:0px;margin-top:-45px">
             	        <textinputnotcomma data="item.Icebox_per" regex-name="numbersWithPoint" field-change="changeIcePer(item)"   ></textinputnotcomma> 
                        <div style="float:left;width:5%;margin-left:75px;margin-top:-26px;">%</div> 
                        </div> 
					<div style="float:left;width:5%;margin-left:0px">
             	   <textinputnotcomma data="item.Icebox" regex-name="numbersWithPoint" field-change="changeIce(item)" ></textinputnotcomma>
                    </div> 
					<div style="float:left;width:3%;margin-left:6px;margin-top:5px;">л/ч</div>
					
			    	<div style="float:left;width:7%;margin-left:0px;margin-top:-45px">Закачки, л</div> 
						 <div style="float:left;width:5%;margin-left:90px;margin-top:-45px">
             	   <textinputnotcomma data="item.Refill" regex-name="numbersWithPoint"></textinputnotcomma>
                        </div> 
					<div style="float:left;width:6.5%;margin-left:0px;margin-top:6px">Слив, л</div>
						 <div style="float:left;width:5%;margin-left:0px">
             	   <textinputnotcomma data="item.Sink" regex-name="numbersWithPoint"></textinputnotcomma>
                         </div>


		     <div style="float:left;width:8%;margin-left:7px;margin-top:-53px" >Коэфф-т c прицепом, л/тн</div>
						 <div style="float:left;width:5%;margin-left:110px;margin-top:-40px">
             	   <textinputnotcomma data="item.Trailer" regex-name="numbersWithPoint"></textinputnotcomma>
                         </div> 

	           <div style="float:left;width:8%;margin-left:7px;margin-top:6px">Работа с установкой</div>
						 <div style="float:left;width:5%;margin-left:-6px">
             	   <textinputnotcomma data="item.Setting" regex-name="numbersWithPoint"></textinputnotcomma>
                         </div> 
						 
					<div style="float: left;margin-top: -22px;margin-left:5px;" class="clear_row" ng-click="delRow(item)"/>	
                        </div> 
							  <div style="float:left;width:100%;margin-top:15px">
							  <div style="float:left;width:7%;margin-left:74px;margin-top:-10px">трасса</div>
							  <div style="float:left;width:5%;margin-left:0px;margin-top:-10px">город</div>
							  <div style="float:left;width:11%;margin-left:20px;margin-top:-10px">поле</div>
						      </div> 							  
                  </div>
            </accordion-group>
      </accordion>
</form>