﻿<form class="logus-form" style="width:96%;">
    <div class="logus-headers" style="padding-top: 15px">УЧЕТНЫЕ ЗАПИСИ ПОЛЬЗОВАТЕЛЕЙ</div> 
	<button type="button" class="logus-btn" style="float: right;width: 15%;margin-left: 10px;" ng-click="delRow()">Удалить</button>
    <button type="button" class="logus-btn" style="float: right;width: 15%;margin-left: 10px;" ng-click="create()">Создать</button>
	 <button type="button" class="logus-btn" style="float: right;width: 15%;" ng-click="goToRole()">Роли</button>
    <div class="tc-block">
        <div style="width: 100%; height: 570px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
    <div class="tc-block">
        <button type="button" class="logus-btn btn" style="float: right; margin-left: 10px" ng-click="cancel()">Отменить</button>
        <button type="button" class="logus-btn btn" style="float: right;" ng-click="save()">Сохранить</button>
    </div>
</form>