<form class="logus-form form-horizontal">
    <div class="tc-block">
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label" >Минимальный порог скорости</label> 
	<div class="col-sm-10" style="margin-top: 10px;"> 
	  <textinputnotcomma class="oneline-text-input   style="width: 200px; pointer-events: none;" field-Change="changeNumber()"  data="formData.Speed"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label" >Минимальное время остановки, мин</label> 
	<div ng-keypress="changeNumber" class="col-sm-10" style="margin-top: 10px;"> 
	  <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"  data="formData.Stop"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label"  >Минимальное время стоянки, мин</label> 
	<div class="col-sm-10" style="margin-top: 10px;"> 
	   <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"   data="formData.Parking"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label"  >Максимальное время стоянки, мин</label> 
	<div class="col-sm-10" style="margin-top: 10px;"> 
	   <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"   data="formData.MaxParking"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label"  >Переход на летнее время</label> 
	<div class="col-sm-10" style="margin-top: 10px;"> 
   <datepicktable class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-left: -10px; cursor:pointer;" 
   data="summer_date" mask="'99.99.9999'" regex-name="'date'"></datepicktable>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label"  >Переход на зимнее время</label> 
	<div class="col-sm-10" style="margin-top: 10px;"> 
   <datepicktable class="logus-headers col-md-2 col-xs-4 col-sm-2 col-lg-2" style="margin-left: -10px; cursor:pointer;" 
   data="winter_date" mask="'99.99.9999'" regex-name="'date'"></datepicktable>
	</div> 
	</div> 
	
	
	</div>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="save()">Сохранить</button>
	</form>
