<form class="logus-form form-horizontal">
    <div class="tc-block">
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label ">Наименование</label> 
	<dropdownsearch class="ng-isolate-scope"  drop="infoData.OrgList" field-Change="changeOrg(formData.OrgId)"
	data="formData.OrgId" style="float:left;width: 250px;margin-left: 13px;"> 
	</dropdownsearch> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label">Адрес</label> 
	<div class="col-sm-10"> 
	  <textinput class="oneline-text-input  ng-readonly="true" style="width: 200px; pointer-events: none;"  data="formData.Adress"></textinput>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label">ИНН</label> 
	<div ng-keypress="changeNumber" class="col-sm-10"> 
	  <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"  data="formData.INN"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label">КПП</label> 
	<div class="col-sm-10"> 
	   <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"   data="formData.KPP"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label">ОГРН</label> 
	<div class="col-sm-10"> 
	   <textinputnotcomma class="oneline-text-input" field-Change="changeNumber()"   data="formData.OGRN"></textinputnotcomma>
	</div> 
	</div> 
	<div class="form-group"> 
	<label for="inputEmail3" class="col-sm-2 control-label">Ген. директор</label> 
	<dropdownsearch class="ng-isolate-scope" drop="infoData.EmployeeList" 
	data="formData.DirectorId" style="float:left;width: 250px;margin-left: 13px;"> 
	</dropdownsearch> 
	</div> 
	<div class="form-group"> 
	<label for="" class="col-sm-2 control-label">Регистрационный ключ</label> 
	<div class="col-sm-10"> 
	   <textinput class="oneline-text-input  ng-readonly="true" style="width: 200px; pointer-events: none;" mask="'****-****-****-****'"  data="formData.Key"></textinput>
	</div> 
	</div> 
	</div>
		<button type="button" class="logus-btn btn float-right"  style="float: right;margin-top: 20px;margin-right: 10px;" ng-click="save()">Сохранить</button>
	</form>
