﻿<form class="logus-form" style="width:96%;">
    <div class="logus-headers" style="padding-top: 15px">Роли</div> 
	<button type="button" id="del" class="logus-btn" style="float: right;width: 10%;margin-left: 10px;" ng-click="delRow()">Удалить</button>
	<button type="button" class="logus-btn btn" style="float:right;width: 10%;margin-left: 10px;" ng-click="save()">Сохранить</button>
    <button type="button" class="logus-btn" style="float: right;width: 10%;margin-left: 10px;" ng-click="create()">Создать</button>
	<button type="button" class="logus-btn" style="float: right;width: 10%;" ng-click="goToAdmin()">Пользователи</button>
	 
    <div class="tc-block">
        <div style="width: 100%; height: 570px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
    <div class="tc-block">
        <!--button type="button" class="logus-btn btn" style="float: right; margin-left: 10px" ng-click="cancel()">Отменить</button-->
    </div>
	
		<div  id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
        <div class="modal-content" style="width: 780px;margin-left: -10%;">
        <div class="modal-header">
        <h3  class="modal-title">Выбор подсистем</h3>
        <button ng-click="cancelWin()" class="modal-close-btn btn"></button>
        </div>
        <div class="modal-body my-modal-question">
        <form class="my-form">
        <div class="row">
        <div style="width: 780px;float: left; margin-left: 20px;">
		
		<ul id="roles"  style="list-style: none; ">
		
		 <li > <input id="tasM5" value="cost"  type="checkbox"> <span>План-фактный анализ</span></li> 
		 <li > <input id="tasM6"  type="checkbox"> <span>Детализация затрат по культурам</span></li> 	 	
		 <li > <input id="tasM7"  type="checkbox"> <span>Карта</span></li> 	 	
		
			<li style="cursor:pointer;"> <input id="tasM"  type="checkbox"> <span ng-click="clickTas1()">Производственные задачи</span></li>
			<ul id="tasUl"  ng-show="checkTas1"  style="">
			<li><input id="tas0" type="checkbox"> Сменное задание</li>
			<li><input id="tas1" type="checkbox"> Путевые листы механизаторов</li>
			<li><input id="tas2" type="checkbox"> Путевые листы водителей</li>
			<li><input id="tas3" type="checkbox"> Отчеты</li>
			<li><input id="tas4" type="checkbox"> Начисление ЗП(сдельная)</li>
			<li><input id="tas5" type="checkbox"> Учет ТМЦ</li>
			<li><input id="tas6" type="checkbox"> Приход горючего</li>
			<li><input id="tas7" type="checkbox"> Урожай</li>	
			<li><input id="tas8" type="checkbox"> Услуги</li>
			<li><input id="tas9" type="checkbox"> Контроль качества</li>
			<li><input id="tas10" type="checkbox"> Расценки</li>
			<li><input id="tas11" type="checkbox">Норма расхода топлива</li>
			<li><input id="tas12" type="checkbox">Справочники</li>
			 </ul>
			 
			 <li style="cursor:pointer;"> <input id="tasM2"  type="checkbox"> <span ng-click="clickTas2()">Планирование</span></li>
			<ul id="planUl2"  ng-show="checkTas2"  style="">
			<li><input id="plan0" type="checkbox"> Севооборот</li>
			<li><input id="plan1" type="checkbox"> Тех.карты</li>
			<li><input id="plan2" type="checkbox"> Шаблоны тех.карт</li>
			<li><input id="plan3" type="checkbox"> Распределение техники</li>
			<li><input id="plan4" type="checkbox"> Распределение ТМЦ</li>
			 </ul>
			 
			<li style="cursor:pointer;"> <input id="tasM3"  type="checkbox"> <span ng-click="clickTas3()">Агрогараж</span></li> 
			 	<ul id="garUl3"  ng-show="checkTas3"  style="">
			<li><input id="gar0" type="checkbox"> Баланс</li>
			<li><input id="gar1" type="checkbox"> Приходные накладные</li>
			<li><input id="gar2" type="checkbox"> Сменное задание не ремонт</li>
			<li><input id="gar3" type="checkbox"> Наряды на ремонт</li>
			<li><input id="gar4" type="checkbox"> Ежедневные наряды</li>
			<li><input id="gar5" type="checkbox"> Акты списания</li>
			<li><input id="gar6" type="checkbox"> Требования-накладные</li>	
			<li><input id="gar7" type="checkbox"> История запчасти</li>
			<li><input id="gar8" type="checkbox"> Отчеты</li>
			<li><input id="gar9" type="checkbox"> Справочники</li>
			 </ul>		 
			 <li > <input id="tasM4"  type="checkbox"> <span>Администрирование</span></li> 	 	 
       </ul>
		
				
				
        </div>
        </div>
        <div class="row button-wrap-modal">
         <button type="button" class="logus-btn btn" ng-click="yes()" style="width:90px;">ОК</button>
         <button type="button" class="logus-btn btn" ng-click="no()" style="width:90px;">Отмена</button>
        </div>
        </form>
        </div>
        </div>
  </div>
</div>
</form>