﻿<form class="logus-form" style="width:96%;">
    <div class="logus-headers" style="padding-top: 15px">Выполнить сохранение значений по тех.картам на текущую дату
	<button ><img src="images/ok.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;" ng-click="clickSaveNzp()"></button>
	</div> 
	<div id="nzp" >
	</div >
    <!--button ><img src="images/ok.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;" ng-click="clickSaveNzp()"></button-->
</form>