﻿<form class="logus-form" style="width:96%;">
    <div style="width:30%;float:left;">
    <div class="logus-headers" style="padding-top: 15px">ИСПОЛЬЗУЕМЫЕ КУЛЬТУРЫ</div> 
	<div style="font-size: 14pt;" >Культуры {{year}}  </div>
	<div id="crop" style="font-size: 14pt;"> </div>
	<div id="culture" > </div >
	<div ng-show="add == 'true'"  class="tc-block">
	<dropdownsearch class="ng-isolate-scope" style="width: 20%;float: left;margin-top: 14px;"
	drop="infoData.YearList" data="formData.yearId" field-change="changeYear()"  info="'Год'" "></dropdownsearch> 
	
	<dropdownsearch class="ng-isolate-scope" style="width: 20%;float: left;margin-top: 14px;margin-left: 30px;" info="'Культура'"
	drop="infoData.AllPlants" data="formData.plantId"   "></dropdownsearch> 
    <button ng-show="save != 'true'"><img src="images/ok.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;margin-top: 34px;" ng-click="clickSave()"></button>
	</div>
    <button ng-show="add != 'true'"><img src="images/add.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;" ng-click="create()"></button>
	</div>
		
	<div style="width:30%;float:right;">
       <div class="logus-headers" style="padding-top: 15px">ЗАМЕНА КУЛЬТУР ПО СЕВООБОРОТУ</div> 
      <button type="button" class="logus-btn btn"  style="margin-top:10px;" ng-click="changeCult()">Выполнить</button>
     </div>
		
	<div style="width:30%;float:right;">
    <div class="logus-headers" style="padding-top: 15px">КУЛЬТУРЫ ДЛЯ УЧЕТА НЗП</div> 
	<div id="nzp" >
	</div >
	<div ng-show="addNzp == 'true'"  class="tc-block">
	<dropdownsearch class="ng-isolate-scope" style="width: 20%;float: left;margin-top: 14px;"
	drop="infoData2.YearList" data="formData2.yearId" info="'Год'" "></dropdownsearch> 
    <button ng-show="saveNzp != 'true'"><img src="images/ok.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;margin-top: 34px;" ng-click="clickSaveNzp()"></button>
	</div>
    <button ng-show="addNzp != 'true'"><img src="images/add.png" style="vertical-align: middle;height:30px;width:30px;margin-left:15px;" ng-click="createNzp()"></button>
    </div>
	
    </form>
