<form id="documents_list_form" name="documentsListForm" ng-submit="submitForm()" class="logus-form">
    <div class="logus-headers" style="padding-top: 15px" ng-model="formData.DailyNum">ЕЖЕДНЕВНЫЙ НАРЯД № {{formData.DailyNum}}</div>
    <div style="height: 200px;">
        <div class="bloks-header row-margin-top">Общая информация</div>
        <div class="row-margin-top first_row_driver_way_bill">
			<div style="width: 130px; float: left;">
				<div class="logus-text">№ наряда</div>
				<input class="logus-input readonly" style="background: #e6f6f5;" readonly ng-value="formData.DailyNum">
			</div>
			<div id="repairsNumber" style="width:150px; float:left; width: 130px; margin-left:20px;">
                <dropdownsearch class="row-margin-top ng-isolate-scope" info="'№ НР'" drop="infoData.RepairsActs" data="formData.RepairsActs"  selectfunction="numChange"></dropdownsearch>
            </div>
             <div id="datepick" style="width: 130px; float: left; margin-left: 10px;">
				<div class="logus-text" style="margin-right: 5px;">
					Дата
				</div>
				<datepick  class="logus-headers"
                      style="" data="formData.Date"
                      mask="'99.99.9999'"
                      regex-name="'date'" date-change="dateChangeSpareParts(data)"></datepick>
			</div>
			<div style="width:270px;float:left; margin-left: 30px;">
				<div style="width:50%; padding-right: 5px;float:left">
					<textinput  info="'Начало работы'" data="formData.timeStart"
						   mask="'99:99'" regex-name="timeHHmm"></textinput>
				</div>
				<div style="width:50%; padding-left: 5px;float:left">
					<textinput info="'Окончание работы'" data="formData.timeEnd" mask="'99:99'"
						   regex-name="timeHHmm"></textinput>
				</div>
			</div>
			<div style="width: 200px; float: left; margin-left: 10px; margin-top: 25px;">
 <input id="generalWork" type="checkbox" ng-change="checkGeneralWorks()"   ng-model="formData.GeneralWorks">Общехозяйственные работы
			</div>
			
        </div>
        <div class="second_row_driver_way_bill">
            <div class="traktor_driver_way_bill" style="float: left; width: 450px;">
                <dropdownsearchtf info="'Техника'" infotf="'Гос. №'" drop="infoData.TraktorsList" data="formData.TraktorId" class="disabledbutton"></dropdownsearchtf>
            </div>
			<div style="width:150px; float:left; margin-left: 10px; width: 380px;" class="row-margin-top">
                <dropdownsearch id="agr" class="row-margin-top ng-isolate-scope disabledbutton" info="'Оборудование'" drop="infoData.Agr" data="formData.Agr"></dropdownsearch>
            </div>
        </div>
    </div>
	
	<div style="height: 40px;">
        <div class="bloks-header" style="width: 650px;float: left;float:left;clear:both;">Учет затрат на зарплату:</div>
        <div class="" style="">
            <button type="button" class="logus-btn btn ng-click-active" style="width: 99px; margin-right: 10px;margin-left: 10px; float:left;margin-top: 22px;" ng-click="createAct2()">Добавить</button>
            <button type="button" class="logus-btn btn" style="width: 99px; float:left;margin-top: 22px;" ng-click="removeTask2()">Удалить</button>
			<button type="button" class="logus-btn btn" style="width: 99px; float:left;margin-top: 22px;margin-left: 10px;" ng-click="printTask()">Печать</button>
        </div>
    </div>
    <div class="grid_driver_way_bill" ng-grid="gridOptions2"></div>
	
	
    <div class="float-right" style=" padding-bottom: 70px; margin-top: 40px;">
        <button type="submit" style="width: 99px; margin-left: 10px" class="logus-btn btn"> {{ acceptButton }} </button>
        <button type="button"  class="logus-btn btn" style="width: 99px; margin-left: 10px"
                ng-click="cancelClick()">Отмена
        </button>
    </div>
</form>