<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
	  <div class="logus-headers" style="padding-top: 15px">ЕЖЕДНЕВНЫЕ НАРЯДЫ
        <div class="float-right" style="float: right; margin-left: 15px;">
			 <button type="button" class="logus-btn btn float-right" style="margin-right: 310px;"
                        ng-click="closeBtnClick()">Закрыть
              </button>
				 <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="printBtnClick()">Печать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="deleteAct()">Удалить
                </button>
                <button id="edit"  type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="editBtnClick()">Редактировать
                </button>
                <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;"
                        ng-click="createIncomingAct()">Coздать
                </button>
            </div>
        </div>
       <div style="height: 60px;margin-top:20px;">
			<doubledatepick id="datepick" style="width: 265px;float: left;margin-right: 0px;" infofirst="'С'"
                                    infosecond="'По'"
                                    datafirst="formData.dailyStartDate"
                                    datasecond="formData.dailyEndDate" start-Date-change="dateChangeSpareParts(formData.dailyStartDate)" 
									End-Date-change="dateChangeSpareParts(formData.dailyEndDate)"></doubledatepick>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 25%;margin-right: -5px;">					
			<div class="logus-text ng-binding">Гос.№/TC/Оборудование</div>
			<input ng-model="filterText" placeholder="" style="width: 240px;margin-right: 6px;" class="logus-input" ng-change="search()"/>
			</div>
			<div id="drop" align="left" class="oneLiner" style="float:left; width: 10%;margin-right: 10px;">
			<div class="logus-text ng-binding">№ ЕН</div>
			<input ng-model="filterText2" placeholder="" style="width: 105px;margin-right: 6px;" class="logus-input" ng-change="search2()"/>
			</div>
			 <div id="message" class="logus-text" style="float: left; margin-top: 27px;">Редактирование ЕН запрещено до</div> 
		  <datepick id="datepick2" class="logus-headers" style="margin-left: 10px;margin-top: 21px; float: left;" data="ban_date" mask="'99.99.9999'"
                      regex-name="'date'" date-change="banEditDaily()"></datepick>
		
		 </div>
    <div class="tc-block">
        <div style="width: 100%; height: 550px" ng-grid="gridOptions" ng-keydown="keyDownGrid($event)" ng-keyup="keyUpGrid($event)"></div>
    </div>
</form>
