<form id="way_bill_form" name="billForm" style="padding-top: 20px;" class="logus-form">
    <div>
        <div style="display: block;height: 96px;">
		  <div class="logus-headers" style="padding-top: 13px;float: left;">Перемещение ТМЦ</div>
            <div class="logus-headers" style="padding-top: 13px;float: left;"></div>
            <div style="margin-top:10px;width: 100%;margin-top: 20px;float: left;">
			    <button type="button" class="logus-btn btn float-right" style="margin-right: 10px;" ng-click="saveAct1()">Сохранить</button>
				<button type="button" class="logus-btn btn float-right" style="margin-right: 10px;" ng-click="createAct1()">Coздать</button>
                <button type="button" class="logus-btn btn btn-border" style="width: 100px;float: left" ng-click="openBalanceMaterial()">Баланс</button>
				  <dropdownsearch   class="ng-isolate-scope" info="'Тип'" drop="materialsData.TypeMaterials"
               data="materialsData.MatId" style="margin-left: 10px; margin-top: -19px; width: 175px; float: left;" field-change="refreshTable('type')"></dropdownsearch>
			   <dropdownsearch  class="ng-isolate-scope" info="'Отделение'" drop="OrganizationsList"
                                    data="OrgId" style="float:left;width: 200px; margin-top:-19px;margin-left: 2px;"
                                    field-change="changeOrg()"></dropdownsearch>
				<div  ng-show="tporgid == 1" style="float: left;margin-left: 10px;margin-top: 5px;">
				<input type="checkbox" ng-change="checkRes()" ng-model="AllResource">Все ресурсы</div>					
            </div>
            </div>
        </div>
        <div class="lists-grid-style" ng-grid="gridOptions"  style="margin-top: 20px;width:100"></div>
        
    </div>
</form>
		