<h1><code ng:non-bindable="">CostCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Monitor</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-monitor-costctrl-page"><h3 id="description_costctrl">CostCtrl</h3>
<p>Это контроллер, определеяющий поведение формы с графиками План-факторного анализа по годам</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_loadplanfact">loadPlanFact</h3>
<div class="loadplanfact"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>запрос на данные план-факторного анализа</p>
</div></div>
</li>
<li><h3 id="properties_showplanfact">showPlanFact</h3>
<div class="showplanfact"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>отображение графиков результатов план-факторного анализа</p>
</div></div>
</li>
<li><h3 id="properties_loadreport">loadReport</h3>
<div class="loadreport"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>запрос на данные по производству за год</p>
</div></div>
</li>
<li><h3 id="properties_refreshcharts">refreshCharts</h3>
<div class="refreshcharts"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>отображение графиков результатов по производству за год</p>
</div></div>
</li>
<li><h3 id="properties_initmainpie">initMainPie</h3>
<div class="initmainpie"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>инициализация круговой диаграммы структуры затрат</p>
</div></div>
</li>
<li><h3 id="properties_setmainpiedata">setMainPieData</h3>
<div class="setmainpiedata"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>отображение отображение данных на круговой диаграмме</p>
</div></div>
</li>
<li><h3 id="properties_screport">sc.report</h3>
<div class="screport"><div class="app-controller-page app-controller-monitor-costctrl-page"><p>выгрузка отчета</p>
</div></div>
</li>
</ul>
</div>
</div>
