<h1><code ng:non-bindable="">CloseWayBillCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:WayList</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><h3 id="description_closewaybillctrl">CloseWayBillCtrl</h3>
<p>Это контроллер, определеяющий поведение формы закрытия путевого листа с отобряжением списка задач</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>информация о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_formdata">formData:</h3>
<div class="formdata"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>информация о задании</p>
</div></div>
</li>
<li><h3 id="properties_refuilingsdata">refuilingsData:</h3>
<div class="refuilingsdata"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>данные о заправках</p>
</div></div>
</li>
<li><h3 id="properties_refuilingsformdata">refuilingsFormData:</h3>
<div class="refuilingsformdata"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>отображаемые данные о дозаправках</p>
</div></div>
</li>
<li><h3 id="properties_scselectedrow">sc.selectedRow:</h3>
<div class="scselectedrow"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>выбранная строка</p>
</div></div>
</li>
<li><h3 id="properties_scuigridoptions">sc.uigridOptions:</h3>
<div class="scuigridoptions"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>настройки таблицы Задач потевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scaddtask">sc.addTask:</h3>
<div class="scaddtask"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>добавление новой задачи</p>
</div></div>
</li>
<li><h3 id="properties_scclonetask">sc.cloneTask:</h3>
<div class="scclonetask"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>копирование задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_scedittask">sc.editTask:</h3>
<div class="scedittask"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>редактирование задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_scremovetask">sc.removeTask:</h3>
<div class="scremovetask"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>удаление задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_needselection">needSelection:</h3>
<div class="needselection"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>открывает модальное окно с требованием выбрать задачу для редактирование, удаление или копирования</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>выход с сохранением</p>
</div></div>
</li>
<li><h3 id="properties_scclosewaylist">sc.closeWayList:</h3>
<div class="scclosewaylist"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>закрыть путевой лист</p>
</div></div>
</li>
<li><h3 id="properties_sccancelclick">sc.cancelClick:</h3>
<div class="sccancelclick"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>отменить изменения</p>
</div></div>
</li>
<li><h3 id="properties_screfuelingclick">sc.refuelingClick:</h3>
<div class="screfuelingclick"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>открыть модальное окно с дозаправками</p>
</div></div>
</li>
<li><h3 id="properties_setrefuilingsdatabyordernum">setRefuilingsDataByOrderNum</h3>
<div class="setrefuilingsdatabyordernum"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>undefined</p>
</div></div>
</li>
<li><h3 id="properties_sccloserefuelingmodal">sc.closeRefuelingModal</h3>
<div class="sccloserefuelingmodal"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>закрытие модального окна дозаправок</p>
</div></div>
</li>
<li><h3 id="properties_sccancelrefuelingmodal">sc.cancelRefuelingModal</h3>
<div class="sccancelrefuelingmodal"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>не сохранять изменения о дозаправках</p>
</div></div>
</li>
<li><h3 id="properties_scclearclick">sc.clearClick</h3>
<div class="scclearclick"><div class="app-controller-page app-controller-waylist-closewaybillctrl-page"><p>очистить информацию о дозаправках</p>
</div></div>
</li>
</ul>
</div>
</div>
