<h1><code ng:non-bindable="">DocumentsListCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Documents</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><h3 id="description_documentslistctrl">DocumentsListCtrl</h3>
<p>Это контроллер, определеяющий поведение формы списка ДОКУМЕНТОВ по зарплате</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>данные о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_sctabledata">sc.tableData:</h3>
<div class="sctabledata"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>данные таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scmyselections">sc.mySelections:</h3>
<div class="scmyselections"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>выбранные строки таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scgridoptions">sc.gridOptions:</h3>
<div class="scgridoptions"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>настройки таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scpagingoptions">sc.pagingOptions:</h3>
<div class="scpagingoptions"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>пейджинг таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scsortoptions">sc.sortOptions:</h3>
<div class="scsortoptions"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>сортировка таблицы</p>
</div></div>
</li>
<li><h3 id="properties_sctotalserveritems">sc.totalServerItems:</h3>
<div class="sctotalserveritems"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>общее количество строк в таблицы</p>
</div></div>
</li>
<li><h3 id="properties_pagingoptions">pagingOptions:</h3>
<div class="pagingoptions"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>смотрим за изменениям в пейджинге</p>
</div></div>
</li>
<li><h3 id="properties_nggrideventsorted">ngGridEventSorted:</h3>
<div class="nggrideventsorted"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>событие на сортировку по столбцу</p>
</div></div>
</li>
<li><h3 id="properties_scdatechangedatedocuments">sc.dateChangeDateDocuments:</h3>
<div class="scdatechangedatedocuments"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>изменение даты просмотра списка документов</p>
</div></div>
</li>
<li><h3 id="properties_scgridevdatalistener">sc.gridEvDataListener:</h3>
<div class="scgridevdatalistener"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>листнер на событие изменение data в таблице</p>
</div></div>
</li>
<li><h3 id="properties_getdocuments">getDocuments:</h3>
<div class="getdocuments"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>получение списка документов</p>
</div></div>
</li>
<li><h3 id="properties_needselection">needSelection:</h3>
<div class="needselection"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>модальное окно с требованием выделить строку</p>
</div></div>
</li>
<li><h3 id="properties_sccreatebtnclick">sc.createBtnClick:</h3>
<div class="sccreatebtnclick"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>создание документа</p>
</div></div>
</li>
<li><h3 id="properties_sceditbtnclick">sc.editBtnClick:</h3>
<div class="sceditbtnclick"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>редактирование документа</p>
</div></div>
</li>
<li><h3 id="properties_scdeletebtnclick">sc.deleteBtnClick:</h3>
<div class="scdeletebtnclick"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>удаление документа</p>
</div></div>
</li>
<li><h3 id="properties_sccopybtnclick">sc.copyBtnClick:</h3>
<div class="sccopybtnclick"><div class="app-controller-page app-controller-documents-documentslistctrl-page"><p>копирование документа</p>
</div></div>
</li>
</ul>
</div>
</div>
