<h1><code ng:non-bindable="">CultureCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Monitor</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-monitor-culturectrl-page"><h3 id="description_culturectrl">CultureCtrl</h3>
<p>Это контроллер, определеяющий поведение формы с графиками План-факторного анализа по годам</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_loadcosts">loadCosts</h3>
<div class="loadcosts"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>запрос на план-факторный анализ и затраты по культуре</p>
</div></div>
</li>
<li><h3 id="properties_settabledata">setTableData</h3>
<div class="settabledata"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>отображение сводной таблице по культуре</p>
</div></div>
</li>
<li><h3 id="properties_recounttable">recountTable</h3>
<div class="recounttable"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>запрос на данные по производству за год</p>
</div></div>
</li>
<li><h3 id="properties_showplanfact">showPlanFact</h3>
<div class="showplanfact"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>отображение графиков план-факторного анализа</p>
</div></div>
</li>
<li><h3 id="properties_calcinvest">calcInvest</h3>
<div class="calcinvest"><div class="app-controller-page app-controller-monitor-culturectrl-page"><p>НЕ ИСПОЛЬЗУЕТСЯ. расчет инвестиционнного алгоритма</p>
</div></div>
</li>
</ul>
</div>
</div>
