<h1><code ng:non-bindable="">DriverWayBillItem</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:DriverWayBill</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><h3 id="description_driverwaybillitem">DriverWayBillItem</h3>
<p>Это контроллер, определеяющий поведение формы создания/редактирования путевого листа водителя</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/rootScope">rootScope</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>данные о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_itemid">itemId:</h3>
<div class="itemid"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>id редактируемого путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_shifttaskid">shiftTaskId:</h3>
<div class="shifttaskid"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>id сменного задания, из которого был создан путевой лист</p>
</div></div>
</li>
<li><h3 id="properties_scformdata">sc.formData:</h3>
<div class="scformdata"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>данные путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_cookiedate">cookieDate:</h3>
<div class="cookiedate"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>выбранная дата. Устанавливается как дата начала путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scinfodata">sc.infoData</h3>
<div class="scinfodata"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>справочники</p>
</div></div>
</li>
<li><h3 id="properties_scselectedrow">sc.selectedRow</h3>
<div class="scselectedrow"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>выбранная задача</p>
</div></div>
</li>
<li><h3 id="properties_taskscolumndefinitions">tasksColumnDefinitions</h3>
<div class="taskscolumndefinitions"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>столбцы таблицы задач</p>
</div></div>
</li>
<li><h3 id="properties_scgridoptions">sc.gridOptions</h3>
<div class="scgridoptions"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>настройки таблицы задач</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>сохранить Путевой лист</p>
</div></div>
</li>
<li><h3 id="properties_sccancelwaybillclick">sc.cancelWayBillClick:</h3>
<div class="sccancelwaybillclick"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>выход без сохранения изменения в общей информации путевых листов</p>
</div></div>
</li>
<li><h3 id="properties_scaddtask">sc.addTask:</h3>
<div class="scaddtask"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>кнопка Добавить - новая задача в текущий путевой лист</p>
</div></div>
</li>
<li><h3 id="properties_scremovetask">sc.removeTask:</h3>
<div class="scremovetask"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>кнопка Удалить - удаление выбранной задачи</p>
</div></div>
</li>
<li><h3 id="properties_sceditcell">sc.editCell:</h3>
<div class="sceditcell"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>кнопка Редактировать - изменение информации в выбранной задачи</p>
</div></div>
</li>
<li><h3 id="properties_scupdateselectedcell">sc.updateSelectedCell:</h3>
<div class="scupdateselectedcell"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>редактирование свойсвт задачи - открытие справочных списков</p>
</div></div>
</li>
<li><h3 id="properties_sctraktorchange">sc.traktorChange:</h3>
<div class="sctraktorchange"><div class="app-controller-page app-controller-driverwaybill-driverwaybillitem-page"><p>событие изменения Техники - автоматический выбор типа топлива</p>
</div></div>
</li>
</ul>
</div>
</div>
