<h1><code ng:non-bindable="">DocumentsItemCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Documents</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><h3 id="description_documentsitemctrl">DocumentsItemCtrl</h3>
<p>Это контроллер, определеяющий поведение формы НАЧИСЛЕНИЯ ЗП</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_myselections">mySelections:</h3>
<div class="myselections"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>выбранные строки таблицы</p>
</div></div>
</li>
<li><h3 id="properties_sctabledata">sc.tableData:</h3>
<div class="sctabledata"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>данные таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scgridoptions">sc.gridOptions:</h3>
<div class="scgridoptions"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>настройки таблицы</p>
</div></div>
</li>
<li><h3 id="properties_formdata">formData:</h3>
<div class="formdata"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>данные формы</p>
</div></div>
</li>
<li><h3 id="properties_typeoperation">typeOperation:</h3>
<div class="typeoperation"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>тип операции с item</p>
</div></div>
</li>
<li><h3 id="properties_selectrowbyfield">selectRowByField:</h3>
<div class="selectrowbyfield"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>выделение строчки по определенному столбцу</p>
</div></div>
</li>
<li><h3 id="properties_gridevdatalistener">gridEvDataListener:</h3>
<div class="gridevdatalistener"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>листнер на событие изменение data в таблице</p>
</div></div>
</li>
<li><h3 id="properties_scdatechange">sc.dateChange:</h3>
<div class="scdatechange"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>после изменения даты запросить данные с сервера</p>
</div></div>
</li>
<li><h3 id="properties_sceditdropcell">sc.editDropCell:</h3>
<div class="sceditdropcell"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>при редатировании ячейки с выпадающим списком</p>
</div></div>
</li>
<li><h3 id="properties_sceditcell">sc.editCell:</h3>
<div class="sceditcell"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>вызывается при редактировании ячейки с комментарием</p>
</div></div>
</li>
<li><h3 id="properties_scupdateselectedcell">sc.updateSelectedCell:</h3>
<div class="scupdateselectedcell"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>кнопка &quot;Сохранить&quot; - сохраняем таблицу</p>
</div></div>
</li>
<li><h3 id="properties_sccreatework">sc.createWork:</h3>
<div class="sccreatework"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>инициализация функционала карты</p>
</div></div>
</li>
<li><h3 id="properties_scsavework">sc.saveWork</h3>
<div class="scsavework"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>: если устанавливают флаг Ремонтный путевой лист - подставляем маску для номера и значения по уолчанию</p>
</div></div>
</li>
<li><h3 id="properties_scdeletework">sc.deleteWork:</h3>
<div class="scdeletework"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>кнопка &quot;Удалить&quot; - удаляем строчку в таблице</p>
</div></div>
</li>
<li><h3 id="properties_scprintbtn">sc.printBtn:</h3>
<div class="scprintbtn"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>кнопка &quot;Печать&quot;</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>кнопка &quot;ОК&quot; - сохранение формы</p>
</div></div>
</li>
<li><h3 id="properties_sccancelclick">sc.cancelClick:</h3>
<div class="sccancelclick"><div class="app-controller-page app-controller-documents-documentsitemctrl-page"><p>кнопка &quot;Отмена&quot; - выход без сохранения</p>
</div></div>
</li>
</ul>
</div>
</div>
