<h1><code ng:non-bindable="">SchemeCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Monitor</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-monitor-schemectrl-page"><h3 id="description_schemectrl">SchemeCtrl</h3>
<p>Это контроллер, определеяющий поведение формы схемы. Только отображает картинку. Не делает ничего</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-schemectrl-page"><p>scope</p>
</div></div>
</li>
</ul>
</div>
</div>
