<h1><code ng:non-bindable="">DoubleListCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-doublelistctrl-page"><h3 id="description_doublelistctrl">DoubleListCtrl</h3>
<p>Контроллер директивы doublelist. Выбор показателей из списка и оценка их.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-doublelistctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_scgridoptions">sc.gridOptions:</h3>
<div class="scgridoptions"><div class="app-controller-page app-controller-doublelistctrl-page"><p>настройки таблицы</p>
</div></div>
</li>
<li><h3 id="properties_scselectkpi">sc.selectKPI:</h3>
<div class="scselectkpi"><div class="app-controller-page app-controller-doublelistctrl-page"><p>выбрать показатель из списка</p>
</div></div>
</li>
<li><h3 id="properties_scdeletekpi">sc.deleteKPI:</h3>
<div class="scdeletekpi"><div class="app-controller-page app-controller-doublelistctrl-page"><p>удалить выбранный показатель</p>
</div></div>
</li>
<li><h3 id="properties_scevaluate">sc.evaluate:</h3>
<div class="scevaluate"><div class="app-controller-page app-controller-doublelistctrl-page"><p>при изменении значения - оценка показателя и выбор стиля</p>
</div></div>
</li>
<li><h3 id="properties_recounttotal">recountTotal:</h3>
<div class="recounttotal"><div class="app-controller-page app-controller-doublelistctrl-page"><p>пересчет агрегированного значения</p>
</div></div>
</li>
<li><h3 id="properties_delkpifromlist">delKpiFromList:</h3>
<div class="delkpifromlist"><div class="app-controller-page app-controller-doublelistctrl-page"><p>удаление показателя из левого или правого списка</p>
</div></div>
</li>
<li><h3 id="properties_init">init:</h3>
<div class="init"><div class="app-controller-page app-controller-doublelistctrl-page"><p>инициализация списков</p>
</div></div>
</li>
</ul>
</div>
</div>
