<h1><code ng:non-bindable="">CatalogController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-catalogcontroller-page"><p>Справочник культур. Не используется</p>
</div></div>
</div>
