<h1><code ng:non-bindable="">WayBillEditCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-waybilleditctrl-page"><h3 id="description_waybilleditctrl">WayBillEditCtrl</h3>
<p>Это контроллер, определеяющий поведение формы создания и редактирования путевого листа</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>информация о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_formdata">formData:</h3>
<div class="formdata"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>информация о путевом листе</p>
</div></div>
</li>
<li><h3 id="properties_submitpath">submitPath:</h3>
<div class="submitpath"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>путь запроса на сохрениние или обновление информации</p>
</div></div>
</li>
<li><h3 id="properties_checkuserrole">checkUserRole:</h3>
<div class="checkuserrole"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>разрешить или запретить добавление нового выделенного поля с карты</p>
</div></div>
</li>
<li><h3 id="properties_loadinfo">loadInfo:</h3>
<div class="loadinfo"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>начальная загрузка информации формы. Для создания - только выпадающие списки. Для редактирования списки и информация по путевому листу.</p>
</div></div>
</li>
<li><h3 id="properties_submitcallback">submitCallback:</h3>
<div class="submitcallback"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>функция возврата после сохранения информации. При создании - запомнить id листа, чтобы выбрать его в списке. При редактировании - просто переход назад. Из сменного задания - переход на форму сменного задания.</p>
</div></div>
</li>
<li><h3 id="properties_sccancelwaybillclick">sc.cancelWayBillClick:</h3>
<div class="sccancelwaybillclick"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>отмена изменений и обратный переход</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>сохранение изменеий и обратный переход</p>
</div></div>
</li>
<li><h3 id="properties_initmap">initMap:</h3>
<div class="initmap"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>инициализация функционала карты</p>
</div></div>
</li>
<li><h3 id="properties_scsetrepair">sc.setRepair</h3>
<div class="scsetrepair"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>: если устанавливают флаг Ремонтный путевой лист - подставляем маску для номера и значения по уолчанию</p>
</div></div>
</li>
<li><h3 id="properties_sctraktorchange">sc.traktorChange:</h3>
<div class="sctraktorchange"><div class="app-controller-page app-controller-waybilleditctrl-page"><p>при выборе техники подсталять автоматически тип топлива для данной единицы.</p>
</div></div>
</li>
</ul>
</div>
</div>
