<h1><code ng:non-bindable="">MapCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Monitor</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-monitor-mapctrl-page"><h3 id="description_mapctrl">MapCtrl</h3>
<p>Это контроллер, определеяющий поведение карты</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_scinfodata">sc.infoData</h3>
<div class="scinfodata"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>справочники формы</p>
</div></div>
</li>
<li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_openinfo">openInfo</h3>
<div class="openinfo"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>отображение информации в правой панели после клика на Feature на карте</p>
</div></div>
</li>
<li><h3 id="properties_layersclick">layersclick</h3>
<div class="layersclick"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>отобразить/скрыть слой</p>
</div></div>
</li>
<li><h3 id="properties_searchclick">searchclick</h3>
<div class="searchclick"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>поиск Feature на карте. Вызывается из правой панели</p>
</div></div>
</li>
<li><h3 id="properties_listfilter">listFilter</h3>
<div class="listfilter"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>фильтр списка поиска</p>
</div></div>
</li>
<li><h3 id="properties_createworks">createWorks</h3>
<div class="createworks"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>загрузка работ по полю для правой панели</p>
</div></div>
</li>
<li><h3 id="properties_createtech">createTech</h3>
<div class="createtech"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>загрузка работ по техинке для правой панели</p>
</div></div>
</li>
<li><h3 id="properties_scstatustranslate">sc.statusTranslate</h3>
<div class="scstatustranslate"><div class="app-controller-page app-controller-monitor-mapctrl-page"><p>переводим тип статуса в слова</p>
</div></div>
</li>
</ul>
</div>
</div>
