<h1><code ng:non-bindable="">DictionaryCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-dictionaryctrl-page"><h3 id="description_dictionaryctrl">DictionaryCtrl</h3>
<p>Это контроллер позволяющий пользователю работать со списком &quot;Dictionary&quot;</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/preloader">preloader</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/map">map</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_selectdictionaryфункция">selectDictionary:функция</h3>
<div class="selectdictionaryфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая позволяет выбрать справочник</p>
</div></div>
</li>
<li><h3 id="properties_loadnewdicфункция">loadNewDic:функция</h3>
<div class="loadnewdicфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая загружыет выбранный справочник в таблицу</p>
</div></div>
</li>
<li><h3 id="properties_delrow">delRow</h3>
<div class="delrow"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>= function(row):функция Которая удаляет строку из таблицы</p>
</div></div>
</li>
<li><h3 id="properties_updateфункция">update:функция</h3>
<div class="updateфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая позволяет изменять данные в таблице</p>
</div></div>
</li>
<li><h3 id="properties_addrowforupdateфункция">addRowForUpdate:функция</h3>
<div class="addrowforupdateфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая добавляет измененную строку в базу</p>
</div></div>
</li>
<li><h3 id="properties_createфункция">create:функция</h3>
<div class="createфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая создаёт строку в таблице</p>
</div></div>
</li>
<li><h3 id="properties_cancelфункция">cancel:функция</h3>
<div class="cancelфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая отменяет изминения внесенные в таблицу</p>
</div></div>
</li>
<li><h3 id="properties_submitformфункция">submitForm:функция</h3>
<div class="submitformфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая вызывается по нажатию на кнопку сохранить</p>
</div></div>
</li>
<li><h3 id="properties_savedicchangesфункция">saveDicChanges:функция</h3>
<div class="savedicchangesфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая сохраняет изминения внесенные в таблицу и отправляет их в базу</p>
</div></div>
</li>
<li><h3 id="properties_updateselectedcellфункция">updateSelectedCell:функция</h3>
<div class="updateselectedcellфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая вызывает модальное окно выбора</p>
</div></div>
</li>
<li><h3 id="properties_editcoordфункция">editCoord:функция</h3>
<div class="editcoordфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая вызывается для редактирования полей карты</p>
</div></div>
</li>
<li><h3 id="properties_searchфункция">search:функция</h3>
<div class="searchфункция"><div class="app-controller-page app-controller-dictionaryctrl-page"><p>Которая выполняет поиск по данным  в таблицах</p>
</div></div>
</li>
</ul>
</div>
</div>
