<h1><code ng:non-bindable="">CloseDriverWayBillTaskCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:DriverWayBill</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><h3 id="description_closedriverwaybilltaskctrl">CloseDriverWayBillTaskCtrl</h3>
<p>Это контроллер, определеяющий поведение формы создания/редактирования задач при закрытии путевого листа водителя</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/rootScope">rootScope</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>данные о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_way_bill_id">way_bill_id:</h3>
<div class="way_bill_id"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>id редактируемого путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_task_id">task_id:</h3>
<div class="task_id"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>id редактируемой задачи путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scformdata">sc.formData:</h3>
<div class="scformdata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>данные путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_cookiedate">cookieDate:</h3>
<div class="cookiedate"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>выбранная дата. Устанавливается как дата начала путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scinfodata">sc.infoData</h3>
<div class="scinfodata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>справочники</p>
</div></div>
</li>
<li><h3 id="properties_scselectedrow">sc.selectedRow</h3>
<div class="scselectedrow"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>выбранная задача</p>
</div></div>
</li>
<li><h3 id="properties_taskscolumndefinitions">tasksColumnDefinitions</h3>
<div class="taskscolumndefinitions"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>столбцы таблицы задач</p>
</div></div>
</li>
<li><h3 id="properties_scgridoptions">sc.gridOptions</h3>
<div class="scgridoptions"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>настройки таблицы задач</p>
</div></div>
</li>
<li><h3 id="properties_gettaskformdata">getTaskFormData:</h3>
<div class="gettaskformdata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>получить информацию о задании</p>
</div></div>
</li>
<li><h3 id="properties_scaddcomment">sc.addComment:</h3>
<div class="scaddcomment"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>добавить комментарий через модальное окно</p>
</div></div>
</li>
<li><h3 id="properties_screfreshlayer">sc.refreshLayer:</h3>
<div class="screfreshlayer"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>обновление карты</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>выход с сохранением</p>
</div></div>
</li>
<li><h3 id="properties_scchangeconsumptionfact">sc.changeConsumptionFact:</h3>
<div class="scchangeconsumptionfact"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>пересчет стоимости топлива при изменении значения факт. расхода</p>
</div></div>
</li>
<li><h3 id="properties_sccancelclick">sc.cancelClick:</h3>
<div class="sccancelclick"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybilltaskctrl-page"><p>выход без сохранения изменений</p>
</div></div>
</li>
</ul>
</div>
</div>
