<h1><code ng:non-bindable="">LoginController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-logincontroller-page"><h3 id="description_logincontroller">LoginController</h3>
<p>Это контроллер, определеяющий поведение формы авторизации</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/AuthenticationService">AuthenticationService</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_$rootscope">$rootScope:</h3>
<div class="$rootscope"><div class="app-controller-page app-controller-logincontroller-page"><p>глобальная область видимости</p>
</div></div>
</li>
<li><h3 id="properties_$scope">$scope:</h3>
<div class="$scope"><div class="app-controller-page app-controller-logincontroller-page"><p>область видимости формы</p>
</div></div>
</li>
<li><h3 id="properties_$scopelogin">$scope.login:</h3>
<div class="$scopelogin"><div class="app-controller-page app-controller-logincontroller-page"><p>событие нажатия кнопки ВОЙТИ</p>
</div></div>
</li>
</ul>
</div>
</div>
