<h1><code ng:non-bindable="">MainCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-mainctrl-page"><h3 id="description_mainctrl">MainCtrl</h3>
<p>Это контроллер, определеяющий поведение главной формы. Главная форма отображается не во всех ролях</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-mainctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_scusername">sc.userName</h3>
<div class="scusername"><div class="app-controller-page app-controller-mainctrl-page"><p>имя пользователя</p>
</div></div>
</li>
<li><h3 id="properties_scsettingsupload">sc.settingsUpload</h3>
<div class="scsettingsupload"><div class="app-controller-page app-controller-mainctrl-page"><p>параметры отправки файла на сервер</p>
</div></div>
</li>
<li><h3 id="properties_scclickrole">sc.clickRole</h3>
<div class="scclickrole"><div class="app-controller-page app-controller-mainctrl-page"><p>выбор роли</p>
</div></div>
</li>
<li><h3 id="properties_scfileinputchanged">sc.fileInputChanged</h3>
<div class="scfileinputchanged"><div class="app-controller-page app-controller-mainctrl-page"><p>событие выбора файла</p>
</div></div>
</li>
<li><h3 id="properties_preparefile">prepareFile</h3>
<div class="preparefile"><div class="app-controller-page app-controller-mainctrl-page"><p>прикрепление файла</p>
</div></div>
</li>
<li><h3 id="properties_sendtoserver">sendToServer</h3>
<div class="sendtoserver"><div class="app-controller-page app-controller-mainctrl-page"><p>отправка файла</p>
</div></div>
</li>
</ul>
</div>
</div>
