<h1><code ng:non-bindable="">KPICtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">app</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-kpictrl-page"><h3 id="description_incominglistctrl">IncomingListCtrl</h3>
<p>Это контроллер позволяющий пользователю работать со списком прихода топлива &quot;IncomingFuelList&quot;</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_datechangeфункция">dateChange:функция</h3>
<div class="datechangeфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая позволяет пользователю изменить дату
<pre class="prettyprint linenums"> 
         sc.dateChange = function ()
</pre>
</div></div>
</li>
<li><h3 id="properties_getdayincomingфункция">getDayIncoming:функция</h3>
<div class="getdayincomingфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая позволяет ползователю изменить информацию о приходе топлива (data, status, headers, config)
<pre class="prettyprint linenums"> 
         var getDayIncoming = function () 
</pre>
</div></div>
</li>
<li><h3 id="properties_afterselectionchange,beforeselectionchangeфункции">afterSelectionChange,beforeSelectionChange:функции</h3>
<div class="afterselectionchange,beforeselectionchangeфункции"><div class="app-controller-page app-controller-kpictrl-page"><p>Которые изменяют таблицу после её редоктирования пользователем до и после
<pre class="prettyprint linenums"> 
         afterSelectionChange: function (row) { 
         { ...
           ...
           ...};
         beforeSelectionChange: function (row, event)
         { ...
           ...
           ...};
</pre>
</div></div>
</li>
<li><h3 id="properties_createtaskфункция">createTask:функция</h3>
<div class="createtaskфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая создаёт новую строку для дальнейших её изменениях
<pre class="prettyprint linenums"> 
         sc.createTask = function () {
            console.info(sc.dateIncoming);
            var newIncome = {
                Fuel: null,
                Count: 0,
                Price: 0,
                Cost: 0,
                Date: sc.dateIncoming,
                Contractor: null,
                VAT: null,
                Type_salary_doc: null,
                Comment: ''
            }}; 
</pre>
</div></div>
</li>
<li><h3 id="properties_changecountpriceфункция">changeCountPrice:функция</h3>
<div class="changecountpriceфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая позволяет изменить поля (price, count)
<pre class="prettyprint linenums"> 
         sc.changeCountPrice = function(row) 
</pre>
</div></div>
</li>
<li><h3 id="properties_editcellфункция">editCell:функция</h3>
<div class="editcellфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая вы
<pre class="prettyprint linenums"> 
         sc.editCell = function (row, cell, column) 
</pre>
</div></div>
</li>
<li><h3 id="properties_commentclickфункция">commentClick:функция</h3>
<div class="commentclickфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая
<pre class="prettyprint linenums"> 
         function commentClick(comment) 
</pre>
</div></div>
</li>
<li><h3 id="properties_updateselectedcellфункция">updateSelectedCell:функция</h3>
<div class="updateselectedcellфункция"><div class="app-controller-page app-controller-kpictrl-page"><pre class="prettyprint linenums"> 
sc.updateSelectedCell = function (colField, selectedVal, displayName, row) 
</pre>
</div></div>
</li>
<li><h3 id="properties_delrowфункция">delRow:функция</h3>
<div class="delrowфункция"><div class="app-controller-page app-controller-kpictrl-page"><pre class="prettyprint linenums"> 
sc.delRow = function(row) 
</pre>
</div></div>
</li>
<li><h3 id="properties_postincomeфункция">postIncome:функция</h3>
<div class="postincomeфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>Которая проверяет всё ли заполнено, и выдаёт ошибку если что то не так
<pre class="prettyprint linenums"> 
         sc.postIncome = function() 
</pre>
</div></div>
</li>
<li><h3 id="properties_callbackфункция">callback:функция</h3>
<div class="callbackфункция"><div class="app-controller-page app-controller-kpictrl-page"><p>которая позволяет пользователю вернуться
<pre class="prettyprint linenums"> 
         callback: function () 
</pre>
</div></div>
</li>
</ul>
</div>
</div>
