<h1><code ng:non-bindable="">CloseDriverWayBill</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:DriverWayBill</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><h3 id="description_driverwaybillitem">DriverWayBillItem</h3>
<p>Это контроллер, определеяющий поведение формы закрытия путевого листа водителя</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>данные о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_way_bill_id">way_bill_id:</h3>
<div class="way_bill_id"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>id путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scformdata">sc.formData:</h3>
<div class="scformdata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>данные путевого листа</p>
</div></div>
</li>
<li><h3 id="properties_scinfodata">sc.infoData</h3>
<div class="scinfodata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>справочники</p>
</div></div>
</li>
<li><h3 id="properties_refuilingsdata">refuilingsData</h3>
<div class="refuilingsdata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>данные по топливу</p>
</div></div>
</li>
<li><h3 id="properties_screfuilingsformdata">sc.refuilingsFormData</h3>
<div class="screfuilingsformdata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>отображаемые данные по топливу</p>
</div></div>
</li>
<li><h3 id="properties_scuigridoptions">sc.uigridOptions</h3>
<div class="scuigridoptions"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>настройки таблицы задач</p>
</div></div>
</li>
<li><h3 id="properties_reloadclosedriverwaybilldata">ReloadCloseDriverWayBillData:</h3>
<div class="reloadclosedriverwaybilldata"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>перезагрузить информацию о путевом листе</p>
</div></div>
</li>
<li><h3 id="properties_needselection">needSelection:</h3>
<div class="needselection"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>открыть модальное окно с требованием выделения строки</p>
</div></div>
</li>
<li><h3 id="properties_screfuelingclick">sc.refuelingClick:</h3>
<div class="screfuelingclick"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>открыть окно с дозаправками</p>
</div></div>
</li>
<li><h3 id="properties_setrefuilingsdatabyordernum">setRefuilingsDataByOrderNum</h3>
<div class="setrefuilingsdatabyordernum"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>undefined</p>
</div></div>
</li>
<li><h3 id="properties_sccloserefuelingmodal">sc.closeRefuelingModal</h3>
<div class="sccloserefuelingmodal"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>закрытие модального окна дозаправок</p>
</div></div>
</li>
<li><h3 id="properties_sccancelrefuelingmodal">sc.cancelRefuelingModal</h3>
<div class="sccancelrefuelingmodal"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>не сохранять изменения о дозаправках</p>
</div></div>
</li>
<li><h3 id="properties_scclearclick">sc.clearClick</h3>
<div class="scclearclick"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>очистить информацию о дозаправках</p>
</div></div>
</li>
<li><h3 id="properties_scaddtask">sc.addTask:</h3>
<div class="scaddtask"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>добавление новой задачи</p>
</div></div>
</li>
<li><h3 id="properties_scclonetask">sc.cloneTask:</h3>
<div class="scclonetask"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>копирование задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_scedittask">sc.editTask:</h3>
<div class="scedittask"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>редактирование задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_scremovetask">sc.removeTask:</h3>
<div class="scremovetask"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>удаление задачи (должнра быть выбрана строка в таблице)</p>
</div></div>
</li>
<li><h3 id="properties_scclosewaybill">sc.closeWayBill:</h3>
<div class="scclosewaybill"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>сохранить и закрыть путевой лист</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>закрытие формы с сохранением</p>
</div></div>
</li>
<li><h3 id="properties_sccancelclick">sc.cancelClick:</h3>
<div class="sccancelclick"><div class="app-controller-page app-controller-driverwaybill-closedriverwaybill-page"><p>закрытие формы без сохранения</p>
</div></div>
</li>
</ul>
</div>
</div>
