<h1><code ng:non-bindable="">CloseEditTaskCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:WayList</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><h3 id="description_closeedittaskctrl">CloseEditTaskCtrl</h3>
<p>Это контроллер, определеяющий поведение формы создания и редактирования заданий при закрытии путевого листа</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/map">map</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_typeфункция">type:функция</h3>
<div class="typeфункция"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>Которая позволяет выбрать справочник</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>информация о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_formdata">formData:</h3>
<div class="formdata"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>информация о задании</p>
</div></div>
</li>
<li><h3 id="properties_getinfocallbackфункция">getInfoCallback:функция</h3>
<div class="getinfocallbackфункция"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>callback после получения справочных списков. Имеет два типа: при создании и при редактировании</p>
</div></div>
</li>
<li><h3 id="properties_refreshlayerфункция">refreshLayer:функция</h3>
<div class="refreshlayerфункция"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>обновления слоев карты</p>
</div></div>
</li>
<li><h3 id="properties_initmapedit">initMapEdit:</h3>
<div class="initmapedit"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>инициализация необходимого функционала карты</p>
</div></div>
</li>
<li><h3 id="properties_scchangefield">sc.changeField:</h3>
<div class="scchangefield"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>выбор другого поля, при редактировании</p>
</div></div>
</li>
<li><h3 id="properties_sccountarea">sc.countArea:</h3>
<div class="sccountarea"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>пересчет обработанной площади по координатам</p>
</div></div>
</li>
<li><h3 id="properties_scaddcomment">sc.addComment:</h3>
<div class="scaddcomment"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>открытие окна ввода комментария</p>
</div></div>
</li>
<li><h3 id="properties_scchangeconsumptionfact">sc.changeConsumptionFact:</h3>
<div class="scchangeconsumptionfact"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>пересчет стоимости топлива при изменении значения Фактический расход</p>
</div></div>
</li>
<li><h3 id="properties_screfreshrate">sc.refreshRate:</h3>
<div class="screfreshrate"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>запрос на новую расценку при изменеии значений: Оборудование, Задание или Агротех. требования</p>
</div></div>
</li>
<li><h3 id="properties_scsubmitform">sc.submitForm:</h3>
<div class="scsubmitform"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>выход с сохранением</p>
</div></div>
</li>
<li><h3 id="properties_sccancelclick">sc.cancelClick:</h3>
<div class="sccancelclick"><div class="app-controller-page app-controller-waylist-closeedittaskctrl-page"><p>высход без сохранения</p>
</div></div>
</li>
</ul>
</div>
</div>
