<h1><code ng:non-bindable="">ServiceCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:Monitor</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-monitor-servicectrl-page"><h3 id="description_servicectrl">ServiceCtrl</h3>
<p>Это контроллер, определеяющий поведение формы с графиками План-факторного анализа по годам</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/LogusConfig">LogusConfig</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc</h3>
<div class="sc"><div class="app-controller-page app-controller-monitor-servicectrl-page"><p>scope</p>
</div></div>
</li>
</ul>
</div>
</div>
