<h1><code ng:non-bindable="">WayBillsIssuanceCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">app.controller:WayList</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><h3 id="description_waybillsissuancectrl">WayBillsIssuanceCtrl</h3>
<p>Это контроллер, определеяющий поведение формы создания и редактирования путевого листа</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$stateParams">$stateParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modals">modals</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/modalType">modalType</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sc">sc:</h3>
<div class="sc"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>scope</p>
</div></div>
</li>
<li><h3 id="properties_curuser">curUser:</h3>
<div class="curuser"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>информация о пользователе</p>
</div></div>
</li>
<li><h3 id="properties_tabledata">tableData:</h3>
<div class="tabledata"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>список путевых листов</p>
</div></div>
</li>
<li><h3 id="properties_myselections">mySelections:</h3>
<div class="myselections"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>выбранные путевые листы</p>
</div></div>
</li>
<li><h3 id="properties_gridoptions">gridOptions:</h3>
<div class="gridoptions"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>настройки таблицы путевых листов</p>
</div></div>
</li>
<li><h3 id="properties_scdatechangewaybills">sc.dateChangeWayBills:</h3>
<div class="scdatechangewaybills"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>событие изменение даты - загрузка списка путевых листов на выбранную дату</p>
</div></div>
</li>
<li><h3 id="properties_sccreatebtnclick">sc.createBtnClick:</h3>
<div class="sccreatebtnclick"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>создать новый путевой лист - открытие формы создания</p>
</div></div>
</li>
<li><h3 id="properties_sceditbtnclick">sc.editBtnClick:</h3>
<div class="sceditbtnclick"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>редактирование путевого листа - необходимо выделить путевой лист в таблице</p>
</div></div>
</li>
<li><h3 id="properties_scdeletebtnclick">sc.deleteBtnClick:</h3>
<div class="scdeletebtnclick"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>удаление путевого листа - необходимо выделить путевой лист в таблице</p>
</div></div>
</li>
<li><h3 id="properties_getwaybills">getWayBills:</h3>
<div class="getwaybills"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>запрос путевых листов по текущей дате</p>
</div></div>
</li>
<li><h3 id="properties_selectrowbyfield">selectRowByField:</h3>
<div class="selectrowbyfield"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>выделить строки</p>
</div></div>
</li>
<li><h3 id="properties_scissuebtnclick">sc.issueBtnClick</h3>
<div class="scissuebtnclick"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>: печать путевого листа - необходимо выделить путевой лист в таблице</p>
</div></div>
</li>
<li><h3 id="properties_scclosebtnclick">sc.closeBtnClick:</h3>
<div class="scclosebtnclick"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>закрытие путевого листа - необходимо выделить путевой лист в таблице</p>
</div></div>
</li>
<li><h3 id="properties_needselection">needSelection:</h3>
<div class="needselection"><div class="app-controller-page app-controller-waylist-waybillsissuancectrl-page"><p>проверка выделен ли путевой лист</p>
</div></div>
</li>
</ul>
</div>
</div>
