<h1><code ng:non-bindable="">Base64</code>
<div><span class="hint">service in module <code ng:non-bindable="">Authentication</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="authentication-base64-page"><p>Кодировани и декодирование Base64для пароля</p>
</div></div>
</div>
