<h1><code ng:non-bindable="">AuthenticationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">Authentication</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="authentication-authenticationservice-page"><p>Сервис авторизации</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/Base64">Base64</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$cookieStore">$cookieStore</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/requests">requests</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$timeout">$timeout</a></code>
</li>
</ul>
</div>
