.accordeonMagazine {
    background: #1d4f66;
    color: white;
    position: absolute;
    z-index: 2000;
    top: 70px;
    bottom: 0;
    /*transform: translate(20%, 0);
    transition: transform 1s;*/
    width: 20%;
}

.accordeonMagazine.openPanel {
    /*transform: translate(-20%, 0);*/
}

.accordeonMagazine > .panel-group {
    background: #1d4f66;
    color: white;
    z-index: 2000;
    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
/*------------------------------------- accordion -------------------*/
.btn-success .glyphicon, .glyphicon {
    font-family: inherit;
}
.accord-group-open {
    background-image: url(../images/btns/deploy_btn.png);
    width: 24px;
    height: 24px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.panel-heading.new {
    border-color: #7EC0D6;
    cursor: pointer;
}

.panel-title.new {
    color: #7EC0D6;
    /*font-weight: 400;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title:hover {
    text-decoration: none;
    color: #ef7a10;
}

.panel-title.new:hover {
    text-decoration: none;
    color: #ef7a10;
}

.panel-default.new {
    border-color: #7EC0D6;
}

.panel-body {
    text-align: left;
    border-top: none
}

.text-collapse {    
}

.panel-title.new > a {
    text-decoration: none;
    outline: none;
}

.accordion-toggle:hover .accord-group-open, .accord-group-open:hover, .accord-group-open.active {
    background-image: url(../images/btns/deploy_btn_act.png);
}

.accord-group-close {
    background-image: url(../images/btns/collaps_btn.png);
    width: 24px;
    height: 24px;
}

.accordion-toggle:hover .accord-group-close, .accord-group-close:hover, .accord-group-close.active {
    background-image: url(../images/btns/collaps_btn_act.png);
}

.panel-group .panel-heading {
    display: inline-flex;
    width: 100%;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 49px;
    padding-top: 7px;
}

.accordion-title {
    height: 20px;
    margin-bottom: 10px;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title.new > .accordion-toggle:hover {
    text-decoration: none;
    color: #ef7a10;
}

.panel-title.new:hover .accordion-toggle.new .accord-group-close {
    background-image: url(../images/btns/collaps_btn_act.png);
}

.panel-title.new:hover .accordion-toggle.new .accord-group-open {
    background-image: url(../images/btns/deploy_btn_act.png);
}

.glyphicon-chevron-down, .glyphicon-chevron-right{
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
}

.btn-success .glyphicon, .glyphicon{
    font-family: inherit;
}
/*---------------------------------end accordion -------------------*/
.glyphicon-menu-up:before
{
content:"\e260"
}

*
{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

.panel-title.new {
    color: #7EC0D6;
    /* font-weight: 400; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title:hover {
    text-decoration: none;
    color: #ef7a10;
}

.panel-title.new:hover {
    text-decoration: none;
    color: #ef7a10;
}

.panel-default.new {
    border-color: #7EC0D6;
}
