.turquoiseskin {
  background-color: #06aa9f; }

.turquoiseskin_dark {
  background-color: #4f8c84; }

.blueskin {
  background-color: #5a87c0; }

.blueskin_dark {
  background-color: #486fa0; }

.greenskin {
  background-color: #70a62a; }

.greenskin_dark {
  background-color: #4f7c30; }

.datepicker-border {
  border: 1px solid #06aa9f !important; }

.datepicker-header-title.active {
  background-color: #ffffff !important;
  border: 1px solid #06aa9f !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; }

.datepicker-header-title:hover {
  background-color: #ffffff !important;
  border: 1px solid #06aa9f !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; }

.datepicker-week-days {
  font-size: 16px !important;
  color: #06aa9f !important; }

.datepicker-btn-info {
  background-color: #06aa9f !important;
  color: #ffffff !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; }

.datepicker-cell:hover {
  background-color: #ffffff !important;
  color: #06aa9f;
  border: 1px solid #06aa9f !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; }

.datepicker-btn-info:hover span {
  color: #06aa9f; }

.datepicker-btns-bar {
  background-color: #06aa9f !important;
  color: white !important;
  font-weight: 500 !important;
  border-color: #06aa9f !important; }

.ngFooterPanel select {
  width: 70px !important;
  height: 32px !important;
  color: #06aa9f !important; }

.ngPagerCurrent {
  height: 32px !important;
  margin-top: 0px !important;
  width: 60px !important;
  color: #06aa9f !important; }

.box-sizing {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
