.date-picker-btn{
    outline: none!important;
    position: absolute;
    border: 0px;
    float: right;
    top: -3px;/*1px;*/
    right: 0px;
    cursor: pointer;
    background-color: transparent;
    padding: 0px!important;
    margin: 0px!important;
    height:36px;
    width:36px;
}
.date-picker-btn:hover, .date-picker-btn:active, .date-picker-btn:focus{
    outline: none!important;
    padding: 0px!important;
    margin: 0px!important;
}

.datepicker-width{
    width: 262px;
    position: absolute;
    z-index: 1001;
}
.datepicker-text-muted{
    color: #999999 !important;
    opacity : 0.5;
}
.datepicker-header-btn{
    width: 18px !important;
    height: 18px !important;
    vertical-align: middle !important;
    text-align: center !important;
    font-size:16px !important;
    padding-left: 5px !important;
    padding-top: 0px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}
.datepicker-header-btn-left{
   background:  url('../images/calendar/calendar_arrow_back.png') !important;
    margin-left: 10px;
}
.datepicker-header-btn-left:hover{
    background: url('../images/calendar/calendar_arrow_back_act.png') !important;
}
.datepicker-header-btn-right{
   background:  url('../images/calendar/calendar_arrow_next.png') !important;
    margin-right: 10px;
}
.datepicker-header-btn-right:hover{
    background: url('../images/calendar/calendar_arrow_next_act.png') !important;
}
.datepicker-header-title{
    font-size: 14px;
    color: #d8a331 !important;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.datepicker-header-title:focus{
    background-color: white !important;
    border: 1px solid #ffffff !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.datepicker-btn-info span{
    color: white;
}
.datepicker-cell{
    font-size: 14px;
    color: #d8a331;
    border-color: #ffffff;
    outline: none!important;
}
.datepicker-cell.active{
    border: 1px solid rgb(224,119,41) !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.input-group>input{
    width:150px;
}

.btn.today{
    margin-right: 10px;
}
.btn:hover{
    background: #f5af1a;
}
