/* style dropdown */
.dropdown-container {
    float: left;
    display: block;
    width: 250px;
}
/* style dropdown-display */
.dropdown-display {
    float: left;
    width: 100%;
    background: white;
    height: 40px;
    cursor: pointer;
    border: solid 1px #DDD;
    box-sizing: border-box;
}

.dropdown-display>*{
    float:left;
    height:100%;
    line-height:40px !important;
    display:inline-block;
    vertical-align:middle;
 }

.dropdown-display>span {
    font-size: 14px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-right: 34px;
    padding-left: 10px;
}
.dropdown-display>span.placeholder {
    color:#AAA;
}
.dropdown-display>i {
     position:relative;
     width:14px;
     margin-left:23px;
     font-size:1.125em;
     font-weight:bold;
     padding-right:10px;
     text-align:right;
 }
/* end of style dropdown-display */

.dropdown-container>div.dropdown-list{
     float: left;
     width: 100%;
     position: relative;
     transform: scale(1, 0);
     transition: transform ease 250ms;
 }

.dropdown-container>div.dropdown-list>div {
     position: absolute;
     width: 100%;
     z-index: 2;
     cursor: pointer;
     background: white;
 }
.dropdown-container>div.dropdown-list>div>div {
     float: left;
     width: 100%;
     padding: 0 10px;
     font-size: 14px;
     box-sizing: border-box;
     border: solid 1px #DDD;
     border-top: none;
 }
.dropdown-container>div.dropdown-list:hover {
    background:#F0F0F0;
}

.dropdown-list>div>*.selected {
    background:#2875C7;
    color:white;
}
.placeholder>i>div.dropdown-list>div.selected>* {
     height:40px;
     line-height:40px !important;
     display:inline-block;
     vertical-align:middle;
 }

.placeholder>i>div.dropdown-list>div.selected>*>span {
     float:left;
     width:100%;
     position:relative;
     padding-right:24px;
     box-sizing:border-box;
     color:inherit;
 }

.placeholder>i>div.dropdown-list>div.selected>*>span>i {
     float:left;
     width:14px;
     margin-left:14px;
     display:none;
 }

.dropdown-container>div.dropdown-list.selected>i {
    display:inline-block;
}

.dropdown-container.show>div.dropdown-list {
     transform:scale(1, 1);
 }
/* end of style dropdown */
.accord-group-open {
    background-image: url(../images/btns/deploy_btn.png);
    width: 24px;
    height: 24px;
}