.maincont {
    font-family: DINPro;
    background-color: #ebedf3;
}

table {
    width: 100%;
}

.title {
    float:left;
    font-size: 20px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    text-transform: uppercase;
}

.blue {
    color: #335da8;
}

.red {
    color: #cc0000;
}
.greencost {
    color: #637c30;
}

.grey {
    color: #696969;
    font-size: 18px;
    margin-top: 0px;
}

.title_row {
    float:left;
    width: 98%;
    overflow-y: scroll;
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.title_div {
    width:auto;
    height:100%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    border-right-style: dotted;
    border-color: #c1c4ca;
}

.number_grey {
    float:left;
    width: 100%;
    text-transform: uppercase;
}

.number_yellow {
    float:left;
    width: 100%;
    text-transform: uppercase;
    color: #cc8710;
    font-size: 24px;
}

.chart_container {
    float:left;
    margin-top: 20px;
}

.chart_bg {
    float:left;
    background-color: #ffffff;
}

.chart_font {
    font-size: 20px;
    color: #324252;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 30%;
    float:right
}

.chart_title {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
    width: auto;
    text-transform: uppercase;
}

.chart_yellow {
    float:right;
    font-size: 24px;
    color: #cc8710;
}

.chart_grey {
    float: right;
    font-size: 16px;
    color: #324252;
}

.align_right {
    width: 100%;
    text-align: right
}

.align_center {
    width: 100%;
    text-align: center;
}

button {
    border: 0px;
    background-color: transparent;
}

.menu_btn {
    width: 58px;
    height: 49px;
}

.page-preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 108px;
    height: 108px;
    margin: -54px 0 0 -54px;
    background: url('/images/preloader_bg.png') no-repeat 50% 50%;
}

.page-preloader-gif{
    width: 108px;
    height: 108px;
    margin: -54px 0 0 -54px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('/images/preloader_animation.gif') no-repeat 50% 50%;
}

.invest-table {
    width: 100%;
}

.invest-table-row {
    width: 100%;
    height: 40px;
}

.invest-table-column-name {
    text-align: left;
    width: 50%;
}

.invest-table-column-value {
    text-align: right;
    width: 25%;
}

.culture_table_column {
    text-align: right;
    width: 20%;
    padding-right: 10px;
}

.culture_table_column_name {
    text-align: left;
    width: 20%;
    padding-left: 10px;
}

.cost_table_cloumn {
    width: 110px;
    text-align: left;
}

.centerAl {
    text-align: center
}
/* Это  */
.rightAl {
    text-align: right
}


.invest-table-orange {
    color: #cc8710;
}

.total_row {
    background-color: rgba(204,135,16,.5);
}

.chart_planfact {
    width: 98%;
    float: left;
    margin-left: 1%;
}

.chart_planfact_small1 {
    margin-top:-20px;
    width: 48.5%;
    float: left;
    margin-left: 1%;
}

.chart_planfact_small2 {
    margin-top:-20px;
    width: 48.5%;
    float: left;
    margin-left: 1%;
}
.chart_pie {
    width:38%;
    float: left;
    margin-left: 1%;
}

.chart_column {
    width:59%;
    float: left;
    margin-left: 10px;
}

.verticaltext {
    background-color: #ebecf3;
    padding-left: 5px;
    padding-right: 5px;
}

.title_numbers {
    float: right;
    width: 150px;
    /*margin-left: 20px;*/
}

@media only screen
and (min-device-width : 200px)
and (max-device-width : 1024px) {
    .chart_planfact {
        width: 98%;
        float: left;
        margin-left: 1%;
    }

    .chart_planfact_small1 {
        margin-top:-10px;
        width: 98%;
        float: left;
        margin-left: 1%;
    }
    .chart_planfact_small2 {
        margin-top:-10px;
        width: 98%;
        float: left;
        margin-left: 1%;
    }

    .chart_pie {
        width:98%;
        float: left;
        margin-left: 1%;
    }

    .chart_column {
        width:98%;
        float: left;
        margin-left: 1%;
    }

    .verticaltext {
        transform: rotate(90deg);
        transform-origin: right, top;
        -ms-transform: rotate(90deg);
        -ms-transform-origin:right, top;
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin:right, top;
        position: absolute;
        margin-left: -35px;
        margin-top: -45px;
        background-color: transparent;
        padding-left: 0px;
        padding-right: 0px;
    }

    .title_numbers {
        float: none;
        margin-left: 1%;
        width: 98%;
    }

    circle {
        pointer-events: none
    }

    text {
        pointer-events: none
    }

    g{
        pointer-events: none
    }
}




