.tooltipDraw {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltipDraw-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltipDraw-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltipDraw-measure:before,
.tooltipDraw-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltipDraw-static:before {
  border-top-color: #ffcc33;
}
.tooltipDraw-draw {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 3px;
  height: 10px;
  cursor: pointer;
  padding: 0 0 0 -2px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 13px/4px "Times New Roman", Times, serif;
  color: rgba(95,180,211,0.9);
  text-indent: -1px;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(206,224,92,0.9);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.delete-draw:hover {
  color: rgba(7,3,2,0.9);
  text-indent: -2px;
  background: #0199d9;
}