
.map{
    background-color: #ffffff;
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 75%;
    height:100%;
    float: left;
}

.menu {
    top: 20px;
    left: 20px;
}
.menu_button {
    width:56px;
    height: 56px;
    margin-left: 20px;
    float: left;
    border: 0px;
}
.layers_menu {
    top: 85px;
    left:130px;
    background-color: #a9955d;
}
.corner {
    background-image: url(../images/map/menu/corner.png);
    background-repeat: no-repeat;
    width: 9px;
    height: 5px;
    margin-top: -5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.refresh {
    background: url(../images/map/menu/refresh_btn.png);
}
.refresh:hover{
    background: url(../images/map/menu/refresh_btn_act.png);
}

.map_ul {
    list-style-type:none;
}

input[type="checkbox"] + label
{
    font: 16px bold;
    font-family: DINPro;
    color: #3b4252;
    cursor: pointer;
    background: url(../images/map/menu/check_off.png) 0 0 no-repeat;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(../images/map/menu/check_off.png) 0 0 no-repeat;
    background-position: -38px -255px;
}
input[type="checkbox"]:checked + label {
    background-position: -114px -275px;
    background: url(../images/map/menu/check_on.png) 0 0 no-repeat;
}

.info_panel{
    background-color: #ffffff;
    position: absolute;
    height:100%;
    width:300px;
    right:0px;
    float: right;
    overflow-y: scroll;
}

.right_shadow {
     width: 7px;
     background: url(../images/map/info_panel/shadow_right.png);
     left:58px;
     top: -3px;
     bottom: 0px;
     position: absolute;
 }

.left_shadow {
    width: 7px;
    background: url(../images/map/info_panel/shadow_left.png);
    right:0px;
    top: -3px;
    bottom: 0px;
    position: absolute;
}

.info_panel_container {
    width: 90%;
    height: 96%;
    margin-top: 5%;
    margin-left: 5%;
}

.info_icon {
    float: left;
    width: 18px;
    height: 18px;
    background: url(../images/map/info_panel/info_icon.png) 0 0 no-repeat;
}
.car_icon {
    float: left;
    width: 46px;
    height: 46px;
    margin-top: 10px;
}
.right-align {
    text-align: right;
}
.white {
    color: #fff;
}

.green {
    color: #538413
}

.separator {
    background-color: #7c6839;
    height: 1px;
    width: 100%;
    float: left;
    margin-top: 15px;
}
.block_title {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: right;
    height: 10px;
    width: 100%;
    float: left;
}

.plant_block {
    width: 100%;
    height: 66px;
}
.plant_name {
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}
.plant_area {
    float:right;
    margin-top: 25px;
}
.work_head1{
    width:60%; float:left;padding-top: 10px;margin-bottom: -10px;
}
.work_head2{
    width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right
}
.work1{
    width:60%; float:left;padding-top: 10px;margin-bottom: -10px;
}
.work2{
    width:20%; float:left;padding-top: 10px;margin-bottom: -10px;text-align: right
}

.tech_info_block {
    width: 100%; padding-top:15px;padding-bottom:10px;float: left
}
.tech_info_title {
    float: left;width: 50%
}
.tech_info_value {
    text-align: right;float: left;width: 50%
}

.tech_task_block {
    width: 100%;
    height: 50px;
    background-color: #70a62a;
    float: left;
    margin-top: 1px
}
.tech_task_block:hover {
    background-color: #c78e23;
}
.tech_task_title {
    margin-left: 10px;
    margin-top: 15px;
}

.tech_task_title:hover  {
    margin-left: 10px;
    margin-top: 15px;
    text-decoration: none;
}

header {
    font-family: DINPro;
    font-size: 16px;
}

.search_menu {
    position: absolute;
    top: 85px;
    left: 125px;
    background-color: #a9955d;
    padding-left: 20px;
    padding-right: 20px;
}

.subtitle{
    font-family: DINProNormal;
}

.search_ul {
    width: 300px;max-height: 400px;overflow-y: scroll; overflow-x: hidden;
}
.search_li {
    width:250;margin-left: -40px; min-height: 46px; text-align: left;float: left;
    height: auto;
}
.search_li_div {
    height: auto;
    float:left; text-align: left;
    width: 300px;
}
.search_icon {
    width:46px;height:46px;float: left;
}

.filterinput {
    width: 300px;
}

/*
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}
*/
.plantButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/cultures_btn.png);
}

.plantButton:hover, .plantButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/cultures_btn_act.png);
}

.plantButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/cultures_btn_act.png);
}

.layersButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/layers_btn.png);
}

.layersButton:hover, .layersButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/layers_btn_act.png);
}

.layersButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/layers_btn_act.png);
}

.printButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/print_btn.png);
}
.printBigButton   {
	width: 64px;
    height: 64px;
	margin-left:80px;
	margin-top:110px;
    background: url(../images/map/menu/print_btn2.png);
}

.printBigButton:hover, .printBigButton.active  {
	width: 64px;
    height: 64px;
	margin-left:80px;
	margin-top:110px;
    background: url(../images/map/menu/print_btn2_active.png);
}

.printButton:hover, .printButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/print_btn_act.png);
}

.printButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/print_btn_act.png);
}
.searchButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/search_btn.png);
}

.searchButton:hover, .searchButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/search_btn_act.png);
}

.searchButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/search_btn_act.png);
}
.LineButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/line.png);
}

.LineButton:hover, .LineButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/line_act.png);
}

.LineButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/line_act.png);
}
.AreaButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/area.png);
}

.AreaButton:hover, .AreaButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/area_act.png);
}

.AreaButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/area_act.png);
}

.infoButton {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/info.png);
}

.infoButton:hover, .infoButton.active  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/info_act.png);
}	

.infoButtonSelected  {
    width: 58px;
    height: 49px;
    background: url(../images/map/menu/info_act.png);
}

.panelSearch, .panelLayers, .panelPlant, .panelPrint {
    width: 300px;
    background-color: #ffffff;
    border-color: #3b4252;
    border-width: 2px;
    transform: translate(-242px, 0);
    transition: transform 1s;
    position: absolute;
    padding: 20px;
    top: 0px;
    bottom: 0;
    font-family: HelveticaNeueCyrRoman;
    color: #70abbf;
    z-index: 1000;
}

.checkboxtext
{
  font-size: 130%;
  display: inline;
}


.panelSearch.openPanel, .panelPlant.openPanel, .panelLayers.openPanel, .panelPrint.openPanel {
    transform: translate(58px, 0);
    z-index: 1000;
}

.panelInfo {
    width: 0px;
    background-color: #ffffff;
    border-color: #3b4252;
    border-width: 2px;
    transform: translate(58px, 0);
    transition: transform 1s;
    position: absolute;
    padding: -1px;
    top: 0px;
    bottom: 0;
    font-family: HelveticaNeueCyrRoman;
    color: #70abbf;
    z-index: 1000;
	
}

.panelInfo.openPanel {
	width: 300px;
	transform: translate(-300px, 0);
    z-index: 1000;
	visibility: visible;
}
