.ngFooterPanel{
    background: url("../images/pattern_footer.png");
}

.ngPagerButton{
    padding: 0;
    margin: 0;
    border: 0;
    height: 32px;
    min-width: 29px;
    -webkit-appearance: none;
}
.ngFooterPanel .ngPagerFirstBar{
    background: url("../images/table_footer/by_start_btn.png");
    border-style: none;
    width: 29px;
    height: 32px;
    border-left: 0;
    margin-top: 0;
    margin-left: 0;
}
.ngFooterPanel .ngPagerFirstBar:hover{
    background: url("../images/table_footer/by_start_btn_act.png");
    cursor: pointer;
}
.ngFooterPanel .ngPagerFirstTriangle{
    width: 0;
    height: 32px;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    margin-left: 0;
}
.ngFooterPanel .ngPagerPrevTriangle{
    background: url("../images/table_footer/back_btn.png");
    border-style: none;
    width: 29px;
    height: 32px;
}
.ngFooterPanel .ngPagerPrevTriangle:hover {
    background: url("../images/table_footer/back_btn_act.png");
    cursor: pointer;
}


.ngFooterPanel .ngPagerLastTriangle{
    background: url("../images/table_footer/next_btn.png");
    border-style: none;
    width: 29px;
    height: 32px;
    border-left: 0;
    margin-top: 0;
    margin-left: 0;
}
.ngFooterPanel .ngPagerLastTriangle:hover{
    background: url("../images/table_footer/next_btn_act.png");
    cursor: pointer;
}
.ngFooterPanel .ngPagerLastBar{
    background: url("../images/table_footer/by_end_btn.png");
    border-style: none;
    width: 29px;
    height: 32px;
    border-left: 0;
    margin-top: 0;
    margin-left: 0;
}
.ngFooterPanel .ngPagerLastBar:hover{
    background: url("../images/table_footer/by_end_btn_act.png");
    cursor: pointer;
}



.ngRowCountPicker, .ngFooterTotalItems{
    color: white;
}
.ngFooterTotalItems{
    padding: 9px;
}