/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}


/* Select2 theme */


/* Selectize theme */

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Fix input width for Selectize theme */
.selectizeblue-control > .selectizeblue-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectizeblue-control > .selectizeblue-dropdown {
  width: 100%;
}

/* Bootstrap theme */

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-select-bootstrap > .ui-select-match {
  /* Instead of center because of .btn */
  text-align: left;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}