.selected_row {
    background-color: #efd3b3;
    color: #fff
}

.row_span {
    text-overflow: ellipsis;
    font-size: 14px;
    margin-left: -15px;
    margin-top: auto;
    color: #696969;
    line-height: 50px;
}

.tc_separator {
    width: 100%;
    height: 1px;
    background-color: #a8c1de;
}

.disabled_row {
    disabled: true
}

.menu_btn {
    width: 58px;
    height: 49px;
    border: 0;
    background-color: transparent;
}

.tc_title {
    color: #517bb1;
    font-size: 18px;
    text-transform: uppercase;
    height: 30px;
}

.tc-col-5 {
    width: 20%; float: left;
}

.tc-padding-5 {
    padding-left: 5px;
}

.tc-block {
    width: 100%; float: left; margin-top: 20px
}